
     
<div class = "table-responsive1">
              <table class="table table-bordered table-striped " data-page-length='50' style="width: auto!important;">
                

 <thead  >
                <tr>
                  <%
                    columns = ["id","Customer","No. of Trucks","Pickup Location","Drop Location","Pickup Date","Pickup Time","Status","Actions"]
                     columns.each do |col|
                  %>
                    <th><%= col.humanize %></th>
                  <%end%>
                </tr>
                </thead>    <tbody>
    <tbody  >
                <% shipments.each do |shipment|%>
                  <tr>
                    <td> <%= shipment.try(:id) %> </td>
                     <td> <%= shipment.try(:company).try(:company_name) %></td>
                     <td> <%= shipment.try(:no_of_vehicles) %></td>


                    <td> <%= shipment.try(:pickup_full_address) %> </td>
                    <td> <%= shipment.try(:drop_full_address) %> </td>
                    <td> <%= shipment.try(:pickup_date).strftime(display_date_format) %> </td>
                    <td> <%= local_time_format shipment.try(:pickup_time) %> </td>
                    <td> <%= shipment.status %></td>

                    <td>
                      <%= link_to "View", moderator_shipment_path(shipment), class: "btn btn-info btn-flat grid-btn" %>
                      <%= link_to "Edit", edit_moderator_shipment_path(shipment), class: "btn btn-warning btn-flat grid-btn" %>
                     <%= link_to fa_icon('eye'), edit_history_moderator_shipment_path(shipment.id), class: "btn btn-warning btn-flat grid-btn" %>

                      <% if shipment.completed? or shipment.cancel? %>
                        <%= link_to "Add Discount", edit_moderator_shipment_path(shipment) , class: "btn btn-success btn-flat grid-btn" , remote: true%>
                      <% end %>
                      <% if  shipment.state != "cancel"  && shipment.state != "completed" %>
                        <%= link_to "Cancel", cancel_moderator_shipment_path(shipment),method: :delete,data: { confirm: 'Are you sure?' }  ,class: "btn btn-danger btn-flat grid-btn" %>
                      <% end %>
                      
                      <% if [ "accepted","vehicle_assigned","ongoing"].include? shipment.state %>

                          <%= link_to "Complete ", moderator_shipment_path(shipment , "shipment[state_event]" => :completed, "shipment[completed_by]" => "admin"),method: :patch, data: {confirm: "Are you sure you want to complete this shipment?"}, class: "btn btn-danger btn-flat grid-btn" %>
                      <%end%>
                          <% link_text = shipment.shipment_fleets.present? ? "Change Driver" : "Assign Driver"%>
                           <%= link_to link_text ,assign_vehicle_moderator_shipment_path(shipment.id),remote: :true, class: "btn btn-danger btn-flat grid-btn"  %>         
                                                             <% if ["accepted", "vehicle_assigned", "ongoing","completed"].include? shipment.state %>

                          <% link_text = shipment.lorryz_share_amount.blank? ? "Add Costing" : "Update Costing"%>
                           <%= link_to link_text ,assign_cost_moderator_shipment_path(shipment.id),remote: :true, class: "btn btn-danger btn-flat grid-btn" , style: ' background-color: green; border:none' %>         
                      <%end%>
                      
              
                    </td>

           
                  </tr>
                <%end%>
                </tbody>
      
       
       
  </table>
</div>





  
    

