<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><%= @user.try(:role).try(:humanize)%> Details</h3>
              <br>
              <%if @user.cargo_owner? and @user.company.is_contractual? %>
                <%= link_to "Add New Contract" , new_moderator_location_path(company_id: @user.company.id) , class: "btn btn-flat btn-success pull-right1"%>
                <%= link_to "View Cargo Contracts" , moderator_cargo_contracts_path(company_id: @user.company.id) , class: "btn btn-flat btn-info pull-right1"%>
            <%end%>
              <%= link_to "Edit",moderator_edit_user_path(user_id: @user.id), class: "btn btn-flat btn-success pull-right1" %>
              <h2></h2>
            </div>
            <div class="list-group">
              <li class="list-group-item"><label>First Name: </label>
                <%= @user.first_name %>
              </li>
              <li class="list-group-item"><label>Last Name: </label>
                <%= @user.last_name %>
              </li>
              <li class="list-group-item"><label>Mobile:</label>
                <%= @user.mobile %>
              </li>
              <li class="list-group-item"><label>Role:</label>
                <%= @user.role.humanize %>
              </li>
              <%if @user.fleet_owner? %>
                <li class="list-group-item"><label>Number of Driver:</label>
                  <%= @user.try(:company).company_type == "company" ?  @user.try(:company).try(:drivers).count :  1%>
                </li>
                <li class="list-group-item"><label>Number of Vehicles:</label>
                  <%= @user.try(:company).try(:vehicles).count %>
                </li>
              <%end %>
              <li class="list-group-item"><label>Mobile Verified:</label>
                <%= @user.mobile_verified? %>
              </li>
<!--              <li class="list-group-item"><label>Verification Code:</label>-->
                <%#= @user.verification_code %>
<!--              </li>-->
              <li class="list-group-item"><label>Country:</label>
                <%= @user.try(:country).try(:name )%>
              </li>
              <%if @user.cargo_owner? %>
                <li class="list-group-item"><label>Credit Period (Days):</label>
                  <%= @user.try(:company).try(:credit_period) %>
                </li>
                <li class="list-group-item"><label>Credit Amount:</label>
                  <%= @user.try(:company).try(:credit_amount) %>
                </li>
                <li class="list-group-item"><label>Contractual:</label>
                  <%= @user.try(:company).try(:is_contractual) %>
                </li>
              <%elsif @user.fleet_owner?%>
                <li class="list-group-item"><label>Tax Registration Number:</label>
                  <%= @user.try(:company).try(:tax_registration_no) %>
                </li>
              <%end%>
              <li class="list-group-item"><label>Verified: </label>
                <%= @user.try(:company).try(:verified) %>
              </li>
              <li class="list-group-item"><label>Featured: </label>
                <%= @user.try(:company).try(:featured) %>
              </li>
              <li class="list-group-item"><label>BlackListed: </label>
                <%= @user.try(:company).try(:blacklisted) %>
              </li>
              <li class="list-group-item"><label>Safe for cash on delivery: </label>
                <%= @user.try(:company).try(:safe_for_cash_on_delivery) %>
              </li>
              <% if @user.try(:company).try(:individual_information).present?
                @individual_information = @user.try(:company).try(:individual_information)
              %>
                  <li class="list-group-item"><label>Secondary Mobile no: </label>
                    <%=@individual_information.secondary_mobile_no %>
                  </li>
                  <li class="list-group-item"><label>Landline No: </label>
                    <%=@individual_information.landline_no %>
                  </li>
                  <li class="list-group-item"><label>National id: </label>
                    <%=@individual_information.national_id %>
                  </li>
                  <li class="list-group-item"><label>Expiry Date: </label>
                    <%=@individual_information.expiry_date %>
                  </li>
                    <li class="list-group-item"><label>Passport No: </label>
                    <%=@individual_information.passport_no %>
                  </li>
                    <li class="list-group-item"><label>Passport Expiry Date: </label>
                    <%=@individual_information.passport_no_expiry %>
                  </li>
                  <li class="list-group-item"><label>visa no : </label>
                    <%=@individual_information.visa_no %>
                  </li>
                    <li class="list-group-item"><label>Visa expiry Date: </label>
                    <%=@individual_information.visa_no_expiry %>
                  </li>
                    <li class="list-group-item"><label>License no : </label>
                    <%=@individual_information.license_no %>
                  </li>
                    <li class="list-group-item"><label>License expiry Date: </label>
                    <%=@individual_information.license_no_expiry %>
                  </li>


                  <li class="list-group-item"><label>News Update: </label>
                    <%=@individual_information.news_update? %>
                  </li>

                  <%= render partial: "show_documents", locals: {info: @individual_information}%>
            <%elsif @user.try(:company).try(:company_information).present?
                  @company_information = @user.try(:company).try(:company_information)
              %>
                  <li class="list-group-item"><label>Name: </label>
                    <%=@company_information.name %>
                  </li>
                  <li class="list-group-item"><label>Address: </label>
                    <%=@company_information.address %>
                  </li>
                  <li class="list-group-item"><label>Landline No: </label>
                    <%=@company_information.landline_no %>
                  </li>
                  <li class="list-group-item"><label>Website Address: </label>
                    <%=@company_information.website_address %>
                  </li>
                  <li class="list-group-item"><label>License Number: </label>
                    <%=@company_information.license_number %>
                  </li>
                  <li class="list-group-item"><label>License Expiry Date: </label>
                    <%=@company_information.license_expiry_date%>
                  </li>
                  <li class="list-group-item"><label>Secondary Contact Name: </label>
                    <%=@company_information.secondary_contact_name%>
                  </li>
                  <li class="list-group-item"><label>Secondary Mobile No: </label>
                    <%=@company_information.secondary_mobile_no %>
                  </li>
                  <li class="list-group-item"><label>News Update: </label>
                    <%=@company_information.news_update? %>
                  </li>
                  <%= render partial: "show_documents", locals: {info: @company_information}%>
            <%end%>
              <%drivers = @user.try(:company).try(:drivers) %>
              <%if drivers.present? %>
                <li class="list-group-item">
                  <h3> Drivers </h3>
                </li>
                <table class="table table-bordered table-striped admin_listings" data-page-length='10' style="width: auto!important;">
                  <thead>
                  <% ["Full Name", "Mobile Number","National Id:", "Expiry date", "License","License Expiry",
                     "License Documents",
                     "Emirate Documents",
                     "Profile Pic"].each do |heading| %>
                    <th><%= heading %></th>
                  <% end %>
                  </thead>
                  <tbody>
                  <% drivers.each do |driver| %>
                    <tr>
                      <td><%= driver.try(:full_name)  %></td>
                      <td><%= driver.try(:mobile)  %></td>
                      <td><%= driver.try(:driver_information).try(:national_id) %> </td>
                      <td><%= driver.try(:driver_information).try(:expiry_date )%> </td>
                      <td><%= driver.try(:driver_information).try(:license )%> </td>
                      <td><%= driver.try(:driver_information).try(:license_expiry )%> </td>
                      <td>
                        <% if driver.driver_information.present? and driver.driver_information.license_documents.present?%>
                          <%driver.driver_information.license_documents.each_with_index  do |doc ,index| %>
                            <li>
                              <a target="_blank" href="<%= doc %>">
                                <span class="remove_thumbnail">x</span>
                                License Document <%=index + 1 %>
                              </a>
                            </li>
                          <%end %>
                        <%end %>
                      </td>
                      <td>
                        <% if driver.driver_information.present? and driver.driver_information.emirate_documents.present?%>
                          <%driver.driver_information.emirate_documents.each_with_index  do |doc ,index| %>
                            <li>
                              <a target="_blank" href="<%= doc %>">
                                <span class="remove_thumbnail">x</span>
                                Emirates Document <%=index + 1 %>
                              </a>
                            </li>
                          <%end %>
                        <%end %>
                      </td>
                      <td>
                        <% if driver.driver_information.present? and driver.driver_information.avatar.present?%>
                          <li>
                              <a target="_blank" href="<%= driver.driver_information.avatar %>">
                              <span class="remove_thumbnail">x</span>
                              Profile Picture
                            </a>
                          </li>
                        <%end %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              <%end %>
              <%vehicles = @user.try(:company).try(:vehicles) %>
              <%if vehicles.present? %>
                <li class="list-group-item">
                  <h3> Vehicles </h3>
                </li>
                <table class="table table-bordered table-striped admin_listings" data-page-length='10' style="width: auto!important;">
                  <thead>
                  <% ["Vehicle Type", "registration_number", "insurance_number","Expiry date","authorization_letter", "insurance_expiry_date", "Driver Assigned", "Vehicle Document"].each do |heading| %>
                    <th><%= heading.humanize %></th>
                  <% end %>
                  </thead>
                  <tbody>
                  <% vehicles.each do |vehicle| %>
                    <tr>
                      <td><%= vehicle.try(:vehicle_type).try(:name)  %></td>
                      <td><%= vehicle.try(:registration_number)  %></td>
                      <td><%= vehicle.try(:insurance_number)  %></td>
                      <td><%= vehicle.try(:expiry_date) %> </td>
                      <td><%= vehicle.try(:authorization_letter) %> </td>
                      <td><%= vehicle.try(:insurance_expiry_date) %> </td>
                      <td><%= vehicle.driver.full_name rescue "" %> </td>
                      <td >
                        <%if vehicle.documents.blank? %>
                          <p>No document found!</p>
                        <% else%>
                          <br>
                            <% vehicle.documents.each do |doc|%>
                              <a target="_blank" href="<%= doc %>">
                                <img src="<%= doc %>" alt="document" class = "document_thumbnail">
                              </a>
                            <% end %>
                        <%end %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              <%end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>