<div class="map-form-bg">
  <div class="map-form">
    <h2>Resend confirmation instructions</h2>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%#= devise_error_messages! %>
        <%= render 'layouts/error_messages', object: resource %>
        <div class="field">
        <%= f.label "*" , class: "label_required"%>
        <strong><label>Email</label></strong>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), required: true %>
      </div>
      <div class="actions">
        <%= f.submit "Resend confirmation instructions",class: "submit-btn" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>