<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">GPS</h3>
              <%#= render partial: "/shared/download_excel" %>
              <br>
              <%= link_to "Download in Excel", url_for(format: :xlsx), class: "btn btn-flat btn-success pull-right" %>
              <%= link_to "Add New GPS" , new_admin_gps_vehicle_path , class: "btn btn-flat btn-success pull-right  add_country"%> 
            </div>
            <div class = "card-body">

              <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:admin_gps_vehicle_index_path, method: :get do |f|%>
                <div class="row ship">
                  <div class="col-md-4 col-sm-4 ">
                   <%= f.label :country %>
                     <div class="selectHolder">
                  <%= f.collection_select :country_id, @countries, :id,:name,{include_blank: "Specify Country?"  ,:selected => params[:query][:country_id]},{class: "form-control" } %>
                   </div>

                  </div>
               <div class="col-md-4 col-sm-4 ">
                   <%= f.label :status %>
                   <div class="selectHolder">
                   <% if params[:query][:status] == true 
                      @selected= "Busy" 
                      end
                       if params[:query][:status] == false 
                      @selected= "Free" 
                      end
                      %>
                   <%= f.select :status ,options_for_select(["Busy","Free"] ,:selected => @selected), {:prompt => " Status" } , class: "form-control" %>
                     
                   </div>

                  </div>
                  <div class="col-md-4 col-sm-4">
                    <%= f.submit "Search" , class: "btn btn-primary submit-btn" %>
                  </div>
                </div>
                <% end %>
              </div>
    <form action="">
    <h5>GPS Information</h5>
    <div class = "row form-group">
       <div class  =" col-md-3">
           
           <%= text_field_tag :user_id, nil, value: @total, class: "form-control" ,placeholder:  "User ID"  ,:disabled => true %>
       </div>
       <div class  =" col-md-3">
           <%= text_field_tag :start_date, nil, value:  @active_gps, class: "search-datepicker datepick form-control"   ,:disabled => true,placeholder:  "Start Date" %>
       </div>
       <div class  =" col-md-3">
           <%= text_field_tag :end_date ,nil, value: @inactive_gps, class: "search-datepicker datepick form-control"  ,:disabled => true ,placeholder:  "End Date"  %>
       </div>
     
    </div>      
            <table class="table table-bordered table-striped admin_listings" data-page-length='50'>
              <thead>
              <tr>
                <% columns = ["GPS ID", "IMEI Number", "GPS Manufacturer", "GPS Supplier", "Country","Assigned Vehicle ID","GPS Status","Action"]
                   columns.each do |col|
                %>
                  <th style="text-align: left;"><%= col %></th>
                <%end%>
              </tr>
              </thead>
              <tbody>
              <% @gps.each do |gps|%>
                  <tr>
                  <% @driver = Vehicle.find(gps.vehicle_id).user_id  if gps.vehicle_id.present?%>
                  <%@fleet =User.find(@driver)  if gps.vehicle_id.present?%>
                    <td><%= gps.try(:id) %></td>
                    <td><%= gps.try(:imei) %></td>
                    <td><%= gps.try(:manufacturer) %></td>
                    <td><%= gps.try(:supplier) %></td>
                    <td><%= gps.country.name %></td>
                    <td><%= @fleet.formatted_name if gps.vehicle_id.present? %></td>
                     <%@status = '' 
                      @count = 0 
                     @count= @active_fleet_admins.where(:company_id => @fleet.company_id).count +@active_fleets.where(:company_id => @fleet.company_id).count  if gps.vehicle_id.present?
                      if @count >0 
                      @status ="Busy"
                      else
                      @status ="Free"
                      end    
                      %>

                    <td><%= @status %> </td> 
                    <td> <%= link_to "Edit", edit_admin_gps_vehicle_path(gps),class: "block-btn btn btn-info btn-flat" %>    </td>
                  </tr>
              <%end%>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>