<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title"><%= action %> Driver</h3>
          </div>
          <form role="form">
            <div class="card-body">
              <div class = "avatar12">
                <% if @driver.driver_information.present? and @driver.driver_information.avatar.present? %>
                  <div class= "">
                    <%= image_tag(@driver.driver_information.avatar , class: "avatar" )%>
                  </div>
                <%end%>
                <%= f.fields_for "driver_information" do |f| %>
                  <div class="field form-group">
                    <%= f.label :avatar, "Profile Picture" %><br>
                    <%= f.hidden_field "avatar", class: "js-signed-upload-value" , value: @driver.driver_information.avatar %>
                    <input type="file" class="js-signed-upload" data-presign-url="<%=  presign_upload_companies_path %>" />
                    <p class="js-signed-upload-status"></p>
                  </div>
                <%end%>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :country %>
                <%= f.collection_select("default country", Country.all, :id, :display_name,{:prompt => "*Country", selected: current_user.country_id }, { class: "form-control" ,disabled: true} )%>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label "Driver's Mobile No.", "Driver's Mobile No." %>
                <%= f.number_field :login , class: "form-control", placeholder: "*Driver's Mobile Number" ,type: :number,pattern: "[0-9]", required: true%>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :full_name , "Full Name"%>
                <% action == "Add" ? (full_name = nil) : (full_name = @driver.full_name)%>
                <%= f.text_field :full_name , class: "form-control", placeholder: "*Driver's Full Name", value: full_name , required: true%>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :national_id, "Driver's Emirates ID No." %>
                <%nationl_id = @driver.driver_information.national_id rescue ""%>
                <%= f.text_field :national_id , class: "form-control", placeholder: "*Driver's Emirates ID No.", value: nationl_id, required: true %>
              </div>
              <div class="form-group has-feedback">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label 'user[expiry_date]', "Expiry Date" %>
                <% expiry_date =  @driver.driver_information.expiry_date rescue ""%>
                <%= text_field_tag "user[expiry_date]","", class: "datepicker form-control" ,placeholder:  "*Expiry Date" , required: true , value: expiry_date%>
              </div>
              <div class = "form-group has-feedback">
                <%= f.fields_for "driver_information" do |f| %>
                  <div class="form-group has-feedback attachment">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :emirate_documents , "Upload Front & Back side of Emirates ID"%><br>
                    <%= f.hidden_field :emirate_documents, multiple: true, class: "js-signed-upload-value" , value: @driver.driver_information.emirate_documents %>
                    <input type="file" class="js-signed-upload" multiple data-presign-url="<%= presign_upload_companies_path %>" , required=true/>
                    <div class="attached_files container">
                      <p class="js-signed-upload-status">
                        <% if @driver and @driver.driver_information.emirate_documents.present? %>
                          <ul class="documents_list">
                            <% @driver.driver_information.emirate_documents.each do |doc| %>
                              <li>
                                <a target="_blank" href="<%= doc %>">
                                  <span class="remove_thumbnail">x</span>
                                  <img src="<%= doc %>" alt="document" class="document_thumbnail">
                                </a>
                              </li>
                            <% end %>
                          </ul>
                        <br><br><br>
                        <% end %>
                      </p>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="form-group has-feedback">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label "user[license_expiry]","Driving Licence Number" %>
                <% license = @driver.driver_information.license rescue ""%>
                <%= text_field_tag "user[license]","", class: " form-control" ,placeholder:  "*Driving Licence Number" ,value: license, required: true%>
              </div>
              <div class="form-group has-feedback">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label "user[license]","Driving Licence Expiry Date" %>
                <% license_expiry =  @driver.driver_information.license_expiry rescue ""%>
                <%= text_field_tag "user[license_expiry]","", class: "datepicker form-control" ,value: license_expiry,placeholder:  "*Driving Licence Expiry Date" , required: true%>
              </div>
              <div class="form-group has-feedback">
                <%= f.fields_for "driver_information" do |f| %>
                  <div class="form-group has-feedback attachment">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :license_documents , "Upload scanned copy of your License" %><br>
                    <%= f.hidden_field :license_documents , multiple: true, class: "js-signed-upload-value", value: @driver.driver_information.license_documents %>
                    <input type="file" class="js-signed-upload" multiple data-presign-url="<%= presign_upload_companies_path %>" required=true/>
                    <div class="attached_files container">
                      <p class="js-signed-upload-status">
                        <% if @driver and @driver.driver_information.license_documents.present? %>
                        <ul class="documents_list">
                          <% @driver.driver_information.license_documents.each do |doc| %>
                            <li>
                              <a target="_blank" href="<%= doc %>">
                                <span class="remove_thumbnail">x</span>
                                <img src="<%= doc %>" alt="document" class="document_thumbnail">
                              </a>
                            </li>
                          <% end %>
                        </ul>
                        <br><br><br>
                      <% end %>
                      </p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="card-footer">
              <%= f.submit submit_button_text , class: "btn btn-primary" %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    $(".remove_thumbnail").click(function (e) {
        e.preventDefault()
        value = $(this).parents(".form-group").find(".js-signed-upload-value").val()
        value = value.split(" ")
        remove_url = $(this).parents("a").attr("href")
        index = value.indexOf(remove_url)
        value.splice(index, 1)
        $(this).parents(".form-group").find(".js-signed-upload-value").val(value.join(" "))
        $(this).parents("a").addClass("hide")
    })
</script>