<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class = "card-body">
          <div class="card">
            <div class="balance-header">
              <h1 >Payable & Receivable</h1>
            </div>
            <div class = "row">
              <div class = "container">
                <% if (fleet_current_receivable_payments @shipments) > (fleet_current_payable_payments @shipments) %>
                  <div class="pull-right">
                    <label>Current Receivable</label>
                    <%# current_receivable = @shipments.where(paid_to_fleet: false, payment_option: ["bank_remittance","credit_period"]).sum(:fleet_income)%>
                    <div class="btn btn-info btn-flat"><%= user_currency %> <%= format_amount_to_currency(fleet_current_receivable_payments @shipments) %></div>
                    <br>
                    <span class="pull-right">Receive From Lorryz</span>
                  </div>
                <% end %>
                <%if (fleet_current_payable_payments @shipments) >= (fleet_current_receivable_payments @shipments) %>
                  <div class = "pull-right">
                    <label>Current Payable</label>
                    <%# current_payable = @shipments.where(lorryz_comission_received: false, payment_option: ["before_pick_up","after_delivery"]).sum(:lorryz_share_amount)%>
                    <div class="btn btn-info btn-flat"><%= user_currency %> <%= format_amount_to_currency(fleet_current_payable_payments @shipments)%></div>
                    <br>
                    <span class = "pull-right" >Pay to Lorryz</span>
                  </div>
                <%end%>
            </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="shipments_listing" class="table table-bordered table-striped" data-page-length='10'>
                <thead>
                <tr>
                  <th>Shipment Number</th>
                  <th>Payment Mode</th>
                  <th>Invoice Date</th>
                  <th>Amount</th>
                  <th class = "hide">Actions </th>
                </tr>
                </thead>
                <tbody>
                <% @shipments.each do |s|%>
                    <tr>
                      <td>
                        <strong><%= s.id%></strong>
                        <div><%=  s.try(:pickup_date).strftime(display_date_format)  rescue "" %></div>
                      </td>
                      <td><%= s.try(:payment_option).try(:camelcase)  %> </td>
                      <td><%= s.try(:display_date).strftime(display_date_format) rescue "" %></td>
                      <td> <%= shipment_currency s %>

                        <% if s.state == "cancel" && s.cancel_by == "fleet_owner" %>
                          <%= format_amount_to_currency(s.cancel_penalty) %>
                        <% elsif s.state == "completed" %>
                          <%= format_amount_to_currency(s.amount) %>
                        <% end %>

                        <%#= format_amount_to_currency s.try(:amount).try(:to_f)%>

                      </td>
                      <td class = "hide">
                        <%#= link_to "View",cargo_shipment_path(s) , class: "btn btn-success btn-flat" %>
                        <% if ["cancel", "completed"].include? s.state %>
                            <%# link_to "Rate", ratings_shipment_path(shipment_id: s.id),remote: :true, class: "btn btn-warning btn-flat" %>
                        <%end%>
                      </td>
                    </tr>
                <%end%>
                </tbody>
                <tfoot>
                <tr rowspan="2">
                  <td colspan="3" style="text-align:right">Total:</td>
                  <td><%= user_currency %> <%=format_amount_to_currency(@shipments.where(state: "completed").sum(:amount) + @shipments.where(state: "cancel", cancel_by: "fleet_owner").sum(:cancel_penalty))%></td>
                </tr>
                <tr>
                  <td colspan="3" style="text-align:right">Lorryz Commission:</td>
                  <td>
                    <% lorryz_share_amount =  (@shipments.where(state: "completed").sum(:lorryz_share_amount).to_f) rescue 0.0 %>
                    <%= user_currency %> <%= format_amount_to_currency( lorryz_share_amount  )%></td>
                </tr>
                <!-- <tr>
                  <td colspan="3" style="text-align:right">VAT:</td>
                  <td><%= user_currency %> <%=format_amount_to_currency(@shipments.sum(:amount_tax))%></td>
                </tr> -->
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>`