<div class="modal fade" id="discount_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lorryz Shipment </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for(@vehicle, url: otp_shipments_dashboard_index_path(:amount=> @amount  ,:pickup_building_name=> params[:pickup_building_name],:drop_building_name=>params[:drop_building_name] ,:vehicle_types => params[:vehicle_type],:pickup_country => @pickup_country ,:drop_country => @drop_country),method:"get" , remote: true) do |f| %>
        <div class="modal-body">
          <div class="container">
         



              <div class="form-group" >
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :name ,"Name"%>
                <%=f.text_field :name ,value:'', autocomplete: :off, placeholder: "Name*", class: "form-control", required: true %>
              </div>
               <div class="form-group" >
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :country_id, "Country"%>
                <div class="selectCity">
                    <%= f.collection_select(:country_id, Country.all, :id, :display_name,{:prompt => "*Country"}, { class: "form--control-", required: true} )%>
                  </div>
              </div>

                <div class="form-group" >
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :contact_no ,"Contact No"%>
                <%=f.text_field :contact_no ,value:'', placeholder: "Contact No*", class: "form-control", required: true %>
              </div>

               

<p> Please input your Name and valid contact number to calculate rates. </p>

              




        

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Request</button>
        </div>
      <% end %>  
    </div>
  </div>
</div>

<script>

function setcookies()
{
  alert("asd")
}
</script>


