<div class="modal fade" id="discount_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Estimated Fare</h5>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_for(@shipment, url: root_path,method:"get") do |f| %>

      <%if @otp == @self_otp.verification_code%>
         <div class="modal-body">
          <div class="container">
        
            
            <div class="form-group" >
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :destination ,"Destination"%>
                <%=f.text_field :destination , placeholder: "Destination*",value: params[:drop_building_name], class: "form-control",readonly:true, required: true %>
              </div>



            <div class="form-group" >
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :origin ,"Origin"%>
                <%=f.text_field :origin , placeholder: "Origin*",value: params[:pickup_building_name], class: "form-control",readonly:true, required: true %>
              </div>  


            <div class="form-group" >
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :vehicle_type ,"Vehicle"%>
                <%=f.text_field :vehicle_type , placeholder: "vehicle_type*",value: @vehicle.name, class: "form-control",readonly:true, required: true %>
              </div>




              <% if  @pickup_country == @drop_country %>
                   <div class="form-group" >
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :amount ,"Amount"%>
                <%=f.text_field :amount , placeholder: "Amount",value:params[:amount] , class: "form-control",readonly:true, required: true %>
              </div>

              <%end%>

             
              
  

          </div>
        </div>

        <p style= " text-align: center;"> <b>Shipment Requested! Our team will contact you shortly. </b></p>
      
      <%else %>
      <br>
              <p style= " text-align: center;"> <b>Code Verifcation failed. Please try again. </b></p>
      <% end %>  

       <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Okay</button>
        </div>
      <% end %>  

    </div>
  </div>
</div>


