var modalName = "#discount_modal";
$(modalName).remove();
$("body").append("<%= j render "initial_shipments" %>");
$(modalName).modal("show");
$(modalName).on('hidden.bs.modal', function (e) {
  $(modalName).remove();
});