
<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Add Fleet Individual</h3>
              <h2></h2>
            </div>
            <div class="card-body register-card-body">
     <%= form_for @info, :url  => { :action => "add_individual_information" } do |f| %>
       <%= render partial: "avatar", locals: {f: f,  info: @info} %>
  
                              <%=f.hidden_field :userid ,value: @current_fleet.id %>
               <div class="form-group clearfix">
              <%= label_tag "company[tax_registration_no]", "Tax Registration No." %>
              <%= text_field_tag "company[tax_registration_no]", @current_fleet.company.tax_registration_no, autocomplete: "tax_registration_no", class: "input-field", placeholder: "Tax Registration No." %>
              </div>
   
        
               <div class="form-group clearfix">
                    <%= f.label "Secondary Mobile No 1", "Secondary Mobile No.1"%>
                    <%= f.text_field :secondary_mobile_no, autofocus: true, autocomplete: "secondary_mobile_no_1",class: "input-field", placeholder: "Secondary Mobile No 1" %>
                </div>
                    <div class="form-group clearfix">
                  <%= f.label :secondary_mobile_no_country, "Secondary Mobile 1 Country"%>
                  <div class="selectCity">
                                     <%= f.select :secondary_mobile_no_country ,options_for_select(ISO3166::Country.all_translated),  {:prompt => "* Name" } , { class: "form-control"} %>

                  </div>
                </div>
               <div class="form-group clearfix">
                    <%= f.label "Secondary Mobile No 2", "Secondary Mobile No.2"%>
                    <%= f.text_field :secondary_mobile_no_1, autofocus: true, autocomplete: "secondary_mobile_no_2",class: "input-field", placeholder: "Secondary Mobile No 2" %>
                </div>
                 <div class="form-group clearfix">
                  <%= f.label :secondary_mobile_no_1_country, "Secondary Mobile 2 Country"%>
                  <div class="selectCity">
                    <%= f.select :secondary_mobile_no_1_country ,options_for_select(ISO3166::Country.all_translated),  {:prompt => "* Name" } , { class: "form-control"} %>
                  </div>
                </div>
               <div class="form-group clearfix">
                  <%= f.label :nationality, "Nationality"%>
                  <div class="selectCity">
                    <%= f.select :nationality ,options_for_select(ISO3166::Country.all_translated),  {:prompt => "* Name" } , { class: "form-control"} %>
                  </div>
                </div>
               <div class="form-group clearfix">
                 <label> Passport #</label>
                <%= f.text_field :passport_no, autocomplete: "Passport", class: "input-field" ,placeholder:  "*Passport #" %>
                </div>

               <div class="form-group clearfix">
                <%= f.label "Passport Expiry Date", "Passport Expiry Date"%>
                 <%= f.text_field :passport_no_expiry , autocomplete: "datepicker expiry_date", class: "datepicker input-field" ,placeholder:  "*Passport Expiry Date"%>            
                <br><br>
               <div class="form-group clearfix">
                 <label> Visa #</label>
                <%= f.text_field :visa_no, autocomplete: "Visa", class: "input-field" ,placeholder:  "*Visa #"%>
                </div>

               <div class="form-group clearfix">
                <%= f.label "Visa Expiry Date", "Visa Expiry Date"%>
                 <%= f.text_field :visa_no_expiry , autocomplete: "datepicker expiry_date", class: "datepicker input-field" ,placeholder:  "*Visa Expiry Date" %>            
                <br><br>


               <div class="form-group clearfix">
                     <%= f.label "Landline No.", "Landline No."%>
                    <%= f.text_field :landline_no, autofocus: true, autocomplete: "landline_no",class: "input-field" ,placeholder:  "Landline No." %>
                </div>

               <div class="form-group clearfix">
                 <label> National ID No.</label>
                <%= f.text_field :national_id, autocomplete: "national_id", class: "input-field" ,placeholder:  "*National ID No. " %>
                </div>

               <div class="form-group clearfix">
                <%= f.label "National ID Expiry Date", "National ID Expiry Date"%>
                 <%= f.text_field :expiry_date , autocomplete: "datepicker expiry_date", class: "datepicker input-field" ,placeholder:  "*National ID Expiry Date"%>            
                    <br><br> 

               <div class="form-group clearfix">
                 <label> License No.</label>
                <%= f.text_field :license_no, autocomplete: "License", class: "input-field" ,placeholder:  "*License No. " %>
                </div>

               <div class="form-group clearfix">
                <%= f.label "License Expiry Date", "License Expiry Date"%>
                 <%= f.text_field :license_no_expiry , autocomplete: "datepicker expiry_date", class: "datepicker input-field" ,placeholder:  "*License Expiry Date" %>            
                    <br><br> 
                      <div class="form-group clearfix">
                  <%= f.label :country_id, "Preferred Location"%>
                  <div class="selectCity">
                    <%= f.collection_select(:preferred_location, PreferredLocation.all, :id, :display_name,{:prompt => "*Preferred Location"}, { class: "form-control"} )%>
                  </div>
                </div>


               <div class="form-group clearfix">
                <label>Upload All Documents together</label>
              <%= render partial: "attachments", locals: {f: f,  info: @info} %>
              <div class="col-12 sign_up_terms">
                 </div>
                <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block btn-flat"><%= @edit == true ? "UPDATE" : "SAVE" %></button>
                </div>


      <%end%>
    </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>






