<%= render 'layouts/error_messages', object: @moderator_gps %>

<div class="form-group has-feedback">
  <%= f.label :imei, "IMEI Number" %>
  <%if action == 'Update'%>
   <%= f.text_field :imei , class: "form-control", placeholder: "* IMEI #" %> 
   <%else%>
      <%= f.text_field :imei , class: "form-control", placeholder: "* IMEI #"%> 
   <%end%>

</div>
<div class="form-group has-feedback">
  <%= f.label :supplier, "Supplier Name" %>
    <%if action == 'Update'%>
  <%= f.text_field :supplier , class: "form-control", placeholder: "* Supplier Name" %> 
     <%else%>
       <%= f.text_field :supplier , class: "form-control", placeholder: "* Supplier Name" %> 
   <%end%>

</div>
<div class="form-group has-feedback">
  <%= f.label :manufacturer, "Manufacturer Name" %>
    <%if action == 'Update'%>
 <%= f.text_field :manufacturer , class: "form-control", placeholder: "* Manufacturer Name" %> 
   <%else%>
    <%= f.text_field :manufacturer , class: "form-control", placeholder: "* Manufacturer Name" %> 
   <%end%>

</div>
<div class="form-group has-feedback">
  <%= f.label :country %>
   <%if action == 'Update'%>
  <%= f.collection_select :country_id, @countries, :id,:name,{include_blank: "Specify Country?"},{class: "form-control"} %>
   <%else%>
     <%= f.collection_select :country_id, @countries, :id,:name,{include_blank: "Specify Country?"},{class: "form-control" } %>
   <%end%>
</div>

<div class="form-group has-feedback">
  <%= f.label :vehicle_id %>
     
 <%if action == 'Update'&&  @moderator_gps.vehicle_id.present?%>
     
     <%   
     @vehicle = Vehicle.find(@moderator_gps.vehicle_id)  if @moderator_gps.vehicle_id.present?
     @fleet = User.find_by_company_id(@vehicle.company_id) if @moderator_gps.vehicle_id.present?
%>
     <%= f.collection_select :vehicle_id, @users.where(:country_id => @moderator_gps.try(:country_id)), :id,:formatted_name,{include_blank: "Specify Drivers?" ,:selected =>  @fleet.id},{class: "form-control" } %>
   <%else%>
     <%= f.collection_select :vehicle_id, @users, :id,:formatted_name,{include_blank: "Specify Driver?"},{class: "form-control" } %>

  <%end%>


</div>

<div class="form-group has-feedback">
</div>
<div>
  <%= f.submit action, class: "btn btn-primary btn-block btn-flat"%>
</div>
