<div class="receipt-modal-inner">
 <br>
  <hr style="height:3px;border-width:0;color:#0094b9;background-color:#0094b9 ; margin-top :151%"> 

  <b><p style = "text-align:center ; font-size :30px; margin-top :21%">Statement of Account</p></b>

  <div class="fleet-row clearfix">
    <div class="fleet-col-left">
      <div class="truck-row">
  
      <div> Customer : <%= @customer.try(:company).try(:company_name) %> </div>
      <div> TRN No : <b><%= @customer.try(:company).try(:tax_registration_no) %> </b></div>
      <div> Currency: <%= @customer.try(:country).try(:currency).to_s %> </div>

      </div>
    </div>
      <div>
   




 <table class="table table-bordered table-striped admin_listings" data-page-length='10' style="width: 100% !important;">
      <thead>
      
      <tr>
        <% columns = ["Invoice Date","Invoice No","Amount","Over Due Date","Account Balance"]
           columns.each do |col|
        %>
          <th><%= col %></th>
        <%end%>
      </tr>
      </thead>
      <tbody>
      <%if @shipments.length != 0 %>
      <%@sum =0%>
                     <%  @shipments.each do |shipment| %>
                     <%@sum =@sum + shipment.customer_net_amount.to_i if shipment.customer_net_amount.present? %>
       <%@overdue = Date.today() - shipment.invoice_date - shipment.company.credit_period %>
        <tr>
          <td> <%=shipment.invoice_date%> </td>
             <td> <%= Time.current.year %><%= '%04d' % shipment.id%> </td>
          <td> 
            <%= shipment.customer_net_amount.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%>
          </td>

              <td> 
            <%= @overdue.to_i > 0 ? @overdue.to_i : "0" %> Days
            
            

          </td>

            <td> 
            <%= @sum %>
          </td>
        </tr>  
        <tr>
         <% end %> <% end %>
           <tr>
          <td>Bank Name : RAK BANK <br>
              Account Name : LORRYZ FZ LLC <br>
              AED Account No.: 0182764837001 <br>
              IBAN: AE420400000182764837001<br>
              Swift Code: NRAKAEAK </td>
          <td >  
          </td>
            <td> 
             <%= @sum.humanize.to_s.try(:camelcase)  if @sum.present? %>.
          </td>
 <td>   </td>
            <td> 
         <%= @customer.country.currency%>   <%= @sum.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse if @sum.present? %>
          </td>
        </tr>  
        <tr>
        
          

      </tbody>
    </table>


 <table class="table table-bordered table-striped admin_listings" data-page-length='10' style="width: 100% !important;">
      <thead>
        <tr>
  <b><p style = "text-align:center ; font-size :20px;">AGEING REPORT</p></b>
        </tr>
      <tr>
        <% columns = ["Total Amount Due","1-15 Days Past Due","15-30 Days Past Due","30-45 Days Past Due","45-60 Days Past Due","60-90 Days Past Due","90+ Days Past Due"]
           columns.each do |col|
        %>
          <th><%= col %></th>
        <%end%>
      </tr>
      </thead>
      <tbody>
       <tr>
          <td> <%=@shipments.cargo_pending_payments(@customer).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>   
          <td> <%=@shipments.cargo_pending_payments_ageing(@customer,Date.today(),Date.today()- 15.day).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>
          <td> <%=@shipments.cargo_pending_payments_ageing(@customer,Date.today()- 15.day,Date.today()- 30.day).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>
          <td> <%=@shipments.cargo_pending_payments_ageing(@customer,Date.today()- 30.day,Date.today()- 45.day).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>
          <td> <%=@shipments.cargo_pending_payments_ageing(@customer,Date.today()- 45.day,Date.today()- 60.day).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>
          <td> <%=@shipments.cargo_pending_payments_ageing(@customer,Date.today()- 60.day,Date.today()- 90.day).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>
          <td> <%=@shipments.cargo_pending_payments_ageing(@customer,Date.today()- 90.day,Date.today()- 3000.day).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>

        </tr>         
      </tbody>
    </table>

