<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Preferred Location</h3>
              <%#= render partial: "/shared/download_excel" %>
              <br>
              <%# <%= link_to "Download in Excel", url_for(format: :xlsx), class: "btn btn-flat btn-success pull-right" %> 
              <%= link_to "Add New Preferred Location" , new_moderator_preferred_location_path , class: "btn btn-flat btn-success pull-right  add_country"%>
            </div>
            <div class = "card-body">
            <table class="table table-bordered table-striped admin_listings" data-page-length='50'>
              <thead>
              <tr>
                <% columns = ["ID", "Country", "City","Edit"]
                   columns.each do |col|
                %>
                  <th><%= col %></th>
                <%end%>
              </tr>
              </thead>
              <tbody>
              <% @preferred_location.each do |preferred_location|%>
                  <tr>
                     <td><%= preferred_location.try(:id) %></td>
                    <td><%= preferred_location.try(:country_name) %></td>
                    <td><%= preferred_location.try(:city_name) %></td>
                      <td>
                      <%= link_to "Edit", edit_moderator_preferred_location_path(preferred_location), class: "block-btn btn btn-info btn-flat" %>
                    </td>

                  </tr>
              <%end%>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>