<%= form_for @shipment, url: cargo_shipment_path(@shipment) do |f|%>
    <div class="modal-dialog driver-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-holder" id="<%#@shipment.id%>">
            <div class="close-modal" data-dismiss="modal">
              <%= image_tag("close-modal.png")%>
            </div>
            <h1 class = "red">Are you sure you want to cancel bidding for the shipment</h1>
            <div class="shipment-number">
              Shipment No. <%= @shipment.id%>
            </div>
            <%s = @shipment%>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-7">
                <div class="address-one">
                  <%= s.pickup_full_address %>
                </div>
                <div class="address-two">
                  <%= s.drop_full_address%>
                </div>
              </div>
            </div>
            <div class="destination-holder">
              <h4>Why did you cancel the shipment?</h4>
              <div class="options-outer">
                <%= f.hidden_field :state_event , value: :cancel %>
                <%= f.hidden_field :cancel_by, value: current_user.role%>
                <% Shipment::FLEET_CANCEL_REASON.each do |reason|%>
                  <div>
                    <%= f.radio_button :cancel_reason, reason  %>
                    <%= f.label :cancel_reason, reason , :value => reason %>
                  </div>
                <%end%>
              </div>
              <%if @shipment.state != "posted" %>
                <span class ="red">
                  <%= @shipment.cargo_cancel_penalty_charges_within_24hours %>
                  <%= shipment_currency @shipment %>
                  Penalty charges will apply for cancellation of shipment
                </span>
              <%end %>
            </div>

          <div class="buttons-holder clearfix">
            <%= f.submit "CANCEL SHIPMENT" , class: "submit-btn bidnow"%>
            <button class = "btn btn-outline-secondary btn-flat" data-dismiss = "modal">BACK</button>
          </div>
          </div>
        </div>

      </div>
    </div>
<%end%>

