  <%# form_with(model: shipment, local: true) do |form| %>
<%=form_for @shipment, url: cargo_shipments_path do |f|%>
  <!--<% if cargo_shipment.errors.any? %>-->
    <!--<div id="error_explanation">-->
      <!--<h2><%= pluralize(cargo_shipment.errors.count, "error") %> prohibited this cargo_shipment from being saved:</h2>-->
<!---->
      <!--<ul>-->
      <!--<% cargo_shipment.errors.full_messages.each do |message| %>-->
        <!--<li><%= message %></li>-->
      <!--<% end %>-->
      <!--</ul>-->
    <!--</div>-->
  <!--<% end %>-->
    <%= render partial: "form_fields" , locals: {f: f, action: action, submit_button_text: "Post Request"}%>
<% end %>