<script>

 var cookies = document.cookie.split(";");


    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    }</script>



<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class = "card-body">
          <div class="card">
            <div class="balance-header">
              <h1><%= @title %> Shipments</h1>
            </div>


<% if @title == "Posted"
@url = posted_cargo_shipments_path
elsif  @title == "Ongoing"
@url = ongoing_cargo_shipments_path
elsif  @title == "Completed"
@url = completed_cargo_shipments_path
elsif  @title == "Upcoming"
@url = upcoming_cargo_shipments_path
end



%>



 
 
 <div class = "card-body">



 
              <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:@url, method: :get do |f|%>
             
                <div class="row ship">

                                    <div class="col-md-4 col-sm-4 pad-2">
         <%= f.label :Download_report %>
                    <div class="selectHolder">
  
              <% if @title.to_s == "Posted" %>
                <%= link_to "Download in Excel" , posted_cargo_shipments_path(format: :xlsx) , id: "shipment_xlsx" ,class: "btn btn-flat btn-success pull-right", style: 'width:100% ; border:solid' , onclick: "append_date_range_params(this);"%>

              <%elsif  @title.to_s == "Ongoing" %>
                              <%= link_to "Download in Excel" , ongoing_cargo_shipments_path(format: :xlsx) , id: "shipment_xlsx" ,class: "btn btn-flat btn-success pull-right", style: 'width:100% ; border:solid' , onclick: "append_date_range_params(this);"%>

              <%elsif  @title.to_s == "Completed" %>
                              <%= link_to "Download in Excel" , completed_cargo_shipments_path(format: :xlsx) , id: "shipment_xlsx" ,class: "btn btn-flat btn-success pull-right" , style: 'width:100% ; border:solid', onclick: "append_date_range_params(this);"%>

              <%elsif  @title.to_s == "Upcoming" %>
                              <%= link_to "Download in Excel" , upcoming_cargo_shipments_path(format: :xlsx) , id: "shipment_xlsx" ,class: "btn btn-flat btn-success pull-right" , style: 'width:100% ; border:solid', onclick: "append_date_range_params(this);"%>
              <%end%>     
                          
                 </div>      
              </div>


                      <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :shipment_no %>
                    <div class="selectHolder">
                    <% if params[:query].present?%>
                   <%= f.collection_select :shipment_no,@shipments1.order(id: :asc) , :id,:id,{include_blank: "Specify Shipment number?",:selected => params[:query][:shipment_no] } if params[:query][:shipment_no].present?%>
                   <%= f.collection_select :shipment_no,@shipments1.order(id: :asc) , :id,:id,{include_blank: "Specify Shipment number?"}if params[:query][:shipment_no].blank?  %>

                      <%else%>
                   <%= f.collection_select :shipment_no,@shipments1.order(id: :asc) , :id,:id,{include_blank: "Specify Shipment number?"}  %>
                      <%end%>
                    </div>

                  </div>

                      <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :vehicle_type %>
                    <div class="selectHolder">
                        <% if params[:query].present?%>
                   <%= f.collection_select :vehicle_type_id, VehicleType.all.where(:country_id => current_user.country.try(:id).order(code: :desc)), :id, :name,{include_blank: "*Vehicle Type",:selected => params[:query][:vehicle_type_id]},{class: "form-control"  } if params[:query][:vehicle_type_id].present?%>
                   <%=f.collection_select :vehicle_type_id, VehicleType.all.where(:country_id => current_user.country.try(:id)).order(code: :desc), :id, :name,{include_blank: "*Vehicle Type"},{class: "form-control"  }if params[:query][:vehicle_type_id].blank?  %>

                      <%else%>
                   <%=f.collection_select :vehicle_type_id, VehicleType.all.where(:country_id => current_user.country.try(:id)).order(code: :desc), :id, :name,{include_blank: "*Vehicle Type"},{class: "form-control"  } %>
                      <%end%>
                   
                    </div>

                  </div>


                      <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :Movement_Type %>
                    <div class="selectHolder">
                        <% if params[:query].present?%>
                   <%= f.select :category ,options_for_select(["All", "Intra-Inter City","Cross_Border","Inter_City","Intra_City"],params[:query][:category]), {:prompt => "* Specify Movement Type" } , class: "form-control" if params[:query][:vehicle_type_id].present?%>
                   <%= f.select :category ,options_for_select(["All", "Intra-Inter City","Cross_Border","Inter_City","Intra_City"]), {:prompt => "* Specify Movement Type" } , class: "form-control" if params[:query][:category].blank?%>


                      <%else%>
                   <%= f.select :category ,options_for_select(["All", "Intra-Inter City","Cross_Border","Inter_City","Intra_City"]), {:prompt => "* Specify Movement Type" } , class: "form-control"%>
                      <%end%>
                   
                    </div>

                  </div>

                      

                  <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :pickup_date_from %>
                    <div class="selectHolder">
                  <% if params[:query].present?%>
                   <%= f.text_field :pickup_date_from , value: params[:query][:pickup_date_from] ,class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date From"  if params[:query][:pickup_date_from].present?%>
                   <%=f.text_field :pickup_date_from , class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date From"  if params[:query][:pickup_date_from].blank?  %>

                      <%else%>
                      <%= f.text_field :pickup_date_from , class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date From"  %>
                      <%end%>
                   

                    </div>

                  </div>
                       <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :pickup_date_to %>
                    <div class="selectHolder">
                   <% if params[:query].present?%>
                   <%= f.text_field :pickup_date_to , value: params[:query][:pickup_date_to] ,class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date To"  if params[:query][:pickup_date_to].present?%>
                   <%=f.text_field :pickup_date_to , class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date To"  if params[:query][:pickup_date_to].blank?  %>

                      <%else%>
                      <%= f.text_field :pickup_date_to , class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date To"  %>
                      <%end%>
                                       </div>

                  </div>







                      <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :pickup_location %>
                    <div class="selectHolder">
                  <% if params[:query].present?%>
                   <%= f.text_field :pickup_location , value: params[:query][:pickup_location] ,class: " form-control" ,placeholder:  "Pickup Location"  if params[:query][:pickup_location].present?%>
                   <%=f.text_field :pickup_location , class: " form-control" ,placeholder:  "Pickup_location"  if params[:query][:pickup_location].blank?  %>

                      <%else%>
                      <%= f.text_field :pickup_location , class: " form-control" ,placeholder:  "Pickup_location"  %>
                      <%end%>
                   

                    </div>

                  </div>
                       <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :drop_location %>
                    <div class="selectHolder">
                   <% if params[:query].present?%>
                   <%= f.text_field :drop_location , value: params[:query][:drop_location] ,class: "form-control" ,placeholder:  "Drop Location"  if params[:query][:drop_location].present?%>
                   <%=f.text_field :drop_location , class: "form-control" ,placeholder:  "Drop Location"  if params[:query][:drop_location].blank?  %>

                      <%else%>
                      <%= f.text_field :drop_location , class: "form-control" ,placeholder:  "Drop Location"  %>
                      <%end%>
                                       </div>

                  </div>












                       <div class="col-md-4 col-sm-4 pad-2">

    <%= f.label :count  %>
                    <div class="selectHolder">

                            <%= f.text_field :count , value:@shipments.count ,class: " form-control" ,readonly:true%>

 </div>

                                       </div>




                  <div class="col-md-4 col-sm-4">
                    <%= f.submit "Search" , class: "btn btn-primary submit-btn" %>
                  </div>
                </div>
</div>                <% end %>
              </div>





















            <!-- /.card-header -->
            <div class="card-body">
              <table id="shipments_listing" class="table table-bordered table-striped" >
                <thead>
                <tr>
                  <th style="font-size :14px">Shipment Number</th>
                  <% unless  display_bids_on_cargo_shipment_status.include? @title.to_s.downcase %>
                    <th>Number of Bids</th>
                  <%end %>
                  <th style="font-size :14px" >Pickup Date</th>
                  <th style="font-size :14px">From </th>
                  <th style="font-size :14px">To </th>
                  <th style="font-size :14px">Driver </th>
                  <th style="font-size :14px">Mobile </th>
                  <th style="font-size :14px">Movement Type </th>
                  <th style="font-size :14px">Vehicle No </th>
                  <th style="font-size :14px">Status </th>
                  <th style="font-size :14px">Fleet Details </th>
                  <th style="font-size :14px">Actions </th>
                </tr>
                </thead>
                <tbody>
                <% @shipments.each do |s|%>
                  <tr>
                    <td style="font-size :13px"><%= s.id%></td>
                    <% unless  display_bids_on_cargo_shipment_status.include? @title.to_s.downcase %>
                      <td style="font-size :11px"><%= s.bids.count%></td>
                    <%end %>
                    <td style="font-size :13px"><%= local_time_format(s.pickup_time) rescue "" %>  <%=s.pickup_date.strftime(display_date_format) rescue ""%></td>
                    <td style="font-size :13px"><%= s.pickup_full_address %></td>
                    <td style="font-size :13px"><%= s.drop_full_address %></td>
                     <td style="font-size :13px"><%= User.find_by_company_id(s.shipment_fleets.last.company.id).first_name if s.shipment_fleets.present? %></td>
                    <td style="font-size :13px"><%= User.find_by_company_id(s.shipment_fleets.last.company.id).mobile  if s.shipment_fleets.present?        %></td>
                     <td style="font-size :13px"><%= s.category %></td>

                    <td style="font-size :13px"><%= s.shipment_fleets.last.company.vehicles.first.try(:registration_number)   if s.shipment_fleets.present? %></td>
                    <td style="font-size :13px"><%= s.status %></td>


                    <td style="font-size :13px">
                    <%=s.no_of_vehicles.to_s + "  X  "+ s.try(:vehicle_type).try(:name) if s.vehicle_type.present? %>
                   <%=s.no_of_vehicles.to_s  if s.vehicle_type.blank? %>
                      </td>
                    <td style="font-size :13px">
                      <%= link_to "View",cargo_shipment_path(s) , class: "btn btn-success btn-flat block-btn btn-sm" %>
                      <% if ["accepted", "vehicle_assigned"].include?  s.state %>
                        <%= link_to "Cancel Shipment" ,cancel_cargo_shipment_path(s.id),remote: :true, class: "btn  btn-warning btn-flat btn-sm block-btn"  %>
                      <%end%>
                      <% if ["posted"].include?  s.state %>
                        <%= link_to 'Edit', edit_cargo_shipment_path(s) ,data: {confirm: "All currently received bids will be cancelled."}, class: "btn btn-info btn-flat btn-sm  block-btn" %>
                      <%end%>
                      <%# if ["cancel", "completed"].include? s.state %>
                          <%#= link_to "Download Invoice", invoice_path(id: s.id, format: :pdf),target: :_blank, class: "btn btn-warning btn-flat block-btn btn-sm" %>
                      <%#end%>
                    </td>
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>