<div class="modal-dialog modal-receipt-width">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-body">
      <div class="modal-holder receipt-modal" id="<%=@shipment.id%>">
        <div class="receipt-modal-inner">
          <div class="close-modal" data-dismiss="modal">
            <%= image_tag("close-modal.png")%>
          </div>
          <h1>Payment Receipt</h1>
          <% payment_date = @shipment.invoice_date.strftime("%dth, %B %Y") rescue "" %>
          <%if payment_date.present? %>
              <div class="payment-date">
                Payment Date <span><%= payment_date %></span>
              </div>
          <%end%>
          <div class="shipment-number">
            Shipment No. <%= @shipment.id  %> <span>Pick Up Date <%= @shipment.pickup_date.strftime("%dth, %B %Y") rescue "" %></span>
          </div>

          <div class="fleet-row clearfix">
            <div class="fleet-col-left">
              <div class="truck-row">
                <%if @pdf_view %>
                    <span><%= wicked_pdf_image_tag "truck.png" %></span>
                <%else%>
                    <span><%= image_tag "truck.png" %></span>
                <%end%>
                <span><%=@shipment.no_of_vehicles.to_s + "  X  "+ @shipment.vehicle_type.name %></span>
              </div>

            </div>
            <div class="fleet-col-right">
              <div class="address-outer">
                <div class="address-one">
                  <%= @shipment.pickup_full_address%>
                </div>
                <div class="address-two">
                  <%= @shipment.drop_full_address%>
                </div>
              </div>
            </div>
          </div>
          <div class="fleet-row">
            <div class="cash-col">
              <div class="cash-row clearfix">
                <span> <%= @shipment.try(:payment_option).try(:camelcase)  %>:</span>
                <span class="cash">
                      <%= shipment_currency @shipment %>
                  <%= format_amount_to_currency(@shipment.amount) rescue "" %>
                    </span>
              </div>
              <div class="cash-row clearfix">
                <span>Vehicle Detention:</span>
                <span class="cash">
                      <%= shipment_currency @shipment %>
                  <%= format_amount_to_currency(@shipment.detention)  rescue ""%>
                    </span>
              </div>
<!--              <div class="cash-row clearfix">-->
<!--                <span>Lorryz Commission</span>-->
<!--                <span class="cash commission">-->
                      <%#= shipment_currency @shipment %>
                  <%#= format_amount_to_currency(@shipment.lorryz_detention_share_amount).to_f rescue ""%>
<!--                    </span>-->
<!--              </div>-->
            </div>
          </div>

        </div>
        <div class="paid-stamp">
          <%= image_tag "paid-stemp.png" %>
        </div>
        <div class="buttons-holder clearfix">
          <%= link_to "Download" , invoice_path(@shipment, format: :pdf),target: :_blank , class: "btn btn-info pull-right"%>
        </div>
      </div>
    </div>
  </div>
</div>