<div class="modal-dialog1 modal-custom-width1">
  <div class="modal-content1">
    <div class="modal-body1">
      <div class="modal-holder receipt-modal pdf-parent" id="<%=@shipment.id%>">
        <%= render partial: "invoices/invoice_details" %>
      </div>
    </div>
  </div>
</div>