
<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Add Vehicle</h3>
              <h2></h2>
            </div>
            <div class="card-body register-card-body">
     <%= form_for @vehicle, :url  => { :action => "add_fleet_dashboard_vehicle" } do |f| %>
  
                              <%=f.hidden_field :userid ,value: @current_fleet.id %>
           <div class="card-body">
              <div class="form-group">
                <%# f.text_field :mobile , class: "form-control", placeholder: "Driver's Mobile Number"%>
              </div>
              <div class="form-group">
                <%= f.label :registration_number , "Vehicle Registration Number"%>
                <%= f.text_field :registration_number , class: "form-control", placeholder: "*Vehicle Registration No." ,required: true %>
              </div>
              <div class="form-group has-feedback">
                <%= f.label :expiry_date, "Expiry Date" %>
                <%= f.text_field :expiry_date , class: "datepicker form-control" ,placeholder:  "*Expiry Date" %>
              </div>
              <div class="form-group has-feedback">
                <%= f.label :insurance_number, "Insurance Number" %>
                <%= f.text_field :insurance_number , class: " form-control" ,placeholder:  "*Insurance Number"%>
              </div>

              <div class="form-group has-feedback">
                <%= f.label :insurance_expiry_date, "Insurance Expiry Date" %>
                <%= f.text_field :insurance_expiry_date  , class: "datepicker form-control" ,placeholder:  "*Insurance Expiry Date" %>
              </div>
              <div class="form-group has-feedback">
                <label>Attach Images of Registration/Insurance</label>
                <div class = "form-group has-feedback attachment">
                  <%= f.hidden_field :documents, multiple: true, class: "js-signed-upload-value"  %>
                  <input type="file" class="js-signed-upload" multiple data-presign-url="<%=  presign_upload_admin_fleet_individual_index_path %>" />
                  <div class = "attached_files container">
                    <p class="js-signed-upload-status">
                      <% if @vehicle.documents.present? %>
                        <ul class = "documents_list">
                          <%@vehicle.documents.each do |doc|%>
                            <li>
                              <a target="_blank" href="<%= doc %>">
                                <span class="remove_thumbnail">x</span>
                                <img src="<%= doc %>" alt="document" class = "document_thumbnail">
                              </a>
                            </li>
                          <%end%>
                        </ul>
                      <br><br><br><br>
                    <% end %>
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group has-feedback">
                <%= f.label :authorization_letter , "Authorization Letter" %>
                <%= f.text_field :authorization_letter, class: "datepicker form-control" ,placeholder:  "Vehicle Authorization Letter/ Noc/ Tafweed" %>
              </div>
              <div class="form-group has-feedback">
                <%= f.check_box :available%>
                <%= f.label :available %>

              </div>

              <div class="form-group has-feedback not_available">
                <div class="row">
                  <div class="col-sm-6">
                    <%= f.label :not_available_from %>
                    <%= f.text_field :not_available_from , class: "datepicker form-control" ,placeholder:  "*Not Available From" %>
                    
                  </div>
                  <div class="col-sm-6">

                    <%= f.label :not_available_to %>
                    <%= f.text_field :not_available_to , class: "datepicker form-control" ,placeholder:  "*Not Available to" %>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <%= f.label :vehicle_type_id, 'vehicle types' %>
                <%= f.collection_select :vehicle_type_id, VehicleType.all.where(:country_id => @current_fleet.country.try(:id)), :id, :name,{include_blank: "*Vehicle Type"},{class: "form-control" ,required: true } %>
              </div>
            </div>
              <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block btn-flat"><%= "ADD" %></button>
                </div>

      <%end%>
    </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>






