
<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Assigned Shipments to Fleet : <%=@fleet.formatted_cargo_name %> </h3>
            
            

              <table class="table table-bordered table-striped admin_listings" data-page-length='10' style="width: auto!important;">
                <thead>
                <tr>
                  <%
                    columns = ["id","Pickup Location","Drop Location","Pickup Date","Pickup Time","Amount","Status","Actions"]
                     columns.each do |col|
                  %>
                    <th><%= col.humanize %></th>
                  <%end%>
                </tr>
                </thead>
                <tbody>
                <% @shipments.each do |shipment|%>
                  <tr>
                    <td> <%= shipment.try(:id) %> </td>
                    <td> <%= shipment.try(:pickup_full_address) %> </td>
                    <td> <%= shipment.try(:drop_full_address) %> </td>
                    <td> <%= shipment.try(:pickup_date).strftime(display_date_format) %> </td>
                    <td> <%= local_time_format shipment.try(:pickup_time) %> </td>
                    <td> <%= shipment.amount %></td>
                    <td> <%= shipment.state %></td>

                    <td>
                      <%= link_to "View", admin_shipment_path(shipment), class: "btn btn-block btn-success" %>
                 
              
                    </td>

           
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
