<%= render 'layouts/error_messages', object: @admin_preferred_location %>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :country_name, 'Country Name' %>
  <%= f.select :country_name ,options_for_select(ISO3166::Country.all_translated ,@admin_preferred_location.country_name),  {:prompt => "*Country Name" } ,class: "form-control" , required: :true, disabled: action == "Update1"%>
</div>


<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :city_name, "City Name"%>
  <%= f.text_field :city_name , class: "form-control", placeholder: "*City Name" , required: :true %>
</div>

<div class="form-group has-feedback">
</div>
<div>
  <%= f.submit action, class: "btn btn-primary btn-block btn-flat"%>
</div>
