.sign_up_terms {
    font-size: 12px !important;
}
.direct-upload {
    display: inline-block;
    position: relative;
    padding: 2px 4px;
    margin: 0 3px 3px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-size: 11px;
    line-height: 13px;
}

.direct-upload--pending {
    opacity: 0.6;
}

.direct-upload__progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0.2;
    background: #0076ff;
    transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
    transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
    opacity: 0.4;
}

.direct-upload--error {
    border-color: red;
}

input[type=file][data-direct-upload-url][disabled] {
    display: none;
}
.cr {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 250px;
  z-index: 3000;
}
#map {
    width: calc(100% - 250px);
    height: calc(100vh - 0px);
    margin-left: 250px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.document_thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}
.document_thumbnail:hover {
    box-shadow: 0 0 2px 3px rgba(0, 140, 186, 0.5);
}
.label_required {
    color: red;
}
.search{
    margin-bottom: 10px;
    .padding{
        margin-top: 25px
    }
    .pad-2{
        margin-top: 2px;
    }
    &.shipment_form{
      margin-bottom: 25px!important;

    }

}
.submit-btn{
  margin-top: 33px!important;
  width: 100%;
}


.datepicker{
  padding: 6px;
}
span.remove_thumbnail {
    position: absolute;
    border-radius: 50%;
    height: 20px;
    width: 20px!important;
    background: #e35f7d;
    text-align: center;
    right: -10px;
    color: white;
    top: -5px;

}
.clear_filter{
    float: right;
    background: aliceblue;
    border: 1px solid bisque;
    padding: 7px 15px;
    margin: 5px;
}
.grid-btn{
    min-width: 71px;
    margin-bottom: 5px;
}
.driver-image img {
    width: 70px;
    height: 70px;
}

tr.rejected.even , tr.rejected.odd {
    background: slategray !important;
}
.pac-container {
    z-index: 10000 !important;
}
.attachment , .attachment input[type='file']{
    cursor: pointer;
}
div.wrapper .notifications {
    margin-left: 68%;
}
.dropdown-menu.dropdown-menu-lg.dropdown-menu-right.show {
    width: 300px;
    max-height: 270px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
}
#new_shipment label.assistance , .edit_shipment label.assistance {
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0 10px;
    margin: 0px;
    /*border-top: 10px solid #0094b9;*/
    text-align: center;
    position: relative;
    z-index: 10;
}
#new_shipment label.assistance a, .edit_shipment label.assistance a  {
    color: #027bff;
}
.contact h1 span {
    color: #17a2b8;
}
.select2-container {
    width: 260px;
}
.tracking_number {
    text-align: center;
    font-size: 16px;
}
.tracking_number  label {
    color: #1ba2b8;
}
.noty_layout{
    margin-top: 67px !important;
}
.black{
    color: #353535
}
.error-block {
    color: red;
}
.shipment-ratings {
    position: relative;
}
.rating-counter {
    position: absolute;
    top: 18px;
    right: 0px;
    font-size: 13px;
    font-weight: 400;
}
