<%= form_for @shipment, url: moderator_shipment_path(@shipment) do |f|%>

    <div class="modal-dialog assing-vehicles-modal" style= "width: 250%" >
      <!-- Modal content-->
      <div class="modal-content" style= "width: 150%" >
        <div class="modal-body">
    <div class="assing-vehicles-modal-inner" id="<%#@shipment.id%>">
      <div class="close-modal" data-dismiss="modal">
        <%= image_tag 'close-modal.png' %>
      </div>

      <h1>
        <%=  @shipment.shipment_fleets.present? ? "Update" : "Add" %>
        Costing</h1>
      <%= hidden_field_tag "no_of_vehicles" , @shipment.no_of_vehicles %>
      <div class="shipment-number">
        Shipment No. <%= @shipment.id%>
      </div>
     
      <div class="truck-row">
        <%=@shipment.no_of_vehicles%> x <%=@shipment.vehicle_type.name%>
      </div>


             <h1>
                Fleet Costs
             </h1>
              <div class="choose-vehicle" >
              <div style="display: none;">
                <% @vehicles_with_drivers  = User.individual_fleet_owners %>
                <%= f.label :company_ids , "Individual Fleet Owners" %><br>
                <%= f.collection_select :company_ids , @vehicles_with_drivers , :company_id , :formatted_name,{:selected => @shipment.shipment_fleets.map(&:company_id)}, {class: "js-example-basic-multiple",  :multiple => true, size: 3}%>
              </div>
 

  <table class="table table-bordered table-striped admin_listings" data-page-length='10' style="width: 97% !important;">
      <thead>
      <tr>
        <% columns = ["Name","Price"]
           columns.each do |col|
        %>
          <th><%= col %></th>
        <%end%>
        <%@fleet=User.shipment_fleet_individual_owners(@shipment.id)%>

      </tr>
      </thead>
      <tbody>
              <%i =0 %> <%if @shipment.no_of_vehicles >=1%>
        <tr>
          <td> <%=@fleet[i].formatted_name%> </td>
          <td> <%=f.text_field :fleet_charges_1,value: @fleet_rate1, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
        


        </tr>
      <%end%><%if @shipment.no_of_vehicles >=2%>  <%i +=1 %>
          <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
           <td> <%=f.text_field :fleet_charges_2,value: @fleet_rate2, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>


        </tr>
      <%end%><%if @shipment.no_of_vehicles >=3%>  <%i +=1 %>
      <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_3,value: @fleet_rate3, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
         
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=4%>  <%i +=1 %>
       <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_4,value: @fleet_rate4, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
         
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=5%>  <%i +=1 %>
      <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_5,value: @fleet_rate5, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
         
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=6%>  <%i +=1 %>
       <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_6,value: @fleet_rate6, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
        
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=7%>  <%i +=1 %>
         <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_7,value: @fleet_rate7, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
         
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=8%>  <%i +=1 %>
        <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_8,value: @fleet_rate8, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
        
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=9%>  <%i +=1 %>
         <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_9,value: @fleet_rate9, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
        
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=10%>  <%i +=1 %>
         <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_10,value: @fleet_rate10, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
        
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=11%>  <%i +=1 %>
          <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_11,value: @fleet_rate11, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
         
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=12%>  <%i +=1 %>
           <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_12,value: @fleet_rate12, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
         
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=13%>  <%i +=1 %>
          <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_13,value: @fleet_rate13, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
        
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=14%>  <%i +=1 %>
         <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_14,value: @fleet_rate14, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
         
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=15%>  <%i +=1 %>
         <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_15,value: @fleet_rate15, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
       
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=16%>  <%i +=1 %>
        <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_16,value: @fleet_rate16, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
        
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=17%>  <%i +=1 %>
        <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_17,value: @fleet_rate17, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
       
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=18%>  <%i +=1 %>
          <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_18,value: @fleet_rate18, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
        
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=19%>  <%i +=1 %>
         <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_19,value: @fleet_rate1, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
       
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=20%>  <%i +=1 %>
      <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_20,value: @fleet_rate20, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
         
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=21%>  <%i +=1 %>
       <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_21,value: @fleet_rate21, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
         
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=22%>  <%i +=1 %>
        <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_22,value: @fleet_rate22, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
        
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=23%>  <%i +=1 %>
         <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_23,value: @fleet_rate23, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
         
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=24%>  <%i +=1 %>
       <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_24,value: @fleet_rate24, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
        
        </tr>
      <%end%><%if @shipment.no_of_vehicles >=25%>  <%i +=1 %>
        <tr>
          <td> <%=@fleet[i].formatted_cargo_name%> </td>
          <td> <%=f.text_field :fleet_charges_25,value: @fleet_rate25, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
        
        </tr>
      <%end%>
      </tbody>
    </table>




     <table class="table table-bordered table-striped admin_listings" data-page-length='10' style="width: 97% !important;">
      <thead>
      <tr>
        <% columns = ["Advance Handed to","Advance Amount","Generate","Upload Advance Voucher"]
           columns.each do |col|
        %>
          <th><%= col %></th>
        <%end%>
        <%@fleet=User.shipment_fleet_individual_owners(@shipment.id)%>
      </tr>
      </thead>
      <tbody>
              <%i =0 %> <%if @shipment.no_of_vehicles >=1%>
        <tr>
          <td> <%=f.text_field :advance_paid_to,value: @shipment.advance_paid_to, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
               <td> <%=f.text_field :advance_amount,value: @shipment.advance_amount, class: "form-control", style: ' width: 50%,height: 50%;' %></td>

       <% if @shipment.advance_paid_to.present? %>
          <td> <%= link_to "Generate",  moderator_fleet_invoice_path(:fleet_indi => @fleet[i],:id => @shipment,:category =>'advance' ,format: :pdf),target: :_blank, class: "btn btn-success btn-flat grid-btn" ,style:"width:90%" %>    </td>
    
       <%else%>
       <td>
       <button  id="searchTextField" disabled  class="btn btn-flat btn-success pull-right download_excel"  > Generate</button> 
             </td> 
       <%end%>

        <td >

          <div class="form-group has-feedback">
                <div class = "form-group has-feedback attachment" >
                  <%= f.hidden_field :advance_voucher, multiple: true, class: "js-signed-upload-value"  %>
                  <input type="file" class="js-signed-upload"  multiple data-presign-url="<%=  presign_upload_moderator_fleet_individual_index_path %>" />
                  <div class = "attached_files container">
                    <p class="js-signed-upload-status">
                      <% if @shipment.advance_voucher.present? %>
                        <ul class = "documents_list">
                          <%@shipment.advance_voucher.each do |doc| %>
                            <li>
                              <a target="_blank" href="<%= doc %>">
                                <img src="<%= doc %>" alt="PDF document" class = "document_thumbnail"> <p class="remove_thumbnail" style="text-decoration : none" >delete</p>    
                              </a>
                            </li>
                          <%end %>
                        </ul>
                    <% end %>
                    </p>
                  </div>
                </div>
              </div>
              </td>
       
       
        </tr >
      <%end%>
        </tbody>
    </table>
    


       <br>
        <h1>
          Additional Costs
       </h1>


  <table class="table table-bordered table-striped admin_listings" data-page-length='10' style="width: 98% !important;">
      <thead>
      <tr>
        <% columns = ["Sr.","Category","Remarks","Amount","VAT Applicable"]
           columns.each do |col|
        %>
          <th><%= col %></th>
        <%end%>

      </tr>
      </thead>
      <tbody>
       <td>1</td>
          <td>  <%= f.select :additional_type ,options_for_select(["Border Charges", "Clearance Charges" ,"Token Charges","Toll Charges","Detention Charges","Waiting Charges","Gate Pass Charges","Permission Charges","VGM","MECREC","IMCO","Extra Trip","Fuel","Others"], @shipment.additional_type), {:prompt => "*Cost type" } , class: "form-control",style: ' width: 50%,height: 50%;' %> </td>
          <td>  <%=f.text_field :additional_rate_desc , placeholder: "Additional Rate Description *", class: "form-control", style: ' width: 50%,height: 50%;' %></td>
          <td>   <%=f.text_field :additional_rate , placeholder: "Additional Rate *", class: "form-control",value: @shipment.additional_rate, style: ' width: 40%;', onchange: "populate_data()",style: ' width: 50%,height: 50%;' %></td>
           <td> 
            <%= f.label :additional_cost_vat, "Yes", :value => "true"  %>
            <%= f.radio_button :additional_cost_vat, true %>
            <%= f.label :additional_cost_vat, "No", :value => "false" %>
            <%= f.radio_button :additional_cost_vat, false %>
        
         
         </td>
        </tr>

         <tr>
         <td>2</td>
          <td>  <%= f.select :additional_type1,options_for_select(["Border Charges", "Clearance Charges" ,"Token Charges","Toll Charges","Detention Charges","Waiting Charges","Gate Pass Charges","Permission Charges","VGM","MECREC","IMCO","Extra Trip","Fuel","Others"], @shipment.additional_type1), {:prompt => "*Cost type" } , class: "form-control",style: ' width: 50%,height: 50%;' %> </td>
          <td>  <%=f.text_field :additional_rate_desc1 , placeholder: "Additional Rate Description *", class: "form-control", style: ' width: 50%,height: 50%;' %></td>
          <td>   <%=f.text_field :additional_rate1, placeholder: "Additional Rate *", class: "form-control",value: @shipment.additional_rate1, style: ' width: 40%;', onchange: "populate_data()",style: ' width: 50%,height: 50%;' %></td>
          <td> 
            <%= f.label :additional_cost_1_vat, "Yes", :value => "true"  %>
            <%= f.radio_button :additional_cost_1_vat, true %>
            <%= f.label :additional_cost_1_vat, "No", :value => "false" %>
            <%= f.radio_button :additional_cost_1_vat, false %>
        
         
         </td>
        </tr>

         <tr>
         <td>3</td>
          <td>  <%= f.select :additional_type2,options_for_select(["Border Charges", "Clearance Charges" ,"Token Charges","Toll Charges","Detention Charges","Waiting Charges","Gate Pass Charges","Permission Charges","VGM","MECREC","IMCO","Extra Trip","Fuel","Others"], @shipment.additional_type2), {:prompt => "*Cost type" } , class: "form-control",style: ' width: 50%,height: 50%;' %> </td>
          <td>  <%=f.text_field :additional_rate_desc2 , placeholder: "Additional Rate Description *", class: "form-control", style: ' width: 50%,height: 50%;' %></td>
          <td>   <%=f.text_field :additional_rate2 , placeholder: "Additional Rate *", class: "form-control",value: @shipment.additional_rate2, style: ' width: 40%;', onchange: "populate_data()",style: ' width: 50%,height: 50%;' %></td>
       <td> 
            <%= f.label :additional_cost_2_vat, "Yes", :value => "true"  %>
            <%= f.radio_button :additional_cost_2_vat, true %>
            <%= f.label :additional_cost_2_vat, "No", :value => "false" %>
            <%= f.radio_button :additional_cost_2_vat, false %>
        
         
         </td>
        </tr>

      
          <tr>
          <td>4</td>
          <td>  <%= f.select :additional_type3 ,options_for_select(["Border Charges", "Clearance Charges" ,"Token Charges","Toll Charges","Detention Charges","Waiting Charges","Gate Pass Charges","Permission Charges","VGM","MECREC","IMCO","Extra Trip","Fuel","Others"], @shipment.additional_type3), {:prompt => "*Cost type" } , class: "form-control",style: ' width: 50%,height: 50%;' %> </td>
          <td>  <%=f.text_field :additional_rate_desc3, placeholder: "Additional Rate Description *", class: "form-control", style: ' width: 50%,height: 50%;' %></td>
          <td>   <%=f.text_field :additional_rate3 , placeholder: "Additional Rate *", class: "form-control",value: @shipment.additional_rate3, style: ' width: 40%;', onchange: "populate_data()",style: ' width: 50%,height: 50%;' %></td>
        <td> 
            <%= f.label :additional_cost_3_vat, "Yes", :value => "true"  %>
            <%= f.radio_button :additional_cost_3_vat, true %>
            <%= f.label :additional_cost_3_vat, "No", :value => "false" %>
            <%= f.radio_button :additional_cost_3_vat, false %>
        
                
         </td>
        </tr>

          <tr>
          <td>5</td>
          <td>  <%= f.select :additional_type4 ,options_for_select(["Border Charges", "Clearance Charges" ,"Token Charges","Toll Charges","Detention Charges","Waiting Charges","Gate Pass Charges","Permission Charges","VGM","MECREC","IMCO","Extra Trip","Fuel","Others"], @shipment.additional_type4), {:prompt => "*Cost type" } , class: "form-control",style: ' width: 50%,height: 50%;' %> </td>
          <td>  <%=f.text_field :additional_rate_desc4 , placeholder: "Additional Rate Description *", class: "form-control", style: ' width: 50%,height: 50%;' %></td>
          <td>   <%=f.text_field :additional_rate4, placeholder: "Additional Rate *", class: "form-control",value: @shipment.additional_rate4, style: ' width: 40%;', onchange: "populate_data()",style: ' width: 50%,height: 50%;' %></td>
         <td> 
          <%= f.label :additional_cost_4_vat, "Yes", :value => "true"  %>
          <%= f.radio_button :additional_cost_4_vat, true %>
          <%= f.label :additional_cost_4_vat, "No", :value => "false" %>
          <%= f.radio_button :additional_cost_4_vat, false %>
      
         
         </td>
        </tr>

          <tr>
          <td>6</td>
          <td>  <%= f.select :additional_type5,options_for_select(["Border Charges", "Clearance Charges" ,"Token Charges","Toll Charges","Detention Charges","Waiting Charges","Gate Pass Charges","Permission Charges","VGM","MECREC","IMCO","Extra Trip","Fuel","Others"], @shipment.additional_type5), {:prompt => "* Cost type" } , class: "form-control",style: ' width: 50%,height: 50%;' %> </td>
           <td>  <%=f.text_field :additional_rate_desc5 , placeholder: "Additional Rate Description *", class: "form-control", style: ' width: 50%,height: 50%;' %></td>
          <td>   <%=f.text_field :additional_rate5 , placeholder: "Additional Rate *", class: "form-control",value: @shipment.additional_rate5, style: ' width: 40%;', onchange: "populate_data()",style: ' width: 50%,height: 50%;' %></td>
          <td> 
          <%= f.label :additional_cost_5_vat, "Yes", :value => "true"  %>
          <%= f.radio_button :additional_cost_5_vat, true %>
          <%= f.label :additional_cost_5_vat, "No", :value => "false" %>
          <%= f.radio_button :additional_cost_5_vat, false %>

              
         </td>
        </tr>

        <tr>
          <td>7</td>
          <td>  <%= f.select :additional_type6 ,options_for_select(["Border Charges", "Clearance Charges" ,"Token Charges","Toll Charges","Detention Charges","Waiting Charges","Gate Pass Charges","Permission Charges","VGM","MECREC","IMCO","Extra Trip","Fuel","Others"], @shipment.additional_type6), {:prompt => "* Cost type" } , class: "form-control",style: ' width: 50%,height: 50%;' %> </td>
          <td>  <%=f.text_field :additional_rate_desc6 , placeholder: "Additional Rate Description *", class: "form-control", style: ' width: 50%,height: 50%;' %></td>
          <td>   <%=f.text_field :additional_rate6 , placeholder: "Additional Rate *", class: "form-control",value: @shipment.additional_rate6, style: ' width: 40%;', onchange: "populate_data()",style: ' width: 50%,height: 50%;' %></td>
          <td>
            <%= f.label :additional_cost_5_vat, "Yes", :value => "true"  %>
            <%= f.radio_button :additional_cost_6_vat, true %>
            <%= f.label :additional_cost_6_vat, "No", :value => "false" %>
            <%= f.radio_button :additional_cost_6_vat, false %>

          </td>
        </tr>


      </tbody>
    </table> 
              
                               
      <h1>
          Net Costs
     </h1>
 <div style= "float:left ; width:60%">

                               
                  <%= f.label :amount ,"Customer Agreed Rate"%>
                <%=f.text_field :amount , placeholder: "Customer Agreed Rate*", class: "form-control",value: @shipment.amount, style: ' width: 40%;',  readonly: true %>

                <%= f.label :customer_net_amount ,"Cusotmer Net Rate"%>
                <%=f.text_field :customer_net_amount , placeholder: "Cusotmer Net Rate *", class: "form-control",value: @shipment.customer_net_amount, style: ' width: 40%;',  readonly: true %>
             
                <%= f.label :fleet_net_rate ,"Fleet Net Rate"%>
                <%=f.text_field :fleet_net_rate , placeholder: "Fleet Net Rate *", class: "form-control",value: @shipment.fleet_net_rate, style: ' width: 40%;' ,  readonly: true%>
                       
                <%= f.label :lorryz_share_amount ,"Lorryz Share Amount"%>
                <%=f.text_field :lorryz_share_amount , placeholder: "Lorryz Share Amount *", class: "form-control",value: @shipment.lorryz_share_amount, style: ' width: 40%;',  readonly: true %>
                 
                </div>

                 <div style= "float:right  ; width:40%">

                <%= f.label :payable ,"Balance Payable to Drivers"%>
                <%=f.text_field :payable , placeholder: "Balance Payable to Drivers*", class: "form-control",value: @shipment.payable, style: ' width: 40%;',  readonly: true %> <span>


            </div>
   <div>
   <table class="table table-bordered table-striped admin_listings" data-page-length='10' style="width: 97% !important;">
      <thead>
      <tr>
        <% columns = ["Final Handed to","Generate","Upload Final Voucher"]
           columns.each do |col|
        %>
          <th><%= col %></th>
        <%end%>
        <%@fleet=User.shipment_fleet_individual_owners(@shipment.id)%>
      </tr>
      </thead>
      <tbody>
              <%i =0 %> <%if @shipment.no_of_vehicles >=1%>
        <tr>
          <td> <%=f.text_field :final_paid_to,value: @shipment.final_paid_to, class: "form-control", style: ' width: 50%,height: 50%;', onchange: "populate_data()" %></td>
         



  <% if @shipment.final_paid_to.present? %>
          <td> <%= link_to "Generate",  moderator_fleet_invoice_path(:fleet_indi => @fleet[i],:id => @shipment,:category =>'final' ,format: :pdf),target: :_blank, class: "btn btn-success btn-flat grid-btn" ,style:"width:90%" %>    </td>
    
       <%else%>
       <td>
       <button  id="searchTextField" disabled  class="btn btn-flat btn-success pull-right download_excel"  > Generate</button> 
             </td> 
       <%end%>






        <td >

          <div class="form-group has-feedback">
                <div class = "form-group has-feedback attachment" >
                  <%= f.hidden_field :final_voucher, multiple: true, class: "js-signed-upload-value"  %>
                  <input type="file" class="js-signed-upload"  multiple data-presign-url="<%=  presign_upload_moderator_fleet_individual_index_path %>" />
                  <div class = "attached_files container">
                    <p class="js-signed-upload-status">
                      <% if @shipment.final_voucher.present? %>
                        <ul class = "documents_list">
                          <%@shipment.final_voucher.each do |doc| %>
                            <li>
                              <a target="_blank" href="<%= doc %>">
                                <img src="<%= doc %>" alt="document" class = "document_thumbnail">  
                              </a>
                            </li>
                          <%end %>
                        </ul>
                    <% end %>
                    </p>
                  </div>
                </div>
              </div>
              </td>
       
       
        </tr >
      <%end%>
        </tbody>
    </table>

    </div>
  </div>    <div class="buttons-holder clearfix">
          <%= f.submit "Save" , class: "submit-btn"%>
        </div>
        </div>
        </div>

      </div>
      </div>
<%end%>

<script>
  setTimeout(function () {
      $('#assign_vehicle_modal form').submit(function () {
          var no_of_vehicles = $("form #no_of_vehicles").val();
          var options = $('form #shipment_company_ids > option:selected');
          if (options.length != no_of_vehicles ) {
              msg = "Please select " + no_of_vehicles + " vehicles."
              alert(msg);
              return false;
          }
      });
      $('.js-example-basic-multiple').select2({
          closeOnSelect: false,
          width: '90%',
          theme: "classic"
      });
  })




direct_upload_to_s3(function () {
    window.file_urls = []
    var upload, uploadHandler, uploadWithUrl;
    uploadWithUrl = function(form, file, presignedUrl, publicUrl, field) {
        var submit, xhr;
        submit = form.find("button[type='submit'], input[type='submit']").attr('disabled', true);
        //
        $(field).parents(".form-group ").find('.js-signed-upload-status').text('Uploading...');
        xhr = new XMLHttpRequest();
        xhr.open('PUT', presignedUrl);
        xhr.setRequestHeader('Content-Type', file.type);
        xhr.onload = function() {
            //
            submit.removeAttr('disabled');
            if (xhr.status === 200) {
                // $('.js-signed-upload-value').val(publicUrl);
                //  $(field).parents(".form-group ").find(".attached_files.container").text("");
                return $(field).parents(".form-group ").find('.js-signed-upload-status').text("");

            }
        };
        xhr.onerror = function() {
            submit.removeAttr('disabled');
            return $('.js-signed-upload-status').text('Failed to upload. Try uploading a smaller file.');
        };
        xhr.send(file);
    };

    upload = function(form, file, url, field) {
        return $.ajax({
            url: url + '?filename=' + file.name + '&filetype=' + file.type,
            method: 'PUT',
            accept: 'json'
        }).success(function(data) {
            window.file_urls.push(data.public_url)
            return uploadWithUrl(form, file, data.presigned_url, data.public_url,field);
        });
    };

    uploadHandler = function(field) {

        var file, form;
        file = field.files[0];
            if (file === null) {
            return;
        }
        if(!validate_file(file, field)){
            alert("Invalid File Format!")
            $(field).val("")
            return;
        }
        form = $(field).parents("form").eq(0);
        $.each(field.files, function (index, file) {
            upload(form, file, field.dataset.presignUrl, field);
        })
    };
    var validate_file = function (file, field) {
        filetype = file.type
        if ($(field).parents("div").first().find("#company_information_avatar , #individual_information_avatar ").length == 1)
        {
            return filetype.includes("jpg") || filetype.includes("jpeg") || filetype.includes("png")
        }
        else {
            return filetype.includes("jpg") || filetype.includes("jpeg") || filetype.includes("png")
                || filetype.includes("xls") ||   filetype.includes("xlsx") || filetype.includes("docx") ||
                filetype.includes("pdf") || filetype.includes("doc") || filetype.includes("vnd.ms-excel")
            || filetype.includes("vnd.openxmlformats-officedocument.spreadsheetml.sheet")
        }
    }
    return $('.js-signed-upload').change(function() {
        uploadHandler(this);
        var self = this
        setTimeout(function () {
            old_values = ""
            if($(self).prev().val() != "")
            {
                try {
                    old_values = eval($(self).prev().val())
                } catch (e) {
                    old_values = $(self).prev().val().split(" ")
                }
            }
            window.file_urls  = $.merge(window.file_urls , old_values).filter(function(e){return e});
            $(self).prev().val( JSON.stringify(window.file_urls));
            window.file_urls = []
        },1000)
    });
})



function populate_data()
  {
    
     var no_of_vehicles = $("form #no_of_vehicles").val();
     var individual_rate1=individual_rate2 =individual_rate3=individual_rate3=individual_rate4=individual_rate5=individual_rate6=individual_rate7=individual_rate8=individual_rate9=individual_rate10=individual_rate11=individual_rate12=individual_rate13=individual_rate14=individual_rate15=individual_rate16=individual_rate17=individual_rate18=individual_rate19=individual_rate20=individual_rate21=individual_rate22=individual_rate23=individual_rate24=individual_rate25=0;
     if(no_of_vehicles >=1)
     individual_rate1=parseInt(document.getElementById("shipment_fleet_charges_1").value); if(no_of_vehicles >=2)
     individual_rate2=parseInt(document.getElementById("shipment_fleet_charges_2").value); if(no_of_vehicles >=3)
     individual_rate3=parseInt(document.getElementById("shipment_fleet_charges_3").value);if(no_of_vehicles >=4)
     individual_rate4=parseInt(document.getElementById("shipment_fleet_charges_4").value);if(no_of_vehicles >=5)
     individual_rate5=parseInt(document.getElementById("shipment_fleet_charges_5").value);if(no_of_vehicles >=6)
     individual_rate6=parseInt(document.getElementById("shipment_fleet_charges_6").value);if(no_of_vehicles >=7)
     individual_rate7=parseInt(document.getElementById("shipment_fleet_charges_7").value);if(no_of_vehicles >=8)
     individual_rate8=parseInt(document.getElementById("shipment_fleet_charges_8").value);if(no_of_vehicles >=9)
     individual_rate9=parseInt(document.getElementById("shipment_fleet_charges_9").value);if(no_of_vehicles >=10)
     individual_rate10=parseInt(document.getElementById("shipment_fleet_charges_10").value);if(no_of_vehicles >=11)
     individual_rate11=parseInt(document.getElementById("shipment_fleet_charges_11").value);if(no_of_vehicles >=12)
     individual_rate12=parseInt(document.getElementById("shipment_fleet_charges_12").value);if(no_of_vehicles >=13)
     individual_rate13=parseInt(document.getElementById("shipment_fleet_charges_13").value);if(no_of_vehicles >=14)
     individual_rate14=parseInt(document.getElementById("shipment_fleet_charges_14").value);if(no_of_vehicles >=15)
     individual_rate15=parseInt(document.getElementById("shipment_fleet_charges_15").value);if(no_of_vehicles >=16)
     individual_rate16=parseInt(document.getElementById("shipment_fleet_charges_16").value);if(no_of_vehicles >=17)
     individual_rate17=parseInt(document.getElementById("shipment_fleet_charges_17").value);if(no_of_vehicles >=18)
     individual_rate18=parseInt(document.getElementById("shipment_fleet_charges_18").value);if(no_of_vehicles >=19)
     individual_rate19=parseInt(document.getElementById("shipment_fleet_charges_19").value);if(no_of_vehicles >=20)
     individual_rate20=parseInt(document.getElementById("shipment_fleet_charges_20").value);if(no_of_vehicles >=21)
     individual_rate21=parseInt(document.getElementById("shipment_fleet_charges_21").value);if(no_of_vehicles >=22)
     individual_rate22=parseInt(document.getElementById("shipment_fleet_charges_22").value);if(no_of_vehicles >=23)
     individual_rate23=parseInt(document.getElementById("shipment_fleet_charges_23").value);if(no_of_vehicles >=24)
     individual_rate24=parseInt(document.getElementById("shipment_fleet_charges_24").value);if(no_of_vehicles >=25)
     individual_rate25=parseInt(document.getElementById("shipment_fleet_charges_25").value);
  
    var additional_rate=parseInt(document.getElementById("shipment_additional_rate").value);
    var additional_rate1=parseInt(document.getElementById("shipment_additional_rate1").value);
    var additional_rate2=parseInt(document.getElementById("shipment_additional_rate2").value);
    var additional_rate3=parseInt(document.getElementById("shipment_additional_rate3").value);
    var additional_rate4=parseInt(document.getElementById("shipment_additional_rate4").value);
    var additional_rate5=parseInt(document.getElementById("shipment_additional_rate5").value);
    var additional_rate6=parseInt(document.getElementById("shipment_additional_rate6").value);
       
    var amount = <%= @shipment.amount.inspect.html_safe %>;
    if ( Number.isNaN(individual_rate1))
    individual_rate1 = 0
    if ( Number.isNaN(individual_rate2))
    individual_rate2 = 0
    if ( Number.isNaN(individual_rate3))
    individual_rate3 = 0
    if ( Number.isNaN(individual_rate4))
    individual_rate4 = 0
    if ( Number.isNaN(individual_rate5))
    individual_rate5 = 0
    if ( Number.isNaN(individual_rate6))
    individual_rate6 = 0
    if ( Number.isNaN(individual_rate7))
    individual_rate7 = 0
    if ( Number.isNaN(individual_rate8))
    individual_rate8 = 0
    if ( Number.isNaN(individual_rate9))
    individual_rate9 = 0
    if ( Number.isNaN(individual_rate10))
    individual_rate10 = 0
    if ( Number.isNaN(individual_rate11))
    individual_rate11 = 0
    if ( Number.isNaN(individual_rate12))
    individual_rate12 = 0
    if ( Number.isNaN(individual_rate13))
    individual_rate13 = 0
    if ( Number.isNaN(individual_rate14))
    individual_rate14 = 0
    if ( Number.isNaN(individual_rate15))
    individual_rate15 = 0
    if ( Number.isNaN(individual_rate16))
    individual_rate16 = 0
    if ( Number.isNaN(individual_rate17))
    individual_rate17 = 0
    if ( Number.isNaN(individual_rate18))
    individual_rate18 = 0
    if ( Number.isNaN(individual_rate19))
    individual_rate19 = 0
    if ( Number.isNaN(individual_rate20))
    individual_rate20 = 0
    if ( Number.isNaN(individual_rate21))
    individual_rate21 = 0
    if ( Number.isNaN(individual_rate22))
    individual_rate22 = 0
    if ( Number.isNaN(individual_rate23))
    individual_rate23 = 0
    if ( Number.isNaN(individual_rate24))
    individual_rate24 = 0
    if ( Number.isNaN(individual_rate25))
    individual_rate25 = 0
    if ( Number.isNaN(additional_rate) )
    additional_rate = 0
     if ( Number.isNaN(additional_rate1) )
    additional_rate1 = 0
     if ( Number.isNaN(additional_rate2) )
    additional_rate2 = 0
     if ( Number.isNaN(additional_rate3) )
    additional_rate3= 0
     if ( Number.isNaN(additional_rate4) )
    additional_rate4 = 0
     if ( Number.isNaN(additional_rate5) )
    additional_rate5 = 0
    if ( Number.isNaN(additional_rate6) )
    additional_rate6 = 0
    if ( Number.isNaN(amount))
    amount = 0
    var net_individual_rate =individual_rate1+individual_rate2+individual_rate3+individual_rate4+individual_rate5+individual_rate6+individual_rate7+individual_rate8+individual_rate9+individual_rate10+individual_rate11+individual_rate12+individual_rate13+individual_rate14+individual_rate15+individual_rate16+individual_rate17+individual_rate18+individual_rate19+individual_rate20+individual_rate21+individual_rate22+individual_rate23+individual_rate24+individual_rate25
    var net_additional_rate =additional_rate +additional_rate1+additional_rate2+additional_rate3+additional_rate4+additional_rate5+additional_rate6
    var net_rate =net_individual_rate + net_additional_rate;
    var cargo_net = amount + net_additional_rate
    document.getElementById("shipment_fleet_net_rate").value =net_rate;
    document.getElementById("shipment_lorryz_share_amount").value =cargo_net-net_rate;
    document.getElementById("shipment_customer_net_amount").value =cargo_net;
  }

  

</script>

<script>
  $(".remove_thumbnail").click(function (e) {
      e.preventDefault()
      value = $(this).parents(".form-group").find(".js-signed-upload-value").val()
      value = value.split(" ")
      remove_url = $(this).parents("a").attr("href")
      index = value.indexOf(remove_url)
      value.splice(index, 1)
      $(this).parents(".form-group").find(".js-signed-upload-value").val(value.join(" "))
      $(this).parents("a").addClass("hide")
  })
</script>
