<%= form_for @shipment, url: moderator_shipment_path(@shipment) do |f|%>

    <div class="modal-dialog assing-vehicles-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
    <div class="assing-vehicles-modal-inner" id="<%#@shipment.id%>">
      <div class="close-modal" data-dismiss="modal">
        <%= image_tag 'close-modal.png' %>
      </div>

      <h1>
    <%=  @shipment.shipment_fleets.present? ? "Change" : "Assign" %>
        Driver</h1>
      <%= hidden_field_tag "no_of_vehicles" , @shipment.no_of_vehicles %>
      <div class="shipment-number">
        Shipment No. <%= @shipment.id%>
      </div>
      <div class="address-outer">
        <!-- <div class="distance-holder">
            75 KM
          </div> -->
        <div class="address-one">
          <%=@shipment.pickup_full_address%>
        </div>
        <div class="address-two">
          <%=@shipment.drop_full_address %>
        </div>
      </div>
      <div class="pickup-date-row clearfix">
        <div class="left-col">
          <span>Pick up Date</span>
          <div class="time">
            <span><%= local_time_format @shipment.pickup_time %></span>
            <span class="date"><%=@shipment.pickup_date.strftime(display_date_format) %></span>
          </div>
        </div>
        <div class="right-col">
          <span>Loading time</span>
          <span class="hours"><%=@shipment.loading_time%> Hours</span>
        </div>
      </div>
      <div class="pickup-date-row clearfix">
<!--        <div class="left-col">-->
<!--          <span>Dropoff Date</span>-->
<!--          <div class="time">-->
<!--            <span class="date without-time hours"><%#=@shipment.expected_drop_off.strftime(display_date_format) rescue ""%></span>-->
<!--          </div>-->
<!--        </div>-->
        <div class="right-col">
          <span>Unloading time</span>
          <span class="hours"><%=@shipment.unloading_time%> Hours</span>
        </div>
      </div>
      <div class="payment-mode">
        <span>Payment Mode</span>
        <h6><%=@shipment.try(:payment_option).try(:camelcase)  %></h6>
      </div>
     
      <div class="truck-row">
        <%=@shipment.no_of_vehicles%> x <%=@shipment.vehicle_type.name%>
      </div>
        <div class="choose-vehicle">
          <div>
         <%
         case @shipment.state 
         when "vehicle_assigned","accepted","ongoing"  
         @vehicles_with_drivers  = User.individual_fleet_owners.where(:country_id => @shipment.try(:vehicle_type).country.try(:id))  - User.individual_fleet_owners.busy_fleet_owners - User.individual_fleet_owners.busy_fleet_individual_owners + User.shipment_fleet_individual_owners(@shipment.id) 
         when "initial","posted","completed","cancel" 
         @vehicles_with_drivers  = User.individual_fleet_owners.where(:country_id => @shipment.try(:vehicle_type).country.try(:id))  - User.individual_fleet_owners.busy_fleet_owners - User.individual_fleet_owners.busy_fleet_individual_owners 
        #  -  User.expired_fleet_users(Date.today()).individual_fleet_owners
        end %>
               <%= f.label :vendor, "Specify Vendor if exist?" %>
               <%= f.collection_select :vendor , @vendors , :id , :formatted_cargo_name,{:selected => @shipment.vendor}, {class: "js-example-basic-multiple",  :multiple => true, size: 1}%>
            
            <%= f.label :company_ids , "Choose Individual Fleets" %><br>
            <%= f.collection_select :company_ids , @vehicles_with_drivers , :company_id , :formatted_name,{:selected => @shipment.shipment_fleets.map(&:company_id)}, {class: "js-example-basic-multiple",  :multiple => true, size: 3}%>
          </div>
              
               
                   
           
        </div>

        <div class="buttons-holder clearfix">
          <%= f.submit "Save" , class: "submit-btn"%>
        </div>
    </div>
        </div>

      </div>
    </div>
<%end%>
<script>
  setTimeout(function () {
      $('#assign_vehicle_modal form').submit(function () {
          var no_of_vehicles = $("form #no_of_vehicles").val();
          var options = $('form #shipment_company_ids > option:selected');
          if (options.length != no_of_vehicles ) {
              msg = "Please select " + no_of_vehicles + " vehicles."
              alert(msg);
              return false;
          }
          var options = $('form #shipment_vendor > option:selected');
          if (options.length > 1 ) {
              msg = "Please select only 1 Vendor" 
              alert(msg);
              return false;
          }
      });
      $('.js-example-basic-multiple').select2({
          closeOnSelect: false,
          width: '90%',
          theme: "classic"
      });
  })


</script>