
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title"><%=action%> Shipment</h3>
          </div>
          <form role="form">
            <div class="card-body">
              <% unless action == "Edit" %>
                <%=f.hidden_field :state_event ,value:  "posted" %>
              <%end %>
                
               <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
               <%= f.label "", "Specify Shipment Category ?" %><br> &nbsp; &nbsp; 
                <%= f.label "*", "  Fixed Destination", :value => "true"  %>
             <input type="radio" id="fixed" name="Category1" value="fixed"checked="checked"> &nbsp; &nbsp; 
                <%= f.label "*", "  Open Destination", :value => "false" %>
                 <input type="radio" id="open" name="Category1" value="open">
              </div>


                  <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
               <%= f.label "", "Specify Cargo Category ?" %><br> &nbsp; &nbsp; 
                <%= f.label "*", "  Individual", :value => "true"  %>
             <input type="radio" id="Individual" name="Category" value="Individual"checked="checked"> &nbsp; &nbsp; 
                <%= f.label "*", "  Company", :value => "false" %>
                 <input type="radio" id="Company" name="Category" value="Company">
              </div>
              <div id = "company" style="visibility:hidden">
                  <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :cancel_by, "Specify Cargo Company ?" %>
                <%= f.collection_select :cancel_by, @company_types, :company_id, :name,{include_blank: "Specify Company Name?"},{class: "form-control" } %>
              </div> </div>
                  <div id = "individual">
                  <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :company_id, "Specify Cargo Individual ?" %>
                <%= f.collection_select :company_id, @individual_types, :company_id, :formatted_cargo_name_phone,{include_blank: "Specify Cargo Individual?"},{class: "form-control" } %>
              </div> </div>
               
              
                   <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :accepted_rate_currency, "Specify Currency ?" %>
                <%= f.select :accepted_rate_currency ,options_for_select(["IQD", "AED" ,"USD","BHD","SAR","PKR","INR"], @shipment.accepted_rate_currency), {:prompt => "* Currency" } , class: "form-control", required: :true%>
              </div>

                <div class="form-group" >
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :amount ,"Agreed Customer Rate"%>
                <%=f.text_field :amount , placeholder: "Accepted Rate *", class: "form-control", required: false%>
              </div>
               <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
      
                <%= f.label :pickup_location, "Pickup Location Address" %> 
                <%# <button style="margin-left:260px"  id="searchTextField"   class="btn btn-flat btn-success pull-right download_excel"  onclick=pickup_location()> Select Pickup Location</button>  %>
                <%=f.text_field :pickup_location , class: "form-control" , placeholder: "Pickup Location Address*" , onchange: "setTimeout(setcookies, 2000)",required: true , onFocus: call_geolocate%>
                <%=f.hidden_field :pickup_lat  %>
                <%=f.hidden_field :pickup_lng %>
                <%=f.hidden_field :pickup_city %>
           </div>
               
              <% if @individual %>
              <div class="form-group">
                <%= f.label :pickup_building_name, "Pickup Location Name" %>
                <%=f.text_field :pickup_building_name , class: "form-control" , onchange: "setTimeout(setcookies, 2000)",placeholder: "Pickup Location Name" %>
              </div>
                 <% else %>
                 <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :pickup_building_name, "Pickup Location Name" %>
                <%=f.text_field :pickup_building_name, class: "form-control" , placeholder: "Pickup Location Name", required: true %>
              </div>
               <% end %>

              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :drop_location, "Dropoff Location Address" %>
               <%# <button style="margin-left:260px"  id="searchTextField"   class="btn btn-flat btn-success pull-right download_excel"  onclick=dropoff_location()> Select DropOff Location</button>  %>
                <%=f.text_field :drop_location , class: "form-control google_auto_complete" , placeholder: "Dropoff Location  Address*" , onchange: "setTimeout(setcookies, 2000)", required: true, onFocus: call_geolocate  %>
                <%=f.hidden_field :drop_lat  %>
                <%=f.hidden_field :drop_lng  %>
                <%=f.hidden_field :drop_city  %>
             </div>
                <% if @individual %>
              <div class="form-group">
                <%= f.label :drop_building_name, "DropOff Location Name" %>
                <%=f.text_field :drop_building_name , class: "form-control", onchange: "setTimeout(setcookies, 2000)" , placeholder: "DropOff Location Name"%>
              </div>
                <% else %>
               <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :drop_building_name, "DropOff Location Name" %>
                <%=f.text_field :drop_building_name , class: "form-control" , placeholder: "DropOff Location Name"%>
              </div>
                 <% end %>

    
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :pickup_date , "Pickup Date" %>
                <%=f.text_field :pickup_date , class: "form-control datepicker1" , autocomplete: :off ,placeholder: "Pick up Date*" , required: false%>
              </div>

              <div class="bootstrap-timepicker">

              
                  <div class="form-group">
                  <%= f.label "*" , class: "label_required"%>
                  <%= f.label :pickup_time , "Pickup Time"%>
                  <div class="input-group">
                    <%= f.text_field :pickup_time , class: "form-control timepicker", autocomplete: :off , placeholder: "Pick up Time*", required: true %>
                  </div>

                </div>
            
              </div>
          
                 <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                  <%= f.label :loading_time ,"Loading/Unloading Time at Pickup (Hours)"%>
                <%=f.text_field :loading_time , placeholder: "Loading/Unloading Time*", class: "form-control", required: true%>
           </div>
                  <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :vehicle_type_id, "Specify Type of Vehicle Required?" %>
                <%= f.collection_select :vehicle_type_id, @vehicles_types, :id, :formatted_name,{include_blank: "Specify Type of Truck Required?"},{class: "form-control" , required: true} %>
              </div>
               <%# <% end %>  
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :no_of_vehicles, "Number of Vehicles Required" %>
                <i class="fa fa-question-circle fa-1x" data-placement =  "right"  title= "Need to book more than 20 trucks, Contact Lorryz at sales1@lorryz.com"></i>
                <div class = "input-group">
                  <%=f.select :no_of_vehicles,Shipment::NO_OF_VEHICLES,{include_blank: "Number of Trucks Required?"}, {class: "form-control", "data-placement": "right" ,title: "Need to book more than 20 trucks, Contact Lorryz at sales1@lorryz.com", required: true}%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :cargo_description %>
                <%=f.text_area :cargo_description , class: "form-control", placeholder: "Cargo Description*", required: true%>
              </div>
         
               <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :cargo_packing_type , "Cargo Packaging Type"%>
                <%=f.select :cargo_packing_type , Shipment::CARGO_PACKING_TYPES ,{include_blank: "Cargo Packaging Type*"}, {class: "form-control", required: true}%>
              </div>


              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :weight, "Weight" %>
                <%=f.text_field :weight , placeholder: "Weight in Tons*", class: "form-control", required: true%>
              </div>

                    <div class="form-group">
                <%= f.label :VAT_Status %><br />
                <%= f.label :VAT_applicable, "Applicable", :value => "true"  %>
                <%= f.radio_button :VAT_applicable, true %>
                <%= f.label :VAT_applicable, "Exempted", :value => "false" %>
                <%= f.radio_button :VAT_applicable, false, :checked => true %>
              </div>

                  <div class="form-group has-feedback">
                <label>Attach Shipment Documents</label>
                <div class = "form-group has-feedback attachment">
                  <%= f.hidden_field :documents, multiple: true, class: "js-signed-upload-value"  %>
                  <input type="file" class="js-signed-upload" multiple data-presign-url="<%=  presign_upload_moderator_fleet_individual_index_path %>" />
                  <div class = "attached_files container">
                    <p class="js-signed-upload-status">
                      <% if @shipment.documents.present? %>
                        <ul class = "documents_list">
                          <%@shipment.documents.each do |doc|%>
                            <li>
                              <a target="_blank" href="<%= doc %>">
                                <span class="remove_thumbnail">x</span>
                                <img src="<%= doc %>" alt="document" class = "document_thumbnail">
                              </a>
                            </li>
                          <%end%>
                        </ul>
                      <br><br><br><br>
                    <% end %>
                    </p>
                  </div>
                </div>
              </div>

           


           
           
              <div class = "row prorate hide">
                <div class="col-md-12 col-sm-6 col-12">
                  <div class="info-box bg-info">
                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Estimated Approx. Fare</span>
                      <span class="info-box-number"> <span class = "currency" > </span> <strong class="total_fare">0</strong> (<span class = "currency" > </span> <strong class = "per_vehicle_fare">0</strong> /Per Vehicle)</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class = "form-row">
                <label class = "assistance">
                  For any assistance, Please call us at <a href = "#">+971 56 5466088</a> Or send us email at
                  <a href="mailto:contact@lorryz.com">contact@lorryz.com</a>
                  <a ></a>
                </label>
              </div>
            </div>
            <div class="card-footer">
              <%= f.submit submit_button_text , class: "btn btn-primary" %>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  
</section>

<% if current_user.country.process == "prorate"%>
    <script type="text/javascript" charset="utf-8">
        $(document).on('turbolinks:load', function() {
            get_prorate_calculation();
        })
    </script>
    <%end%>
<script>    

   $('input[type=radio][name=Category]').change(function() {

    if (this.value == 'Individual') {

         document.getElementById("shipment_cancel_by").value=null

      document.getElementById("company").style.visibility="hidden";

     document.getElementById("individual").style.visibility="visible";

    }

    else if (this.value == 'Company') {     

     document.getElementById("company").style.visibility="visible";

     document.getElementById("individual").style.visibility="hidden";

    

     }

});


  $('input[type=radio][name=Category1]').change(function() {

    if (this.value == 'fixed') {


        $('#shipment_drop_location').attr('required', true);
             document.getElementById("shipment_drop_location").style.visibility="visible";
             document.getElementById("shipment_drop_building_name").style.visibility="visible";


    }

    else if (this.value == 'open') {        

       $('#shipment_drop_location').removeAttr('required');
            document.getElementById("shipment_drop_location").style.visibility="hidden";
             document.getElementById("shipment_drop_building_name").style.visibility="hidden";

    
    
    }

});



</script>


<script>
  $(".remove_thumbnail").click(function (e) {
      e.preventDefault()
      value = $(this).parents(".form-group").find(".js-signed-upload-value").val()
      value = value.split(" ")
      remove_url = $(this).parents("a").attr("href")
      index = value.indexOf(remove_url)
      value.splice(index, 1)
      $(this).parents(".form-group").find(".js-signed-upload-value").val(value.join(" "))
      $(this).parents("a").addClass("hide")
  })
</script>










