
  <%=  
   @pickup_time = params[:pickup_time]
   @pickup_building_name = params[:pickup_building_name]
   @drop_building_name = params[:drop_building_name]
   @pickup_date = params[:pickup_date]
   @loading_time = params[:loading_time]
   @unloading_time = params[:unloading_time]
   @vehicle_type_id = params[:vehicle_type_id]
   @no_of_vehicles = params[:no_of_vehicles]
   @cargo_description = params[:cargo_description]
   @cargo_packing_type = params[:cargo_packing_type]
   @payment_option = params[:payment_option]
   @address =params[:address]
   @drop_address =params[:drop_address]
   @latitude = params[:latitude]
   @longitude = params[:longitude]
   @dropoff_lat= params[:dropoff_lat]
   @dropoff_long= params[:dropoff_long]
      @city= params[:city]
   @dcity= params[:dcity]

   
  %>

 

   
    <div class="modal-dialog driver-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-holder" id="<%#@shipment.id%>">
            <div class="close-modal" data-dismiss="modal">
              <%= image_tag("close-modal.png")%>
            </div>
            <h1 class = "red">Select Vehicle type</h1>
            
<% @vehicles.each do |vehicle| %>
    <%# <%= link_to asset.photo.url(:original), class: :popup_link, target: :_blank do %> 
 <%# <%= image_tag(vehicle.avatar_attachment, :size => "145x100") do %> 

<%# <%=link_to image_tag(vehicle.avatar_attachment, :size => "145x100") , image_select_cargo_shipments_path(:vehicle_id => @vehicle.id,:pickup_building_name => @pickup_building_name.id,:drop_building_name => @drop_building_name,:pickup_date => @pickup_date,:loading_time => @loading_time,:unloading_time => @unloading_time,:no_of_vehicles => @no_of_vehicles,:cargo_description => @cargo_description,:cargo_description => @cargo_description,:cargo_packing_type => @cargo_packing_type,:payment_option => @payment_option,:address => @address,:drop_address => @drop_address,:latitude => @latitude,:longitude => @longitude,:dropoff_lat => @dropoff_lat,:dropoff_long => @dropoff_long), :class => 'dock-item'%> 
<%=link_to image_tag(vehicle.avatar_attachment, :size => "145x100") , image_select_cargo_shipments_path(:vehicle_id => vehicle.id,:pickup_building_name => @pickup_building_name,:drop_building_name => @drop_building_name,:pickup_date => @pickup_date,:loading_time => @loading_time,:unloading_time => @unloading_time,:no_of_vehicles => @no_of_vehicles,:cargo_description => @cargo_description,:cargo_description => @cargo_description,:cargo_packing_type => @cargo_packing_type,:payment_option => @payment_option,:address => @address,:drop_address => @drop_address,:latitude => @latitude,:longitude => @longitude,:dropoff_lat => @dropoff_lat,:dropoff_long => @dropoff_long ,:city => @city,:dcity => @dcity), :class => 'dock-item'%> 
<% end %>




<br><br>
<br>

<%# <%= link_to 'New Lesson', new_lesson_path %> 





         

          <div class="buttons-holder clearfix">
            <button class = "btn btn-outline-secondary btn-flat" data-dismiss = "modal">BACK</button>
          </div>
          </div>
        </div>

      </div>
    </div>

<script>
