
<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Add Shipment Details</h3>
              <h2></h2>
            </div>
            <div class="card-body register-card-body">
     <%= form_for @shipment, :url  => { :action => "add_moderator_shipment_details" } do |f| %>
  
           <div class="card-body">
             
             
                 <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :amount , "Cargo Accepted Rate"%>
                <br>
                <%= f.text_field :amount , class: "form-control", placeholder: "*Cargo Accepted Rate" , required: true  ,:disabled => true%>
              </div>
               <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :fleet_income , "Fleet Accepted Rate"%>
                <br>
                <%= f.text_field :fleet_income , class: "form-control", placeholder: "*Fleet Accepted Rate" , required: true  ,:disabled => true%>
              </div>

                 <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :lorryz_share_amount , "Lorryz share "%>
                <br>
                <%= f.text_field :lorryz_share_amount , class: "form-control", placeholder: "*Lorryz share" , required: true  ,:disabled => true%>
              </div>


                <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :additional_cost , "additional cost"%>
                <br>
                <%= f.text_field :additional_cost , class: "form-control", placeholder: "*Additional Cost" , required: true  ,:disabled => true%>
              </div>

              


              <div class="form-group has-feedback">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :expiry_date, "Expiry Date" %>
                <%# <%= f.text_field :expiry_date , class: "datepicker form-control" ,placeholder:  "*Expiry Date" , required: true %> %>
              </div>
              <div class="form-group has-feedback">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :insurance_number, "Insurance Number" %>
                <%# <%= f.text_field :insurance_number , class: " form-control" ,placeholder:  "*Insurance Number", required: true%> %>
              </div>

              <div class="form-group has-feedback">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :insurance_expiry_date, "Insurance Expiry Date" %>
                <%# <%= f.text_field :insurance_expiry_date  , class: "datepicker form-control" ,placeholder:  "*Insurance Expiry Date" , required: true %> %>
              </div>
         
              <div class="form-group has-feedback">
                <%= f.label :authorization_letter , "Authorization Letter" %>
                <%# <%= f.text_field :authorization_letter, class: "datepicker form-control" ,placeholder:  "Vehicle Authorization Letter/ Noc/ Tafweed" %> %>
              </div>
            

              <div class="form-group has-feedback not_available">
                <div class="row">
                  <div class="col-sm-6">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :not_available_from %>
                    <%# <%= f.text_field :not_available_from , class: "datepicker form-control" ,placeholder:  "*Not Available From" , required: true %> %>
                    
                  </div>
                  <div class="col-sm-6">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :not_available_to %>
                    <%# <%= f.text_field :not_available_to , class: "datepicker form-control" ,placeholder:  "*Not Available to" , required: true %> %>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :vehicle_type_id, 'vehicle types' %>
                <%# <%= f.collection_select :vehicle_type_id, VehicleType.all, :id, :name,{include_blank: "*Vehicle Type"},{class: "form-control" , required: true} %> %>
              </div>
            </div>
              <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block btn-flat"><%= "ADD" %></button>
                </div>

      <%end%>
    </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>






