<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class = "card-body">
          <div class="card">
            <div class="card-header p-0">
              <div class = "row">
                <h3 class="card-title p-3 col-3">Shipment Dashboard</h3>
                <div class = "col-9"></div>
              </div>
           <%# <%if user_type == "Fleet"%>
              <%# <%= link_to "Add Fleet Individual" ,  new_admin_fleet_individual_path, class: "btn btn-flat btn-success pull-right download_excel"%> 
            <%# <%elsif user_type == "Cargo" && users.first.company.try(:company_type) == "individual"%> 
            <%# <%= link_to "Add Cargo Individual" ,  new_admin_cargo_individual_path, class: "btn btn-flat btn-success pull-right download_excel"> %>
            <%# <%else%> 
             <%# <%= link_to "Add Cargo Company" ,  new_admin_cargo_individual_path, class: "btn btn-flat btn-success pull-right download_excel"%> 
            <%# <%end%> 
              <ul class="nav nav-pills ml-auto p-2">
                <li class="nav-item"><a class="nav-link active show " href="#tab_1" data-toggle="tab">Posted</a></li>
                <li class="nav-item"><a class="nav-link " href="#tab_2" data-toggle="tab">Upcoming</a></li>
               <li class="nav-item"><a class="nav-link " href="#tab_3" data-toggle="tab">Ongoing</a></li>
               <li class="nav-item"><a class="nav-link " href="#tab_4" data-toggle="tab">Completed</a></li>

            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active show" id="tab_1">
                 <%= render partial: "posted", locals: {shipments: Shipment.where('state =? ', "posted")}%>  </div>

                <div class="tab-pane" id="tab_2">
                 <%= render partial: "upcoming", locals: {shipments: Shipment.where('state =? OR state=? ', "accepted",'vehicle_assigned')}%>       </div>

                  <div class="tab-pane" id="tab_3">
                   <%= render partial: "ongoing", locals: {shipments: Shipment.all.where('state =? ', "ongoing")}%>  </div>
                  <div class="tab-pane" id="tab_4">
                   <%= render partial: "completed", locals: {shipments: Shipment.all.where('state =? OR state=? ', "completed",'cancel')}%>  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

