<div> Customer : <%= @shipment.try(:company).try(:company_name) %> </div>
<div> Customer ID : <%= @shipment.try(:company).try(:id) %> </div>
<div> Address : <%= @shipment.try(:company).try(:company_address) %> </div>
<div> Phone : <%= @shipment.try(:company).try(:company_phone) %> </div>