<div> Shipper  : <%= @fleet.formatted_cargo_name %> </div> 
<div> Shipper ID : <%= @fleet.id %> </div>
<div> Address : <%= @shipment.try(:fleet).try(:company_address)%>  </div>
<div> Phone : <%= @shipment.try(:fleet).try(:company_phone)%>  </div>

