<div class="receipt-modal-inner">
 <br>
  <hr style="height:3px;border-width:0;color:#0094b9;background-color:#0094b9 ; margin-top :151%"> 

  <b><p style = "text-align:center ; font-size :24px; margin-top :21%">Driver Agreement & Final Payment</p></b>
  <p style = "font-size :17px">The following agreement has been made between <b>Lorryz FZ-LLC</b> & the <b>Truck Driver</b> which are binding under the legal authorities. </p>
 
  <b><u><p  style = "font-size :17px"> Details </p></u></b>
   <%
   @advance = 0
   @balance = @shipment.fleet_net_rate
   @advance = @shipment.advance_amount.to_i if @shipment.advance_amount.present?
   @balance =@shipment.fleet_net_rate -  @shipment.advance_amount.to_i  if @shipment.advance_amount.present?
  @additional_cost = 0 ;
     @additional_cost = @shipment.additional_rate  + @additional_cost if @shipment.additional_rate.present?
     @additional_cost =  @shipment.additional_rate1 + @additional_cost if @shipment.additional_rate1.present?
     @additional_cost =  @shipment.additional_rate2 + @additional_cost if @shipment.additional_rate2.present?
     @additional_cost =  @shipment.additional_rate3 + @additional_cost if @shipment.additional_rate3.present?
     @additional_cost =  @shipment.additional_rate4 + @additional_cost if @shipment.additional_rate4.present?
     @additional_cost =  @shipment.additional_rate5 +  @additional_cost if @shipment.additional_rate5.present?
     @additional_cost =  @shipment.additional_rate6 + @additional_cost if @shipment.additional_rate6.present?
  %>
  <p  style = "font-size :17px"> Voucher no : <b><u> VOC<%= Time.current.year %><%= '%04d' % @shipment.id%> </u></b> </p>
  <p  style = "font-size :17px"> Date: <b><u> <%= Date.today()%> </u></b> </p>
  <p  style = "font-size :17px"> Truck Driver Name: <b><u> <%  @shipment_fleets.each do |charge| %>
   <%=  User.find_by_company_id(charge.company_id).formatted_name%>,
   <%end %> </u></b> </p>
  <p  style = "font-size :17px"> Full Freight Charges: <b><u> <%= @shipment.fleet_net_rate - @additional_cost %></u> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;   Additional Charges :<u> <%=@additional_cost %></u></b> </p>
  <p  style = "font-size :17px"> Advance:<b><u> <%= @advance%> </u></b> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  Balance: <b><u> <%=@shipment.fleet_net_rate - @advance %> </u></b> </p>
  <p  style = "font-size :17px"> Mobile no : 
  
  <%  @shipment_fleets.each do |charge| %>
 <b><u> <%= User.find_by_company_id(charge.company_id).mobile%> </u></b> ,
  <%end %>

   <p  style = "font-size :17px"> National ID : 
  
  <%  @shipment_fleets.each do |charge| %>
 <b><u> <%= User.find_by_company_id(charge.company_id).company.try(:individual_information).try(:national_id)%> </u></b> ,
  <%end %>
  <p  style = "font-size :17px"> Loading from : <b><u> <%= @shipment.pickup_location%> </u></b> </p>
  <p  style = "font-size :17px"> Loading to  : <b><u> <%=  @shipment.drop_location%> </u></b> </p>
  <br>
  <p  style = "font-size :17px"> Final Paid to  : <b><u> <%= @shipment.final_paid_to%> </u></b>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Sign  : <b><u> </u></b> <u> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</u> &nbsp; Date : <u> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</u><b><u></u></b> </p>

<p style = "font-size :18px" >Truck Driver’s Declaration: I am the Truck Driver and having read and agreed to the complete terms and condition, and I have carried and watched out the process of loading the goods in my vehicle, have signed and acknowledging the validity and correctness of figures (in writing) showing that I have received the said quantity of the goods and the same have been under my custody, Hence I Shall undertake to deliver the same to the consignee.
</p>

<br>
  <p  style = "font-size :17px">Truck Driver Sign  : <b><u> </u></b> <u> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</u> &nbsp; </b> </p>

<p style = "font-size :18px" ><b>Terms & Conditions</b> </p>
<p  style = "font-size :17px">1.  <b>Truck Driver</b> is liable to inform <b>Lorryz</b>, if the truck & trailer waits for more than 48-hours at the border, else company will not be liable for any claims.</p>
<p  style = "font-size :17px">2.  The <b>Truck Driver</b> is solely responsible to deliver complete goods in good condition, <b>Lorryz</b> reserves the right to claim full compensation from the <b>Truck driver</b> / Owner of the transport, in case of any shortage or damage caused to the shipment, which may be claimed by the consignee, & <b>Truck Driver</b> will be obliged to settle such claims on our first demand.</p>
<p  style = "font-size :17px">3.  <b>Truck Driver</b> is fully responsible to cover the goods with all necessary safety requirements such as tarpaulin, stacking etc.</p>
<p  style = "font-size :17px">4.  The <b>Truck Driver</b> should submit the signed delivery note to<b> Lorryz</b> within 10 days after delivery.</p>
<p  style = "font-size :17px">5.  The <b>Truck Driver</b> is not permitted to load any other material/goods unless it is covered under Lorryz agreement.</p>
<p  style = "font-size :17px">6.  All trading under <b>NAFL </b>terms and condition.</p>
<p  style = "font-size :17px">7.  If the <b>Truck Driver</b> has in possession any undeclared goods besides the documented products or contraband products. The driver will be fully responsible for any consequences from any Government Authority and all loses if such a situation arises.</p>

<b><p style="text-align:center ; font:14">Website: www.lorryz.com	Email: contact@lorryz.com</p></b>

