<div class = "row">
  <div class  =" col-md-4"></div>
  <div class  =" col-md-3">
    <%= text_field_tag :start_date, nil, class: "search-datepicker datepick form-control" ,placeholder:  "Start Date", :autocomplete => :off   %>
  </div>
  <div class  =" col-md-3">
    <%= text_field_tag :end_date ,nil, class: "search-datepicker datepick form-control" ,placeholder:  "End Date", :autocomplete => :off   %>
  </div>
  <%= link_to "Download in Excel" , url_for(format: :xlsx) , class: "btn btn-flat btn-success pull-right" ,onclick: "append_date_range_params(this);"%>
</div>