<script>
    $(document).on('turbolinks:load', function () {
        markers = [];
        center = {lat: <%= @shipment.pickup_lat %>, lng: <%= @shipment.pickup_lng %>}
        initMapWithCenter(center)
                                        map.setZoom(5)

        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        function clearMarkers() {
            setMapOnAll(null);
        }

        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }
        (function poll() {
            id = $("#shipment_id").data("shipment-id");
            console.log(id)
            <%if user_type == "fleet" %>
                $.ajax({
                    url: "/fleet/shipments/" + id + "/get_coordinates",
                    type: "GET",
                    success: function (data) {
                        console.log("-----------------------FFF- Fleet--polling");
                        deleteMarkers();
                        setMapOnAll(map)
                        $.each(data["coordinates"], function (index, value) {
                            var marker = new google.maps.Marker({
                                position: {lat: value.lat, lng: value.lng},
                                icon: "/truck_pin.png",
                                map: map
                            });
                            // change vehicle status in datatable
                            $("#" + value.id).text(value.status)
                            markers.push(marker)
                            var infowindow = new google.maps.InfoWindow({
                                content: "<div class=\"map-pin-holder\">\n" +
                                    "    <h1>Shipment No. <%=@shipment.id%></h1>\n" +
                                    "    <div class=\"pin-row clearfix\">\n" +
                                    "      <div class=\"fleet-col-left\">\n" +
                                    "        <div class=\"truck-row\">\n" +
                                    "          <span><img src=\"/dyna-truck.png\" alt=\"\" ></span>\n" +
                                    "          <span><%=@shipment.no_of_vehicles.to_s + "  X  "+ @shipment.vehicle_type.name %></span>\n" +
                                    "        </div>\n" +
                                    "        <div class=\"truck-number\">" + value.vehicle_name +
                                    "        </div>\n" +
                                    "      </div>\n" +
                                    "      <div class=\"fleet-col-right\">\n" +
                                    "          <div class=\"address-outer\">\n" +
                                    "              <div class=\"address-one\">\n" +
                                    "                 <%= @shipment.pickup_full_address%>" +
                                    "              </div>\n" +
                                    "              <div class=\"address-two\">\n" +
                                    "                  <%= @shipment.drop_full_address%>" +
                                    "              </div>\n" +
                                    "          </div>\n" +
                                    "    </div>\n" +
                                    "    </div>\n" +
                                    "  </div>"
                            });
                            marker.addListener('click', function() {
                                infowindow.open(map, marker);
                            });
                        })
                    },
                    dataType: "json",
                    complete: setTimeout(function () {
                        if($("#state").val() == "ongoing"){
                            poll();
                        }
                    }, 20000),
                    timeout: 2000
                })
            <%else %>
            $.ajax({
                url: "/cargo/shipments/" + id + "/get_coordinates",
                type: "GET",
                success: function (data) {
                    console.log("-----------------------FFF-Cargo--polling");
                    deleteMarkers();
                    setMapOnAll(map)
                    $.each(data["coordinates"], function (index, value) {
                        var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map,
                            title: 'Hello World!'
                        });
                        $("#" + value.id).text(value.status)
                        markers.push(marker)
                        var infowindow = new google.maps.InfoWindow({
                            content: "<div class=\"map-pin-holder\">\n" +
                                "    <h1>Shipment No. <%=@shipment.id%></h1>\n" +
                                "    <div class=\"pin-row clearfix\">\n" +
                                "      <div class=\"fleet-col-left\">\n" +
                                "        <div class=\"truck-row\">\n" +
                                "          <span><img src=\"/dyna-truck.png\" alt=\"\" ></span>\n" +
                                "          <span><%=@shipment.no_of_vehicles.to_s + "  X  "+ @shipment.vehicle_type.name %></span>\n" +
                                "        </div>\n" +
                                "        <div class=\"truck-number\">" + value.vehicle_name +
                                "        </div>\n" +
                                "      </div>\n" +
                                "      <div class=\"fleet-col-right\">\n" +
                                "          <div class=\"address-outer\">\n" +
                                "              <div class=\"address-one\">\n" +
                                "                 <%= @shipment.pickup_location %>" +
                                "              </div>\n" +
                                "              <div class=\"address-two\">\n" +
                                "                  <%= @shipment.drop_location %>" +
                                "              </div>\n" +
                                "          </div>\n" +
                                "    </div>\n" +
                                "    </div>\n" +
                                "  </div>"
                        });
                        marker.addListener('click', function() {
                            infowindow.open(map, marker);
                        });
                    })
                },
                dataType: "json",
                complete: setTimeout(function () {
                    if($("#state").val() == "ongoing"){
                        poll();
                    }
                }, 20000),
                timeout: 2000
            })
            <%end %>
        })();
    })

</script>