<div class="ratings-visual">
  <!--check User has given rating-->
  <%if @shipment.company_ratings.pluck(:giver_id).include? current_user.company_id %>
      <!--check User has received rating-->
      <% if @shipment.company_ratings.pluck(:receiver_id).include? current_user.company_id%>
          <%shipment_rating = @shipment.company_ratings.where(receiver_id: current_user.company_id).first%>
          <div class = "shipment-ratings">
            <label>Rating: </label>
            <%= select_tag 'rating', options_for_select(["",1,2,3,4,5], shipment_rating.rating.to_i ) %>
          </div>
          <div class = "shipment-ratings">
            <label>Remarks: </label>
            <p> <%= shipment_rating.remarks rescue nil %></p>
          </div>
      <%else%> <!-- NO -->
          <p> You have not been rated for this shipment. </p>
      <%end%>
  <%else%>
      <%= link_to ratings_shipment_path(shipment_id: @shipment.id),remote: :true, class: "rating-outer" do %>
          <div class="rate-your-shipment">
            <h2>Rate the shipment to reveals yours</h2>
            <span>
              <%= image_tag "rating-stars.jpg" %>
            </span>
          </div>
      <%end%>
  <%end%>
</div>