  <script>
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
}
</script>
<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Dashboard</h3>
              <div class = "row">
             
            <div class = "card-body">
              <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:get_all_drivers_moderator_users_path, method: :POST do |f|%>
                <div class="row ship">
                  <div class="col-md-4 col-sm-4 ">
                   <%= f.label :IMEI ,"IMEI" %>
                    <div class="selectHolder">
                   <%= f.collection_select :imei, GpsVehicle.all.where(:country_id => current_user.country.try(:id)).order(:imei) , :imei,:imei,{include_blank: "Specify GPS IMEI?"}, onchange: "populate_data()"  %>
                   </div>

                  </div>
                  <div class="col-md-4 col-sm-4 ">
                   <%= f.label :Vehicle_number %>
                   <div class="selectHolder">
                   <%= f.collection_select :vehicle_number, Vehicle.all.filter_by_country_id(current_user.country.try(:id)).order(:registration_number) , :id,:registration_number,{include_blank: "Specify Truck Number?"}, onchange: "populate_data()"%>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-4  pad-2">
                    <%= f.label :Country  %>
                    <div class="selectHolder">
                   <%= f.collection_select :country, Country.all.where(:id => current_user.country.try(:id)).order(:name) , :id,:name,{include_blank: "Specify Country?"}, onchange: "populate_data()" %>
                    </div>

                  </div>

                  <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :Customer_name %>
                    <div class="selectHolder">
                   <%= f.collection_select :customer_name, User.fleet_owners.where(:country_id => current_user.country.try(:id)).order(:first_name) , :company_id,:formatted_cargo_name,{include_blank: "Specify Customer name?"}, onchange: "populate_data()" %>
                    </div>

                  </div>
                      <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :shipment_no %>
                    <div class="selectHolder">
                    <%= f.collection_select :shipment_no, Shipment.all.where(:country_id => current_user.country.try(:id)).order(:id) , :id,:id,{include_blank: "Specify Shipment number?"}, onchange: "populate_data()" %>

                    </div>

                  </div>
                 
                 
                  </div>
                  <div class="col-md-4 col-sm-4">

                  </div>
                </div>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  <%
      country = ISO3166::Country.find_country_by_name(current_user.country.name) rescue ""
    @user_country_coordinates = {lat: country.latitude , lng: country.longitude}
  	@vehicles = Vehicle.all%>

<div id="map" class="bulk_geocode" style = "margin-top:-13%"></div>

<script data-turbolinks-eval="false">
    $(document).on('turbolinks:load', function () {
        if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(function(position) {
                initMapWithCenter({lat: position.coords.latitude, lng: position.coords.longitude })
            },function (err) {
                initMapWithCenter({lat: <%= @user_country_coordinates[:lat] %> , lng: <%= @user_country_coordinates[:lng] %> })
                map.setZoom(7)
            })
        }

        markers = [];
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        function clearMarkers() {
          setMapOnAll(null);
        }

        function deleteMarkers() {
          clearMarkers();
          markers = [];
        }
        (function poller() {
            
               deleteMarkers();
                                var infowindow =null

            $.ajax({
                url: "<%= get_all_drivers_moderator_users_path %>",
                type: "POST",
                success: function (data) {
                    console.log("------------------Cargo Index--------polling");
                    deleteMarkers();
                    setMapOnAll(map)
                    
                    $.each(data["coordinates"], function (index, value) {
                        var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map,
                            title: 'Driver Details!'
                        });
                      
                       
                          if(value.category == 1){
                         marker.icon="/dark_green.png"
                         }

                             if(value.category == 2){
                         marker.icon="/light_green.png"
                         }

                             if(value.category == 3){
                         marker.icon="/dark_blue.png"
                         }

                             if(value.category == 4){
                         marker.icon="/blue.png"
                         }


                             if(value.category == 5){
                         marker.icon="/light_blue.png"
                         }
                              if(value.category == 6){
                         marker.icon="/dark_yellow.png"
                         }


                                  if(value.category == 7){
                           marker.icon="/light_yellow.png"
                         }
                        else if(value.category == 0 ){

                         marker.icon="/truck_pin.png"
                         }



                        markers.push(marker)

                                   
                        marker.addListener('click', function() {
                            
                                  if (infowindow) { 
        infowindow.close();
      
        }
            infowindow = new google.maps.InfoWindow({
          
                            content: "<div class=\"map-pin-holder\">\n" +
                            "    <h1>Driver  Name. "+value.driver_name +"(" + value.condition + ")</h1>\n" +
                            "    <div class=\"pin-row clearfix\">\n" +
                            "      <div class=\"fleet-col-left\">\n" +
                            "        <div class=\"truck-row\">\n" +
                            "          <span><img src=\"/dyna-truck.png\" alt=\"\" ></span>\n" +
                            "          <span>"+value.type + "  #  "+ value.registration_number+"</span>\n" +
                            "        </div>\n" +
                            "        <div class=\"truck-number\" style= width:125%> " +"Shipment no = " + value.condition +
                                "</div>\n" +
                            "      </div>\n" +
                            "      <div class=\"fleet-col-right\">\n" +
                            "          <div class=\"address-outer\">\n" +
                            "              <div class=\"address-one\">\n" +
                            "                 "+value.lat+
                            "              </div>\n" +
                            "              <div class=\"address-two\">\n" +
                            "                  "+value.lng+
                            "              </div>\n <br>" +

                                 "              <div class=\"address-one\">\n" +
                             "                  "+"Phone = "+value.phone+
                            "                   </div>\n<br> " +
                            
                                                         "    <p style='color:white'>imei :"+value.imei+"</>\n" +
                                                         
                                                            "    <p style='color:white'>Last updated :"+value.updated_at+" ago"+"</p>\n" +



                            "          </div>\n" +
                            "    </div>\n" +
                            "    </div>\n" +
                            "  </div>"
                        }); 
                            infowindow.open(map, marker);
                        });
                       
                    })
                },
                dataType: "json"
            })
        })();
    })
  function populate_data()
  {
     
    country_name = document.getElementById("query_country").value;
    imei = document.getElementById("query_imei").value;
    vehicle_number = document.getElementById("query_vehicle_number").value;
    shipment_no = document.getElementById("query_shipment_no").value;
    customer_name = document.getElementById("query_customer_name").value;
//   location.replace("/cargo/shipments/pickup_location?country="+country+"&imei="+imei+"&vehicle_number="+vehicle_number+"&shipment_no="+shipment_no+"&customer_name="+customer_name)




 if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(function(position) {
                initMapWithCenter({lat: position.coords.latitude, lng: position.coords.longitude })
            },function (err) {
                initMapWithCenter({lat: <%= @user_country_coordinates[:lat] %> , lng: <%= @user_country_coordinates[:lng] %> })
                map.setZoom(7)
            })
        }

        markers = [];
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        function clearMarkers() {
          setMapOnAll(null);
        }

        function deleteMarkers() {
          clearMarkers();
          markers = [];
        }
        (function poller() {
                  country_name = document.getElementById("query_country").value;
    imei = document.getElementById("query_imei").value;
    vehicle_number = document.getElementById("query_vehicle_number").value;
    shipment_no = document.getElementById("query_shipment_no").value;
    customer_name = document.getElementById("query_customer_name").value;
    urls ='users/get_all_drivers_filtered?country='+country_name+'&imei='+imei+'&vehicle_number='+vehicle_number+'&shipment_no='+shipment_no+'&customer_name='+customer_name 
           

           console.log(urls);
           
           
               deleteMarkers();
            $.ajax({
                url:urls,
                type: "POST",
                success: function (data) {
                    console.log("------------------Cargo Index--------polling");
                    deleteMarkers();
                    setMapOnAll(map)
                                         var infowindow1=null

                    
                    $.each(data["coordinates"], function (index, value) {
                        var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map,
                            title: 'Driver Details!'
                        });
                      
                       
                          if(value.category == 1){
                         marker.icon="/dark_green.png"
                         }

                             if(value.category == 2){
                         marker.icon="/light_green.png"
                         }

                             if(value.category == 3){
                         marker.icon="/dark_blue.png"
                         }

                             if(value.category == 4){
                         marker.icon="/blue.png"
                         }


                             if(value.category == 5){
                         marker.icon="/light_blue.png"
                         }
                              if(value.category == 6){
                         marker.icon="/dark_yellow.png"
                         }



                                  if(value.category == 7){
                        marker.icon="/light_yellow.png"
                         }
                        else if(value.category == 0 ){

                         marker.icon="/truck_pin.png"
                         }

                          marker.addListener('click', function() {
                            if (infowindow1) {

                          infowindow1.close();
                      }


                        infowindow1 = new google.maps.InfoWindow({
                                  content: "<div class=\"map-pin-holder\">\n" +
                            "    <h1>Driver  Name. "+value.driver_name +"(" + value.condition + ")</h1>\n" +
                            "    <div class=\"pin-row clearfix\">\n" +
                            "      <div class=\"fleet-col-left\">\n" +
                            "        <div class=\"truck-row\">\n" +
                            "          <span><img src=\"/dyna-truck.png\" alt=\"\" ></span>\n" +
                            "          <span>"+value.type + "  #  "+ value.registration_number+"</span>\n" +
                            "        </div>\n" +
                            "        <div class=\"truck-number\" style= width:125%> " +"Shipment no = " + value.condition +
                                "</div>\n" +
                            "      </div>\n" +
                            "      <div class=\"fleet-col-right\">\n" +
                            "          <div class=\"address-outer\">\n" +
                            "              <div class=\"address-one\">\n" +
                            "                 "+value.lat+
                            "              </div>\n" +
                            "              <div class=\"address-two\">\n" +
                            "                  "+value.lng+
                            "              </div>\n <br>" +

                                 "              <div class=\"address-one\">\n" +
                           "                  "+"Phone = "+value.phone+
                            "                   </div>\n<br> " +
                            
                                                         "    <p style='color:white'>imei :"+value.imei+"</>\n" +
                                                         
                                                            "    <p style='color:white'>Last updated :"+value.updated_at+" ago"+"</p>\n" +



                            "          </div>\n" +
                            "    </div>\n" +
                            "    </div>\n" +
                            "  </div>"
                        }); 
                                                   infowindow1.open(map, marker);
                         });
                       
                    })
                },
                dataType: "json"
            })
        })();

















}

</script>
