

<div id="map" class="bulk_geocode" style="width:55%; display: inline-block;"></div>


<div style="width: 25%;position: absolute;  display: inline-block; padding-top : 72px;overflow-y: scroll;max-height:100%;">
            <div class = "card-body">
                <h3 >
          <u>  ONGOING SHIPMENTS </u>
                     </h3>

              <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:cargo_dashboard_index_path, method: :get  do |f|%>
                <div class="row ship">
                  <div class="col-md-12 col-sm-12 ">
                   <%= f.label "Shipment Type:" ,"Shipment Type:" %>
                    <div class="selectHolder">               
                    <%= f.select :category ,options_for_select(["All", "Intra-Inter City","Cross_Border","Inter_City","Intra_City"],params[:query][:category]), {:prompt => "* Specify Shipment Type" } , class: "form-control"  if params[:query].present?%>
                     <%= f.select :category ,options_for_select(["All", "Intra-Inter City","Cross_Border","Inter_City","Intra_City"]), {:prompt => "* Specify Shipment Type" } , class: "form-control"  if params[:query].blank?%>

    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 "><br>
                   <%= f.label "Pickup Location" ,"Pickup Location:" %>
                    <div class="selectHolder">               
                                     <% if params[:query].present?%>

                     <%= f.text_field :pickup_location , value: params[:query][:pickup_location] ,class: " form-control" ,placeholder:  "Pickup Location"  if params[:query][:pickup_location].present?%>
                   <%=f.text_field :pickup_location , class: " form-control" ,placeholder:  "Pickup Location"  if params[:query][:pickup_location].blank?  %>

                      <%else%>
                      <%= f.text_field :pickup_location , class: " form-control" ,placeholder:  "Pickup Location"  %>
                      <%end%>
                   

                  </div>     </div>

                  <div class="col-md-12 col-sm-12 "><br>
                   <%= f.label "Drop Location:" ,"Drop Location:" %>
                    <div class="selectHolder">               
                 <% if params[:query].present?%>
                   <%= f.text_field :drop_location , value: params[:query][:drop_location] ,class: "form-control" ,placeholder:  "Drop Location"  if params[:query][:drop_location].present?%>
                   <%=f.text_field :drop_location , class: "form-control" ,placeholder:  "Drop Location"  if params[:query][:drop_location].blank?  %>

                      <%else%>
                      <%= f.text_field :drop_location , class: "form-control" ,placeholder:  "Drop Location"  %>
                      <%end%>
     </div>


                  </div>
                       <div class="col-md-4 col-sm-4">
                    <%= f.submit "Search" , class: "btn btn-primary submit-btn" %>
                  </div>

                </div>

                <% end %>
              </div>

                 <hr>
               
              <table class="table table-bordered table-striped " data-page-length='10'>
               
               
                     
                <tbody>
              
          
                 <%@shipment_dashboard.each do |s|%>

                      <tr>
                       Shipment No:  <strong><%= s.id%></strong>
                      </tr>
                      <br>
                       <tr>
                       From : <b><%= s.pickup_location%></b>
                      </tr>  <br><tr>
                       To :<b><%= s.drop_location%></b>
                      </tr>  <br><tr>
                       No. of Vehicles : <b> <%= s.no_of_vehicles%></b>
                      </tr> 
                       <br><tr>
                       Shipment status: <b> <%= s.status%></b>
                      </tr> 
                       <br><tr>
                       Loading Time :
                      <b>   <%= s.shipment_action_dates.where(state: "At Loading").try(:last).try(:performed_at) rescue nil%></b>
                      <b>   <%= s.shipment_action_dates.where(state: "At Loading").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%></b>

                      </tr> <br> <tr>
                       Customer Agreed Amount: <b> <%=s.try(:accepted_rate_currency)    if  s.customer_net_amount.present?%> <%=s.try(:customer_net_amount).to_i   if  s.customer_net_amount.present?  %> </b>
                      <b>   <%=s.try(:accepted_rate_currency)    if   s.customer_net_amount.blank? %> <%= s.try(:amount).to_i  if  s.customer_net_amount.blank?  %> <% s.try(:curreny)  if  s.customer_net_amount.blank?  %></b>

                      </tr>  <br>

                     
        

<br>


       <b> <u> <p style = "text-align : center" > Driver Details:</p></u></b>


  <div id="driversSlider" class="carousel slide driver-slider-holder" data-ride="carousel">
           
            <div class="carousel-inner">
              <%s.shipment_vehicles.each_with_index do |shipment_vehicle, index|%>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <div class="driver-detail">
                           Vehicle Driver : <b><%= shipment_vehicle.try(:vehicle).try(:driver).try(:full_name)%></b>

                            <br>
                            Vehicle Registation No : <b><%=shipment_vehicle.try(:vehicle).try(:registration_number) %></b>


                            <br>
                           Vehicle Type :<b><%=shipment_vehicle.try(:vehicle).try(:vehicle_type).try(:name)               %></b>
                            <br>
                          
                           Driver  Contact:   <b><%= User.find_by_company_id(shipment_vehicle.vehicle.company_id).try(:mobile)%></b>
       
                            <br>

                      <%= form_for "query", method: :get do |f|%>
                   <%= f.hidden_field :shipment_id ,value: s.id , class: "form-control" %>
                  <%= f.hidden_field :shipment_index ,value: "undefined" , class: "form-control" %>

                
                    </form>            
                              
  <%end%>
             
          <%                  url = "https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=#{shipment_vehicle.try(:vehicle).try(:latitude).to_f},#{shipment_vehicle.try(:vehicle).try(:longitude).to_f}&destinations=#{s.drop_lat.to_f},#{s.drop_lng.to_f}&key=AIzaSyB1HWmKW_bjT7fYjh1wzVHmZ9C5JQFEaLw"
                              response = HTTParty.get(url)
                              durations = response["rows"].first["elements"].first["duration"].blank? ? 0 : (response["rows"].first["elements"].first["duration"]["text"] )  rescue ""
                              distance = response["rows"].first["elements"].first["distance"].blank? ? 0 : (response["rows"].first["elements"].first["distance"]["text"] )  rescue ""

                             %>

                           <%km = distance.split("mi").first.to_f rescue 0
                        
                           km = km*1.6%>

                             Distance Left:<b><%=distance %> (<%=km.round(2)%> KM)</b>

                            <br>
<%
                       

                         if km > 200

                        durations = km / 40 * 3600 ;
                        seconds = (durations % 60)
                        minutes = (durations / 60) % 60
                        hours = durations / (60 * 60)

                        durations = format("%02d:%02d:%02d", hours, minutes, seconds)
                        end        %>
                       ETA:   <b><%= durations%></b>
                       <br>
                      <%= button_tag "show on map", :style => 'float:left;', class:"btn btn-flat btn-success pull-right download_excel" ,:onclick => "myFunction(#{s.id})" %>       
                           
                  </div>
                </div>
              <% end %>
            </div>
             <ol  class="carousel-indicators">
              <%s.shipment_vehicles.each_with_index do |shipment_vehicle, index|%>
                <li data-target="#driversSlider" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
               <% end %>
            </ol>
</tr>
                      <script>   
                        marker.addListener('click', function() {
                            infowindow.open(map, marker);
                        });
                        </script>

                      <hr>
                    
                <%end%>
                </tbody>

              </table>

</div>
</div>


</span>
<script data-turbolinks-eval="false">
    $(document).on('turbolinks:load', function () {
        if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(function(position) {
                initMapWithCenter({lat: position.coords.latitude, lng: position.coords.longitude })
            },function (err) {
                initMapWithCenter({lat: <%= @user_country_coordinates[:lat] %> , lng: <%= @user_country_coordinates[:lng] %> })
                map.setZoom(5)
            })
        }

        markers = [];
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        function clearMarkers() {
          setMapOnAll(null);
        }

        function deleteMarkers() {
          clearMarkers();
          markers = [];
        }
        (function poll() {


            type=document.getElementById("query_category").value
            pickup_location=document.getElementById("query_pickup_location").value
            drop_location=document.getElementById("query_drop_location").value

              url=("/cargo/shipments/get_bulk_coordinates?type="+type+"&pickup_location="+pickup_location+"&drop_location="+drop_location);


            $.ajax({
                url: url,
                type: "POST",
                success: function (data) {
                    deleteMarkers();
                    setMapOnAll(map)
                    
                    $.each(data["coordinates"], function (index, value) {
                        var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map,
                        });
                        // alert(data)
                        
                        markers.push(marker)
                        var infowindow = new google.maps.InfoWindow({
                            content: "<div class=\"map-pin-holder\">\n" +
                            "    <h1>Shipment No. "+value.shipment.id+"</h1>\n" +
                            "    <div class=\"pin-row clearfix\">\n" +
                            "      <div class=\"fleet-col-left\">\n" +
                            "        <div class=\"truck-row\">\n" +
                            "          <span><img src=\"/dyna-truck.png\" alt=\"\" ></span>\n" +
                            "          <span>"+value.shipment.no_of_vehicles + "  X  "+ value.vehicle_type.name+"</span>\n" +
                            "        </div>\n" +
                            "        <div class=\"truck-number\">" + value.vehicle_name +
                                "</div>\n" +
                            "      </div>\n" +
                            "      <div class=\"fleet-col-right\">\n" +
                            "          <div class=\"address-outer\">\n" +
                            "              <div class=\"address-one\">\n" +
                            "                 "+value.pickup_full_address+
                            "              </div>\n" +
                            "              <div class=\"address-two\">\n" +
                            "                  "+value.drop_full_address+
                            "              </div>\n <br><br>" +
                                                            "    <h1>Status :"+value.vehicle_status+"</h1>\n" +
                                                            "    <h1>State :"+value.vehicle_state+"</h1>\n" +
                                                            "    <h1>Last updated :"+value.coordinates_updated_at+"</h1>\n" +



                            "              </div>\n" +
                            "          </div>\n" +
                            "    </div>\n" +
                            "    </div>\n" +
                            "  </div>"
                        });
                        marker.addListener('click', function() {
                            infowindow.open(map, marker);
                        });
                    })
                },
                dataType: "json",
                complete: setTimeout(function () {

                    if ($('.bulk_geocode').length == 1) {
                        poll()    
                    }
                    
                }, 30000),
                timeout: 3000
            })
        })();

    })

$(document).ready(function(){
  updateRangeValue($('input[type=range]'));
  $('input[type=range]').on('input change',function(){
    var input = $(this);
    updateRangeValue(input);
  });    
});
function updateRangeValue(input){
  var value = input.val();
  var maximum = input.attr('max'); 
  var inputWidth = input.width();
  var offLeft = Math.floor((value / maximum) * inputWidth - (((value / maximum) * inputWidth - inputWidth/2) / 100) * 24);    
  var offLeftAbs = value == maximum ? input.offset().left - 15 + offLeft : input.offset().left - 10 + offLeft;
  input.next('.text').css({'left': offLeftAbs +'px'});
  input.next('.text').html(value);
}

$('#driversSlider').bind('slide.bs.carousel', function (e) {
   
    document.getElementById("query_shipment_index").value=e.to;
});

         if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(function(position) {
                initMapWithCenter({lat: position.coords.latitude, lng: position.coords.longitude })
            },function (err) {
                initMapWithCenter({lat: <%= @user_country_coordinates[:lat] %> , lng: <%= @user_country_coordinates[:lng] %> })
                map.setZoom(5)
            })
        }

        markers = [];
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        function clearMarkers() {
          setMapOnAll(null);
        }
        function deleteMarkers() {
          clearMarkers();
          markers = [];
        }
function myFunction(id) {

var index=document.getElementById("query_shipment_index").value;
 if ( index == "undefined")
 {
   index = 0 
 }
  url=("/cargo/shipments/get_bulk_filtered_coordinates?shipment_id="+id+"&index="+index);
         
          (function poll() {
         $.ajax({
                url: url,
                type: "post",
                success: function (data) {
                    deleteMarkers();
                    setMapOnAll(map)
                   value = data["coordinates"][index] 
                        var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map,
                        });
                        // alert(data)
                        markers.push(marker)
                        var infowindow = new google.maps.InfoWindow({
                           content: "<div class=\"map-pin-holder\">\n" +
                            "    <h1>Shipment No. "+value.shipment.id+"</h1>\n" +
                            "    <div class=\"pin-row clearfix\">\n" +
                            "      <div class=\"fleet-col-left\">\n" +
                            "        <div class=\"truck-row\">\n" +
                            "          <span><img src=\"/dyna-truck.png\" alt=\"\" ></span>\n" +
                            "          <span>"+value.shipment.no_of_vehicles + "  X  "+ value.vehicle_type.name+"</span>\n" +
                            "        </div>\n" +
                            "        <div class=\"truck-number\">" + value.vehicle_name +
                                "</div>\n" +
                            "      </div>\n" +
                            "      <div class=\"fleet-col-right\">\n" +
                            "          <div class=\"address-outer\">\n" +
                            "              <div class=\"address-one\">\n" +
                            "                 "+value.pickup_full_address+
                            "              </div>\n" +
                            "              <div class=\"address-two\">\n" +
                            "                  "+value.drop_full_address+
                            "              </div>\n <br><br>" +
                                                            "    <h1>Status :"+value.vehicle_status+"</h1>\n" +
                                                            "    <h1>State :"+value.vehicle_state+"</h1>\n" +
                                                            "    <h1>Last updated :"+value.coordinates_updated_at+"</h1>\n" +



                            "              </div>\n" +
                            "          </div>\n" +
                            "    </div>\n" +
                            "    </div>\n" +
                            "  </div>"
                        });
                            infowindow.open(map, marker);
                       
                  
                },
                dataType: "json",
               
            })
               })();

}



    function populate_data() {
      type = document.getElementById("query_accepted_rate_currency").value;
      urls ='cargo/dashboard/filtered_dashboard?type='+type
      // 22alert (urls)
              $.ajax({
                  url: urls,
                  type: "GET",
                  success: function (data) {
 
                    },                           
               })
                            }

</script>