<div class="card-body">
  <table id= <%= id %> class="table table-bordered table-striped" data-page-length='10'>
    <thead>
    <tr>
      <th>Shipment Number</th>
      <th>Payment Mode</th>
      <th>Paid by Cargo</th>
      <th>Paid to Fleet</th>
      <th>Lorryz Comission Received</th>
      <th>Cancel Penalty Amount Received</th>
      <th>Cargo Company</th>
      <th>Fleet Company</th>
      <th>Invoice Date</th>
      <th>Amount</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% shipments.each do |s|%>
        <tr>
          <td>
            <strong><%= s.id%></strong>
            <div><%=  s.try(:pickup_date).strftime(display_date_format) rescue "" %></div>
          </td>
          <td><%= s.try(:payment_option).try(:camelcase) %></td>
          <% shipment_canceled = s.state == "cancel" ? true : false %>

          <td class = "payment_paid_by_cargo " id = <%= s.id %>  >
            <%= check_box_tag :paid_by_cargo  , s.paid_by_cargo? ,checked = s.paid_by_cargo? ,"data-id": "#{s.id}",disabled: shipment_canceled, class: "payment_paid_by_cargo form-control" %>
          </td>
          <td class = "payment_paid_to_fleet" id = <%= s.id %>  >
            <%= check_box_tag :paid_to_fleet  , s.paid_to_fleet? ,checked = s.paid_to_fleet ,"data-id": "#{s.id}",disabled: shipment_canceled, class: "payment_paid_to_fleet form-control" %>
          </td>
          <td class = "payment_lorryz_comission_received" id = <%= s.id %>  >
            <%= check_box_tag :lorryz_comission_received  , s.lorryz_comission_received? ,checked = s.lorryz_comission_received? ,"data-id": "#{s.id}",disabled: shipment_canceled, class: "payment_lorryz_comission_received form-control" %>
          </td>

          <td class = "cancel_penalty_amount_received" id = <%= s.id %>  >
            <%= check_box_tag :cancel_penalty_amount_received  , s.cancel_penalty_amount_received? ,checked = s.cancel_penalty_amount_received? ,"data-id": "#{s.id}", disabled: !shipment_canceled,class: "cancel_penalty_amount_received form-control"%>
          </td>

          <td><%= s.try(:company).try(:company_name) %></td>

          <td>
          <%= s.try(:fleet).try(:company_name) if !s.is_createdby_admin %>
              <% 
              if s.is_createdby_admin 
              s.shipment_fleets.each do |fleet| %>
               <%= fleet.company.company_name  if fleet.company.present?%>
               
               ,
               <%end%>   <%end%>
          
          </td>          <td><%= s.try(:display_date).strftime(display_date_format) rescue "" %></td>
          <td><%= format_amount_to_currency s.try(:shipment_amount)%></td>
          <td><%=s.try(:state) %>
            <% if s.cancel? && s.cancel_by.present? %>
              ( by <%= s.cancel_by.try(:humanize) %>
              <% if s.cancel_penalty.present? and s.cancel_penalty > 0 %>
                With Penalty
              <%else %>
                Without Penalty
              <%end %>
              )
            <%end %>
            </td>

          <td>
            <%= link_to "Cargo Invoice", admin_invoice_path(s, format: :pdf),target: :_blank, class: "btn btn-warning btn-flat" %>
            <%= link_to "Fleet Invoice", invoice_path(s, format: :pdf),target: :_blank, class: "btn btn-warning btn-flat" %>
          </td>
        </tr>
    <%end%>

    </tbody>
  </table>
</div>
