<div class="receipt-modal-inner">
 <br>
  <hr style="height:3px;border-width:0;color:#0094b9;background-color:#0094b9 ; margin-top :151%"> 

  <b><p style = "text-align:center ; font-size :24px; margin-top :21%">Way Bill</p></b>
  <div class="shipment-number">
     Way Bill Number # <u><%= @shipment.id  %> </u>
  </div>
    <table id="shipments_listing" style="border: none" class="table table-bordered table-striped" data-page-length='10'>
                    <thead style="border: none;;padding-top:-10%" >
                      <tr >
                        <th style="border: none;;padding-left:10%">Date: <u><%= Date.today()%></u> </th>
                        <th style="border: none;">  </th>

                        <th style="border: none;" >Shipment / Job ID:<u> <%= @shipment.id %> </u> </th>
                      </tr>
                           <tr >
                        <th style="border: none;;padding-left:10%">Customer Name: <u><%=  @cargo.formatted_cargo_name%> </u></th>
                        <th style="border: none;">            </th>

                        <th style="border: none;" >Customer Number: <u><%=  @cargo.company_id %> </u> </th>
                      </tr>

                    </thead>
              
                  </table>
 <hr style="height:3px;border-width:0;color:#0094b9;background-color:#0094b9"> 

  <table id="shipments_listing" style="border: none" class="table table-bordered table-striped" data-page-length='10'>
                    <thead style="border: none;;padding-top:-10%" >
                      <tr >
                        <th style="border: none;;padding-left:10%">Origin: <u><%= @shipment.pickup_building_name%></u> </th>

                      </tr>
                           <tr >
                        <th style="border: none;;padding-left:10%">Origing Address: <u><%=  @shipment.pickup_location%> </u></th>

                      </tr>

                    </thead>
              
                  </table>
 <hr style="height:3px;border-width:0;color:#0094b9;background-color:#0094b9"> 



  <table id="shipments_listing" style="border: none" class="table table-bordered table-striped" data-page-length='10'>
                    <thead style="border: none;;padding-top:-10%" >
                      <tr >
                        <th style="border: none;;padding-left:10%">Destination: <u><%= @shipment.drop_building_name%></u> </th>

                      </tr>
                           <tr >
                        <th style="border: none;;padding-left:10%">Destination Address: <u><%=  @shipment.drop_location%> </u></th>

                      </tr>

                    </thead>
              
                  </table>
 <hr style="height:3px;border-width:0;color:#0094b9;background-color:#0094b9"> 





  <table id="shipments_listing" style="border: none" class="table table-bordered table-striped" data-page-length='10'>
                    <thead style="border: none;;padding-top:-10%" >
                      <tr >
                        <th style="border: none;;padding-left:10%">Commodity: <u><%= @shipment.cargo_packing_type%></u> </th>

                      </tr>
                           <tr >
                        <th style="border: none;;padding-left:10%">Weight: <u><%=  @shipment.weight%>  Tons</u></th>

                      </tr>

                    </thead>
              
                  </table>
 <hr style="height:3px;border-width:0;color:#0094b9;background-color:#0094b9"> 


 <table id="shipments_listing" style="border: none" class="table table-bordered table-striped" data-page-length='10'>
                    <thead style="border: none;;padding-top:-10%" >
                      <tr >
                        <th style="border: none;;padding-left:10%">Driver Name: <u><%= @fleet.formatted_cargo_name%></u> </th>

                      </tr>
                           <tr >
                        <th style="border: none;;padding-left:10%">Driver Contact No: <u><%= @fleet.mobile%> </u></th>

                      </tr>
                                        <tr >
                        <th style="border: none;;padding-left:10%">Vehicle Plate No. : <u><%= @fleet.vehicle.registration_number%> </u></th>

                      </tr>

                    </thead>
              
                  </table>


 <hr style="height:3px;border-width:0;color:#0094b9;background-color:#0094b9"> 


 <table id="shipments_listing" style="border: none" class="table table-bordered table-striped" data-page-length='10'>
                    <thead style="border: none;;padding-top:-10%" >
                      <tr >
                        <th style="border: none;;padding-left:10%">Cargo Received in Good Condition</u> </th>

                      </tr>
                           <tr >
                        <th style="border: none;;padding-left:10%">Receiver Name <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u></th>

                      </tr>
                                        <tr >
                        <th style="border: none;;padding-left:10%">Receiver Contact Number : <u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></th>

                   

               <tr>
                        <th style="border: none;;padding-left:10%;padding-top:7%">Receiver Signature : <u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></th>
                          <th style="border: none;padding-top:7%">Receiver Stamp : <u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></th>
   </tr>                 
                    </thead>
                
                  </table>

<div style ="margin-top :20%">

 <hr style="height:3px;border-width:0;color:#0094b9;background-color:#0094b9"> 

<b><p style="text-align:center ; font:14">Trading Under NAFL Terms & Condition.</p></b>

</div>
