
<div class="map-form-bg1 content-wrapper">
  <div class="waiting-trucks <%= @edit ==  true ? 'hide': ''%> hide">
<!--    <span>4,000</span> ! trucks waiting to take your cargo-->
  </div>
  <div class="map-form">
    <h2 class="login-box-msg"><strong><%=@info.company.category.capitalize%> Owner</strong> (Company)</h2>
   <%= form_for(@info, url: add_company_information_companies_path) do |f| %>
    <%= render partial: "/companies/avatar", locals: {f: f,  info: @info} %>
    <div class="form-row">
      <%= f.label "*" , class: "label_required"%>
      <%= f.label "Company Name", "Company Name"%>
      <%= f.text_field :name, autofocus: true,required: true, autocomplete: "Company name",class: "input-field", placeholder: "*Company name" %>

    </div>
   
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat"><%= @edit == true ? "UPDATE" : "SAVE" %></button>
      </div>
    </div>

  <% end %>
  </div>
</div>




