
<div class="content-wrapper map-form-bg1">
  <div class="waiting-trucks <%= @edit ==  true ? 'hide': ''%> hide">
<!--    <span>4,000</span> ! trucks waiting to take your cargo-->
  </div>
  <div class="map-form">
      <h2 class="login-box-msg"><strong><%=@info.company.category.try(:capitalize)%> Owner</strong> (Individual)</h2>
      <%= form_for(@info, url: add_individual_information_companies_path) do |f| %>
          <%#= render 'layouts/error_messages', object: @info %>
          <%= render partial: "/companies/avatar", locals: {f: f,  info: @info} %>
          <% if current_user.fleet_owner? %>
            <div class="form-row">
              <%= label_tag "company[tax_registration_no]", "Tax Registration No." %>
              <%= text_field_tag "company[tax_registration_no]", current_user.company.tax_registration_no, autocomplete: "tax_registration_no", class: "input-field", placeholder: "Tax Registration No." %>
            </div>
          <% end %>
          
          <div class="form-row">
            <label class="label_required">* </label>
            <label> National ID No.</label>
            <%= f.text_field :national_id, autocomplete: "national_id", class: "input-field" ,placeholder:  "*Emirates ID No. " , required: true%>
          </div>
          
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat"><%= @edit == true ? "UPDATE" : "SAVE" %></button>
            </div>
      <%end%>
    </div>
  </div>
</div>
</body>