<p>Hello,</p>
<p>
  <br>
  This is to notify that, shipment # <%= @shipment.id %> have no accepted bid against it.
  <br>
  <b>Cargo Owner:</b> <%= @shipment.try(:company).try(:cargo_owner).try(:first_name) %> <%= @shipment.try(:company).try(:cargo_owner).try(:last_name) %>
  <br>
  <b>Cargo Owner Phone No. :</b> <%= @shipment.try(:company).try(:cargo_owner).try(:mobile) %>
  <br>
  <b>Pickup Location:</b> <%= @shipment.pickup_location %>
  <br>
  <b>Dropoff Location:</b> <%= @shipment.drop_location %>
  <br>
  <b>Type of Vehicle:</b> <%= @shipment.try(:vehicle_type).try(:name) %>
  <br>
  <b>Commodity: </b><%= @shipment.cargo_description %> packing type <%= @shipment.cargo_packing_type %>
  <br>
  <br>
<div class="card-body">
  <table id="shipment_bids" border="1" class="table table-bordered table-striped" data-page-length='10'>
    <thead class="thead-dark">
    <tr>
      <th><b>Bid Id </b></th>
      <th><b>Fleet Owner Name </b></th>
      <th><b>Fleet Owner Number </b></th>
      <th><b>Bid Amount  </b></th>
    </tr>
    </thead>
    <tbody>
    <% @shipment.bids.sort_by{ |a|  a.amount}.each do |bid| %>
      <tr>
        <td><%= bid.id%> | </td>
        <td><%= bid.try(:company).try(:fleet_owner).try(:first_name)%> <%= bid.try(:company).try(:fleet_owner).try(:last_name)%> | </td>
        <td><%= bid.try(:company).try(:fleet_owner).try(:mobile)%> | </td>
        <td><%= number_with_precision(bid.amount, precision: 2)%> | </td>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>
<br>
</p>
<br>
<p>Best,</p>
<br>
<p>Lorryz</p>