<p>Hello,</p>
<p>
  <br>
  This is to notify that new shipment request has been received .
  <br>
  <b>Requestor name : </b><%= @name %>
  <br>
  <br>
  <b>Requestor Country : </b><%= @country %>
  <br>
  <b>RequestorPhone No. :</b> <%= @contact_no %>
  <br>
  <b>Pickup Location:</b> <%= @origin %>
  <br>
  <b>Dropoff Location:</b> <%= @destination %>
  <br>
  <b>Estimated Amount:</b> <%= @amount %>
  <br>
  <br>
  <b>Vehicle Type:</b> <%= @vehicle %>
  <br>
</p>
<br>
<p>Best,</p>
<br>
<p>Lorryz</p>