
    <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Reports</h3>

              <br>

            </div>
            <div class = "card-body">
              <table class="table table-bordered table-striped admin_listings">
                <thead>
                <tr>
                  <% columns = ["date"]
                     reports.each do |r|
                     columns.push(r[:heading])
                     end

                     columns.each do |col|
                  %>
                    <th><%= col.humanize %></th>
                  <%end%>
                </tr>
                </thead>
                <tbody>
                <% if reports.length %>
                <% dates.each do |date|%>
                  <tr>
                    <td> <%= date %>    </td>
                    <% reports.each do |r| %>
                      <% report = r[:report]
                         value = report[date]
                      %>
                      <td>
                        <%= r[:show_value] && r[:show_value].lambda? && value ?
                       r[:show_value].call(value) : r[:show_value_template] && value ?
                       render({partial: r[:show_value_template], locals: {value: value}}) : (value ? value : "") %>
                      </td>
                    <%end%>
                  </tr>
                  <%end%>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
