<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Add New Admin</h3>
              <h2></h2>
            </div>
            <div class="card-body register-card-body">
              <%= form_for @admin_user , url: admin_users_path  do |f|%>
                <%= render 'layouts/error_messages', object: @admin_user %>
                <%=f.hidden_field :role %>

                <div class="form-group">
                  <%= f.label "*" , class: "label_required"%>
                  <%= f.label :first_name%>
                  <%= f.text_field :first_name, autofocus: true,required: true, autocomplete: "First name",class: "form-control", placeholder: "*First name" %>
                </div>

                <div class="form-group">
                  <%= f.label "*" , class: "label_required"%>
                  <%= f.label :last_name%>
                  <%= f.text_field :last_name, autofocus: true,required: true, autocomplete: "*Last name",class: "form-control", placeholder: "*Last name" %>
                </div>

                <div class="form-group clearfix">
                  <%= f.label "*" , class: "label_required"%>
                  <%= f.label :country_id, "Country"%>
                  <div class="selectCity">
                    <%= f.collection_select(:country_id, Country.all, :id, :display_name,{:prompt => "*Country"}, { class: "form-control",required: true} )%>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label "*" , class: "label_required"%>
                  <%= f.label :mobile%>
                  <%= f.text_field :mobile , type: :tel,class: "form-control" ,placeholder:  "*Phone number" , required: true%>
                </div>

                <div class="form-group">
                  <%= f.label :email%>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" ,placeholder:  "Email" %>
                </div>

                <div class="form-group">
                  <%= f.label "*" , class: "label_required"%>
                  <%= f.label :password%>
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control" ,placeholder:  "*Password" , required: true%>

                </div>
                <div class="form-group">
                  <input type="submit" name="" value="Sign Up" class="btn btn-primary btn-block btn-flat">
                </div>

              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>