<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Primary Vehicle Types</h3>
              <br>
              <%= link_to "Add New Primary Vehicle Type" , new_admin_primary_vehicle_path , class: "btn btn-flat btn-success pull-right add_new_vehicle"%>
            </div>
            <div class = "card-body">
              <table class="table table-bordered table-striped admin_listings" data-page-length='50'>
                <thead>
                <tr>
                  <% columns = [ "Name", "Country","Image","Actions"]
                     columns.each do |col|
                  %>
                    <th><%= col %></th>
                  <%end%>
                </tr>
                </thead>
                <tbody>
                <% @pvehicles.sort_by {|vt| vt.country_id}.each do |pvehicles|%>
                  <tr>
                    <td><%= pvehicles.try(:name) %></td>
                    <td><%= Country.find_by_id(pvehicles.try(:country_id)).try(:name) %></td>
                   
                    <td>
                    <% if pvehicles.image_url.present? %>
                        <image src="<%=  pvehicles.image_url.first%>"></image>  
                    <% end %>
                    </td>
                    <td>
                      <%= link_to "Edit", edit_admin_primary_vehicle_path(pvehicles), class: "btn btn-info btn-flat block-btn" %>
                      <%#= link_to "Delete", admin_vehicle_type_path(vehicle_type ),method: :delete, data: { confirm: 'Are you sure?' }, class: "block-btn btn btn-warning btn-flat block-btn" %>
                    </td>
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>