
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :title %>
  <%= f.text_field :title , class: "form-control", placeholder: "* Title" , required: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :slug %>
  <%= f.text_field :slug , class: "form-control", placeholder: "* Slug" , required: :true%>
</div>
<div class="form-group has-feedback" >
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :initial_summary %>
  <%= f.text_area :initial_summary , class: "form-control",style: "height: 150px;" , placeholder: "* Initial Text" , required: :true%>
</div>
<div class="form-group has-feedback" >
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :description %>
  <%= f.text_area :description , 'data-provider': :summernote, class: "form-control",style: "height: 300px;" , placeholder: "* Description" , required: :true%>
</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :image_url %>
  <%= f.file_field :avatar , class: "form-control", placeholder: "* load blog image" , required: :true, style: "width:100%;height:100%"%>
</div>
<div>
  <%= f.submit action  , class: "btn btn-primary btn-block btn-flat"%>
</div>
