<div class = "table-responsive1">
  <table id = "company" class="table table-striped table-hover dt-responsive display nowrap table-bordered table-striped" data-page-length='25'>
  <%if user_type != "Fleet"%>
   <%= link_to "Add Cargo Company" ,  new_moderator_cargo_company_path, class: "btn btn-flat btn-success pull-right download_excel"%>
 
<br><br>

                  <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:moderator_cargo_owners_path, method: :get do |f|%>
                <div class="row ship">
                  <div class="col-md-4 col-sm-4 ">
                   <%= f.label :country %>
                     <div class="selectHolder">
                  <%= f.collection_select :country_id, @countries, :id,:name,{include_blank: "Specify Country?" ,:selected => params[:query][:country_id]},{class: "form-control" } %>
                   </div>

                  </div>
               <div class="col-md-4 col-sm-4 ">
                   <%= f.label :status %>
                   <div class="selectHolder">
                   <%= f.select :status ,options_for_select(["Active", "InActive"] ,:selected => params[:query][:status]), {:prompt => " Status" } , class: "form-control" %>
                   </div>

                  </div>
                  <div class="col-md-4 col-sm-4">
                    <%= f.submit "Search" , class: "btn btn-primary submit-btn" %>
                  </div>
                </div>
                    </form>
                    
  <%end%>
  </div>
        <form action="">
    <h5>Cargo Company Information</h5>
    <div class = "row form-group">
       <div class  =" col-md-3">
           
           <%= text_field_tag :user_id, nil, value: @total_cargo, class: "form-control" ,placeholder:  "User ID"  ,:disabled => true %>
       </div>
       <div class  =" col-md-3">
           <%= text_field_tag :start_date, nil, value:  @busy_cargo, class: "search-datepicker datepick form-control"   ,:disabled => true,placeholder:  "Start Date" %>
       </div>
       <div class  =" col-md-3">
           <%= text_field_tag :end_date ,nil, value: @free_cargo, class: "search-datepicker datepick form-control"  ,:disabled => true ,placeholder:  "End Date"  %>
       </div>
     
    </div>      
<br><br> <%end%>
    <%= company_details_column_names users.try(:sample).try(:fleet_owner?)%>
    <tbody>
    <% users.each do |user|%>
        <tr>

          <td class="details-control">
             <%= user.full_name %>

             </td>
                  <td><%= user.company.try(:company_information).try(:name)%></td>
      <%if user_type != "Fleet"%>   <td><%= if Shipment.filter_by_active_shipments_users(user.company_id,Date.today()-60).length>0 then "Active" else "InActive" end  %></td> <%end%>
    <td><%= user.mobile %></td>
          <td><%= user.email %></td>
      
          <td><%= user.country.try(:name).try(:humanize )%></td>




          <td><%= user.company.try(:company_information).try(:license_number)  %></td>
           <td class = "company_blacklisted" id = <%= user.company.id %> >
            <%= check_box_tag :blacklisted, user.company.blacklisted? , checked = user.company.blacklisted?,"data-id": "#{user.company.id}", class: "form-control company_moderator_blacklisted"%>
          </td>
          <td class = "company_verified" id = <%= user.company.id %> >
            <%= check_box_tag :verified, user.company.verified? , checked = user.company.verified?,"data-id": "#{user.company.id}" ,class: "form-control company_moderator_verified " %>
          </td>
          <td class = "company_featured" id = <%= user.company.id %> >
            <%= check_box_tag :featured ,user.company.featured? ,checked =  user.company.featured?,"data-id": "#{user.company.id}", class: "form-control company_moderator_featured"%>
          </td>
        
     
          <td>
            <%= link_to "View", moderator_show_user_path(user_id: user.id) , class: "btn btn-block btn-success" %>
            <%= link_to "Edit", moderator_edit_user_path(user_id: user.id), class: "btn btn-block btn-info"  if user_type == "Fleet"%>
            <%= link_to fa_icon('eye'), moderator_edit_history_path(user.id), class: "btn btn-block btn-success", style: ' background-color: orange; border:none'  %>

          </td>
        </tr>
    <%end%>
    </tbody>
  </table>
</div>