 <script>
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
}
</script>
  
<div class = "table-responsive1">
  <table id = "individual" class="table table-striped table-hover dt-responsive display nowrap table-bordered table-striped admin_listings" data-page-length='100'>
                  <%if user_type != "Fleet"%>
                           <%= link_to "Add Cargo Individual" ,  new_moderator_cargo_individual_path, class: "btn btn-flat btn-success pull-right download_excel"%>
            <br>        <br>  
              <div class = "row form-group">
       <div class  =" col-md-3">
           
           <%= text_field_tag :user_id, nil, value: @total_cargo_indi, class: "form-control" ,placeholder:  "User ID"  ,:disabled => true %>
       </div>
       <div class  =" col-md-3">
           <%= text_field_tag :start_date, nil, value:  @busy_cargo_indi, class: "search-datepicker datepick form-control"   ,:disabled => true,placeholder:  "Start Date" %>
       </div>
       <div class  =" col-md-3">
           <%= text_field_tag :end_date ,nil, value: @free_cargo_indi, class: "search-datepicker datepick form-control"  ,:disabled => true ,placeholder:  "End Date"  %>
       </div>
     
    </div>      

                  <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:admin_cargo_owners_path, method: :get do |f|%>
           
               <div class="col-md-4 col-sm-4 ">
                   <%= f.label :status %>
                   <div class="selectHolder">
                   <%= f.select :status ,options_for_select(["Active", "InActive"] ,:selected => params[:query][:status]), {:prompt => " Status" } , class: "form-control" %>
                   </div>

                  </div>
                  <div class="col-md-4 col-sm-4">
                    <%= f.submit "Search" , class: "btn btn-primary submit-btn" %>
                  </div>
                </div>
                    </form>
                    
  <%end%>


  
   <%elsif user_type == "Fleet"%>
                 <%= link_to "Add Fleet Individual" ,  new_moderator_fleet_individual_path, class: "btn btn-flat btn-success pull-right download_excel"%>
<br><br>
                  <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:moderator_fleet_owners_path, method: :get do |f|%>
                <div class="row ship">
                  <div class="col-md-4 col-sm-4 ">
                   <%= f.label :country %>
                     <div class="selectHolder">
                  <%= f.collection_select :country_fleet, @countries, :id,:name,{include_blank: "Specify Country?",:selected => params[:query][:country_fleet]},{class: "form-control" } %>
                   </div>

                  </div>
               <div class="col-md-4 col-sm-4 ">
                   <%= f.label :status %>
                   <div class="selectHolder">
                 <%= f.select :status_fleet ,options_for_select(["Free", "Busy"] ,:selected => params[:query][:status_fleet]), {:prompt => " Status" } , class: "form-control" %>

                  </div>

                  </div>
                  <div class="col-md-4 col-sm-4">
                    <%= f.submit "Search" , class: "btn btn-primary submit-btn" %>
                  </div>
                </div>
                    </form>
                    </div>
        <form action="">
    <h5>Fleet Individual Information</h5>
    <div class = "row form-group">
       <div class  =" col-md-3">
           
           <%= text_field_tag :user_id, nil, value: @total_fleet, class: "form-control" ,placeholder:  "User ID"  ,:disabled => true %>
       </div>
       <div class  =" col-md-3">
           <%= text_field_tag :start_date, nil, value:  @busy_fleet, class: "search-datepicker datepick form-control"   ,:disabled => true,placeholder:  "Start Date" %>
       </div>
       <div class  =" col-md-3">
           <%= text_field_tag :end_date ,nil, value: @free_fleet, class: "search-datepicker datepick form-control"  ,:disabled => true ,placeholder:  "End Date"  %>
       </div>
     
    </div>
    <% end %> <%end%>
      <%= individual_details_column_names users.try(:sample).try(:fleet_owner?) %>
    <tbody>
    <% users.each do |user|
    
     @preferred_location = PreferredLocation.find_by_id(user.company.individual_information.try(:preferred_location))%>
         <%if !user.cargo_owner? %>
         <tr>
          <td class="details-control">
          <%= user.full_name %>
          </td>
                 
          <td><%= user.mobile %></td>
          <td><%= user.try(:country).name %></td>

          <td><%= user.vehicle.try(:registration_number) %></td>
              <%@count= @active_fleet_admins.where(:company_id => user.company_id).count + @active_fleets.where(:company_id => user.company_id).count
          if @count >0 
          @status ="Busy"
          else
          @status ="Free"
          end
          %>
          <td>
           <%=@status%>
          </td>
          <td><%= @preferred_location.try(:city_name) %>, <%= @preferred_location.try(:country_name)  %></td>
      
      
       
           <%else %>
          <tr>
             <td class="details-control">
            <%= user.full_name %>
          </td>
          <td><%= user.email %></td>
          <td><%= user.mobile %></td>
                  <td><%= if Shipment.filter_by_active_shipments_users(user.company_id,Date.today()-60).length>0 then "Active" else "InActive" end %></td>

          <td><%= user.country.try(:name).try(:humanize)   %></td>
          <td><%= user.company.try(:individual_information).try(:national_id) %></td>
           <td><%= user.try(:created_at)%></td>
          <%end%>
          <td class = "company_verified" id = <%= user.company.id %>>
            <%= check_box_tag :verified , user.company.verified? ,checked = user.company.verified?,"data-id": "#{user.company.id}", class: "company_moderator_verified form-control"  %>
          </td>
          <td class = "company_featured" id = <%= user.company.id %>  >
            <%= check_box_tag :featured , user.company.featured? ,checked = user.company.featured?,"data-id": "#{user.company.id}", class: "company_moderator_featured form-control" %>
          </td>
          <td class = "company_blacklisted" id = <%= user.company.id %> >
            <%= check_box_tag :blacklisted, user.company.blacklisted? , checked = user.company.blacklisted?,"data-id": "#{user.company.id}", class: "company_moderator_blacklisted form-control" %>
          </td>
          <%if user_type != "Fleet"%>
            <td class = "company_safe_for_cash_on_delivery" id = <%= user.company.id %> >
              <%= check_box_tag :safe_for_cash_on_delivery, user.company.safe_for_cash_on_delivery? , checked = user.company.safe_for_cash_on_delivery?, "data-id": "#{user.company.id}", class: "company_safe_for_cash_on_delivery form-control" %>
            </td>
            <%end%>
         
            
          <td>
            <%= link_to "View", moderator_show_user_path(user_id: user.id) , class: "btn btn-block btn-success" %>
            <%= link_to "Edit",  moderator_edit_user_path(user_id: user.id), class: "btn btn-block btn-info" %>
             <%= link_to "Previous Assignment", moderator_assigned_shipment_path(company_id: user.company_id), class: "btn btn-block btn-success", style: ' background-color: orange; border:none'  if user_type == "Fleet"%>
                     <%= link_to fa_icon('eye'), moderator_edit_history_path(user.id), class: "btn btn-block btn-success", style: ' background-color: orange; border:none'  %>

          </td>
        </tr>
         
    <%end%>
    </tbody>
  </table>
</div>





  
    

