<li class="list-group-item"><label>Upload All Documents :</label>
  <br>
  <% if info.documents.present? %>
    <% info.documents.each do |doc|%>
      <a target="_blank" href="<%= doc %>">
        <img src="<%= doc %>" alt="document" class = "document_thumbnail">
      </a>
    <% end %>
  <%end%>
</li>