<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Cargo Contracts</h3>
            </div>
            <div class = "card-body">
              <table class="table table-bordered table-striped admin_listings" data-page-length='10'>
                <thead>
                <tr>
                  <% columns = ["pickup_location", "drop_location", "rate", "country_id", "Actions"]
                     columns.each do |col|
                  %>
                  <th><%= col.humanize %></th>
                  <%end%>
                </tr>
                </thead>
                <tbody>
                <% @locations.each do |location|%>
                  <tr>
                    <td><%= location.try(:pickup_location) %></td>
                    <td><%= location.try(:drop_location) %></td>
                    <td><%= location.try(:rate) %></td>
                    <td><%= location.try(:country).try(:name).try(:humanize) %></td>
                    <td>
                      <%= link_to "Edit", edit_admin_location_path(location), class: "btn btn-info btn-flat" %>
                    </td>
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>