<div id="map" class="bulk_geocode"></div>

<script data-turbolinks-eval="false">
    $(document).on('turbolinks:load', function () {
        if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(function(position) {
                initMapWithCenter({lat: position.coords.latitude, lng: position.coords.longitude })
            },function (err) {
                initMapWithCenter({lat: <%= @user_country_coordinates[:lat] %> , lng: <%= @user_country_coordinates[:lng] %> })
                map.setZoom(7)
            })
        }

        markers = [];
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        function clearMarkers() {
          setMapOnAll(null);
        }

        function deleteMarkers() {
          clearMarkers();
          markers = [];
        }
     

    })

</script>