<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "card-body">
          <div class="card">
            <div class="card-header p-0">
              <h2 class="card-title1 p-3"><%= t "devise.invitations.new.header" %></h2>
              <h2></h2>
            </div>
            <div class="card-body register-card-body">
              <h2><%#= t "devise.invitations.new.header" %></h2>
              <div class="col-sm-5">
              <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
                  <%#= devise_error_messages! %>
                  <%= render 'layouts/error_messages', object: resource %>

                  <% resource.class.invite_key_fields.each do |field| -%>
                      <p><%= f.label field %><br />
                        <%= f.text_field field , class: "form-control" %></p>
                  <% end -%>

                  <p><%= f.submit t("devise.invitations.new.submit_button") ,  class: "btn btn-success btn-flat"%></p>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>