<%= render 'layouts/error_messages', object: @admin_country %>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :code %>
  <%= f.text_field :code, class: "form-control", placeholder: "* Code" , required: :true%>
</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :primary_category, 'Primary Vehicle' %>
  <%= f.collection_select(:primary_category, PrimaryVehicle.all, :id, :name,{:prompt => "*primary category"}, { class: "form-control"} )%>
  <%# f.select :country_id ,options_for_select(ISO3166::Country.all_translated),  {:prompt => "* Name" } ,class: "form-control" , required: :true, disabled: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :name %>
  <%= f.text_field :name , class: "form-control", placeholder: "* Name" , required: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :country, 'countries' %>
  <%= f.collection_select(:country_id, Country.all, :id, :display_name,{:prompt => "*Country"}, { class: "form-control"} )%>
  <%# f.select :country_id ,options_for_select(ISO3166::Country.all_translated),  {:prompt => "* Name" } ,class: "form-control" , required: :true, disabled: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :fleet_penalty_amount %>
  <%= f.text_field :fleet_penalty_amount , class: "form-control", placeholder: "* Fleet penalty amount" , required: :true%>
</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :cargo_penalty_amount %>
  <%= f.text_field :cargo_penalty_amount , class: "form-control", placeholder: "* Cargo penalty amount" , required: :true%>
</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :base_rate %>
  <%= f.number_field :base_rate , class: "form-control", placeholder: "* Base rate" , step: :any,
                   min: 1 ,title: "Value Must be greater than equal to one.",  required: :true%>
</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :free_kms %>
  <%= f.number_field :free_kms , class: "form-control", placeholder: "* Free kms" , required: :true%>
</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :rate_per_km %>
  <%= f.number_field :rate_per_km , class: "form-control", placeholder: "* Rate per km" , step: :any,
                   min: 1 , required: :true , title: "Value Must be greater than equal to one."%>
</div>


<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label "Waiting charges per hour" %>
  <%= f.number_field :waiting_charges , class: "form-control", placeholder: "* Waiting charges" , required: :true%>
</div>


<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :load_unload_free_hours %>
  <%= f.number_field :load_unload_free_hours , class: "form-control", placeholder: "* load unload free hours" , required: :true%>
</div>





 <div class="form-group has-feedback">
                <div class = "form-group has-feedback attachment" >
                  <%= f.hidden_field :image_url, multiple: true, class: "js-signed-upload-value"  %>
                  <input type="file" class="js-signed-upload"  multiple data-presign-url="<%=  presign_upload_moderator_fleet_individual_index_path %>" />
                  <div class = "attached_files container">
                    <p class="js-signed-upload-status">
                      <% if @vehicle_type.image_url.present? %>
                        <ul class = "documents_list">
                          <%@vehicle_type.image_url.each do |doc| %>
                            <li>
                              <a target="_blank" href="<%= doc %>">
                                <img src="<%= doc %>" alt="PDF document" class = "document_thumbnail"> <p class="remove_thumbnail" style="text-decoration : none" >delete</p>    
                              </a>
                            </li>
                          <%end %>
                        </ul>
                    <% end %>
                    </p>
                  </div>
                </div>
              </div>




<div>
  <%= f.submit action  , class: "btn btn-primary btn-block btn-flat"%>
</div>

<script>
    $(".remove_thumbnail").click(function (e) {
        e.preventDefault()
        value = $(this).parents(".form-group").find(".js-signed-upload-value").val()
        value = value.split(" ")
        remove_url = $(this).parents("a").attr("href")
        index = value.indexOf(remove_url)
        value.splice(index, 1)
        $(this).parents(".form-group").find(".js-signed-upload-value").val(value.join(" "))
        $(this).parents("a").addClass("hide")
    })
</script>