<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Vehicle Types</h3>
              <%= render partial: "/shared/download_excel" %>
              <br>
              <%= link_to "Add New Vehicle Type" , new_admin_vehicle_type_path , class: "btn btn-flat btn-success pull-right add_new_vehicle"%>
            </div>
            <div class = "card-body">
              <table class="table table-bordered table-striped admin_listings" data-page-length='50'>
                <thead>
                <tr>
                  <% columns = ["Code", "Name", "Country", "Fleet Owner Penalty Amount", "Cargo Owner Penalty Amount", "Base/Min Rate", "Free KMS", "Rate per KM", "Waiting Charges/HR", "Loading+Unloading Free Hours","Image","Actions"]
                     columns.each do |col|
                  %>
                    <th><%= col %></th>
                  <%end%>
                </tr>
                </thead>
                <tbody>
                <% @vehicle_types.sort_by {|vt| vt.country_id}.each do |vehicle_type|%>
                  <tr>
                    <td><%= vehicle_type.try(:code) %></td>
                    <td><%= vehicle_type.try(:name) %></td>
                    <td><%= vehicle_type.try(:country).try(:name) %></td>
                    <td><%= format_amount_to_currency vehicle_type.try(:fleet_penalty_amount) %></td>
                    <td><%= format_amount_to_currency vehicle_type.try(:cargo_penalty_amount) %></td>
                    <td><%= vehicle_type.try(:base_rate) %></td>
                    <td><%= vehicle_type.try(:free_kms) %></td>
                    <td><%= vehicle_type.try(:rate_per_km) %></td>
                    <td><%= vehicle_type.try(:waiting_charges) %></td>
                    <td><%= vehicle_type.try(:load_unload_free_hours) %></td>
                    <td>
                    <% if vehicle_type.image_url.present? %>
                        <image src="<%=  vehicle_type.image_url.first%>"></image>  
                    <% end %>
                    </td>
                    <td>
                      <%= link_to "Edit", edit_admin_vehicle_type_path(vehicle_type), class: "btn btn-info btn-flat block-btn" %>
                      <%#= link_to "Delete", admin_vehicle_type_path(vehicle_type ),method: :delete, data: { confirm: 'Are you sure?' }, class: "block-btn btn btn-warning btn-flat block-btn" %>
                    </td>
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>