
<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Add Cargo Individual</h3>
              <h2></h2>
            </div>
            <div class="card-body register-card-body">
     <%= form_for @info, :url  => { :action => "add_cargo_individual_information" } do |f| %>
       <%= render partial: "avatar", locals: {f: f,  info: @info} %>
  
                              <%=f.hidden_field :userid ,value: @current_cargo.id %>
           <div class="form-row">
            <%= f.label "Secondary Mobile No", "Secondary Mobile No."%>
      
            <%= f.text_field :secondary_mobile_no, autofocus: true, autocomplete: "secondary_mobile_no",class: "input-field", placeholder: "Secondary Mobile No" %>
          </div>
    <br>
          <div class="form-row">
            <%= f.label "Landline No.", "Landline No."%>
                     

            <%= f.text_field :landline_no, autofocus: true, autocomplete: "landline_no",class: "input-field" ,placeholder:  "Landline No." %>
          </div> <br>
          <div class="form-row">
            <label> National ID.</label>
                   
            <%= f.text_field :national_id, autocomplete: "national_id", class: "input-field" ,placeholder:  "*National ID  " %>
          </div>   <br>
          <div class="form-row">
            <%= f.label "Expiry Date", "Expiry Date"%>
                   
            <%= f.text_field :expiry_date , autocomplete: "datepicker expiry_date", class: "datepicker input-field" ,placeholder:  "*Expiry Date" %>            
          </div>
             <br>
                <label>Upload All Documents together</label>
           
          <%= render partial: "/companies/attachments", locals: {f: f,  info: @info} %>
          <div class="col-12 sign_up_terms">
              <div class="checkbox icheck">
                <label>
                  <%=f.check_box :news_update , {checked: (@info.new_record? or @info.news_update?)}%>Please send me product updates, news, tips, events, industry insights etc. regularly.
                </label>
              </div>
            </div>

      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat"><%= @edit == true ? "UPDATE" : "SAVE" %></button>
      </div>
    </div>

  <% end %>











    </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>






