<% if object.present?  and object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <!--<p><strong>This form contains <%#= pluralize(object.errors.count, 'error') %>.</strong></p>-->
        <ul>
          <% object.errors.full_messages.each do |msg| %>
              <li class = "alert alert-info"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
<%elsif flash.present?  %>
    <div id="error_explanation">
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <ul>
          <% flash.each do |key, value|
            if value.kind_of?(Array)%>
              <ul>
                <%value.each do |value|%>
                  <li class="alert alert-info"><%= value %></li>
                <%end%>
              </ul>
            <%else%>
                <li class="alert alert-<%= key %>"><%= value %></li>
            <%end
          end %>
        </ul>
      </div>
    </div>
<% end %>