<div class="header-holder">
  <div class="header-container">
    <div class="row">
      <div class="col-8 col-sm col-md-3">
        <div class="logo">
          <a  class="page-scroll" href="<%= root_path %>"><%= image_tag 'lorryz-logo.png' , alt: ""%></a>
        </div>
      </div>
      <div class="col-4 col-sm col-md-9">
      	<div class="menu-btn">
            <div class="navi-icon right-menu">
             <span></span>
             <span></span>
             <span></span>
             <span></span>
           </div>
        </div>
        <div class="navigation-holder">
          <ul class="navigation">
            <% if user_signed_in? %>
            <li> <a  class="page-scroll" href="<%= dashboard_index_path %>">Home</a> </li>
            <% else %>
            <li> <a  class="page-scroll" href="<%= params[:action] == 'home' ? '/#home': request.base_url+'#home'%>">Home</a> </li>
            <% end %>
            <li> <a  class="page-scroll" href="/#how-it-works" class="page-scroll">How it works</a> </li>
            <li> <a  class="page-scroll" href="<%= params[:action] == 'home' ? '/#about-us': request.base_url+'#about-us'%>" class="page-scroll">About us</a> </li>
            <!-- <li> <a  class="page-scroll" href="#">Testimonials</a> </li> -->
            <li> <a  class="page-scroll" href="<%= track_index_path %>">Track</a> </li>
            <li> <a  class="page-scroll" href="" data-toggle="modal" data-target="#contact_us">Contact us</a> </li>
            <li> <a  class="page-scroll" href="<%= blogs_path %>">Blog</a> </li>
            <%if current_user.present? %>
              <li><a  class="page-scroll" href="<%= dashboard_index_path %>" class="">Dashboard</a></li>
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete%></li>
            <%else%>
              <%#debugger %>
              <li><a  class="page-scroll <%= request.path == "/users/sign_in" ? "active" : "" %>" href="<%= user_session_path %>">login</a></li>
              <li><a  class="page-scroll <%= request.path == "/users/sign_up" ? "active" : "" %>" href="<%= new_user_registration_path %>" >signup</a></li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>