<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.t 'title' %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'admin_application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="turbolinks-cache-control" content="no-cache">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1HWmKW_bjT7fYjh1wzVHmZ9C5JQFEaLw&libraries=places&callback=initMap"></script>
  <%= favicon_link_tag('favicon-32x32.png') %>
</head>
<%= render partial: "layouts/google_analytics"%>
<%link_to  "Logout",destroy_user_session_path  , method: :delete%>
<!--<br>-->
<%link_to  "Log in",new_user_session_path %>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <nav class="main-header navbar navbar-expand border-bottom navbar-dark bg-info navbar-fixed-top">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link openmenu" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <%= link_to "Home", root_path , class: "nav-link"%>
        <!--<a href="index3.html" class="nav-link">Home</a>-->
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <%= link_to "Logout", destroy_user_session_path,:method => :delete , class: "nav-link"%>
      </li>
    </ul>



  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link bg-white">
      <span><%= image_tag 'lorryz.png' , alt: "AdminLTE Logo", class: "brand-image" , style: "opacity: .8" %></span>
      <span class="brand-text font-weight-light"><%= current_user.role.humanize.split(" ").first rescue "" %></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <!-- Sidebar Menu -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <a href = "#">
            <%= image_tag "user8-128x128.jpg", class: "img-circle elevation-2" ,alt: "User Image" %>
          </a>
        </div>
        <div class="info">
          <a href="#"><span><%=current_user.try(:full_name)%></span></a>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
              
                <li class="nav-item">
            <%= link_to '/admin/onlinedrivers' , class: "nav-link #{@driver_link}" do%>
                <i class="fa fa-file nav-icon"></i>
                <p>Dashboard</p>
            <%end%>
          </li>
              
               <li class="nav-item">
            <%= link_to admin_gps_vehicle_index_path , class: "nav-link #{@gps_link}" do%>
                <i class="fa fa-bookmark nav-icon"></i>
                <p>GPS</p>
            <%end%>
            </a>
          </li>
           <li class="nav-item">
            <%= link_to admin_shipment_posted_path , class: "nav-link #{@shipment_dashboard_link}" do%>
                <i class="fa fa-user-circle-o nav-icon"></i>
                <p>Shipments Dashboard</p>
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to admin_cargo_owners_path , class: "nav-link #{@cargo_owners_link}" do%>
                <i class="fa fa-user-circle-o nav-icon"></i>
                <p>Cargo Owners</p>
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to admin_fleet_owners_path, class: "nav-link #{@fleet_owners_link}" do%>
                <i class="fa fa-truck nav-icon"></i>
                <p>Fleet Owners</p>
            <%end%>
          </li>
             <li class="nav-item">
            <%= link_to admin_vendor_index_path, class: "nav-link #{@vendors_link}" do%>
                <i class="fa fa-briefcase nav-icon"></i>
                <p>Vendors</p>
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to admin_countries_path , class: "nav-link #{@countries_link}" do%>
                <i class="fa fa-flag nav-icon"></i>
                <p>Countries</p>
            <%end%>
            </a>
          </li>
            <li class="nav-item">
            <%= link_to admin_soa_index_path , class: "nav-link #{@soa_link}" do%>
                <i class="fa fa fa-sticky-note-o nav-icon"></i>
                <p>SOA</p>
            <%end%>
            </a>
          </li>

             <li class="nav-item">
            <%= link_to admin_preferred_location_index_path , class: "nav-link #{@preferred_location_link}" do%>
                <i class="fa fa-building nav-icon"></i>
                <p>Preferred Location</p>
            <%end%>
            </a>
          </li>
             <li class="nav-item">
            <%= link_to admin_primary_vehicle_index_path , class: "nav-link #{@pvehicles_link}" do%>
                <i class="fa fa-bus nav-icon"></i>
                <p>Primary Vehicles </p>
            <%end%>
          </li>

          <li class="nav-item">
            <%= link_to admin_vehicle_types_path , class: "nav-link #{@vehicle_types_link}" do%>
                <i class="fa fa-bus nav-icon"></i>
                <p>Vehicle Types</p>
            <%end%>
          </li>
          <li class="nav-item hide">
            <%= link_to admin_locations_path, class: "nav-link #{@locations_link}" do %>
              <i class="fa fa-circle-o nav-icon"></i>
              <p>Contractual Locations</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_shipments_path , class: "nav-link #{@shipment_link}" do%>
                <i class="fa fa-dashboard nav-icon"></i>
                <p>Shipments</p>
            <%end%>
          </li>

          <li class="nav-item">
            <%= link_to admin_users_path , class: "nav-link #{@users_link}" do%>
                <i class="fa fa-users nav-icon"></i>
                <p>Users</p>
            <%end%>
          </li>

          <li class="nav-item">
            <%= link_to admin_payments_path , class: "nav-link #{@payments_link}" do%>
                <i class="fa fa-money  nav-icon"></i>
                <p>Payments</p>
            <%end%>
          </li>

          <li class="nav-item">
            <%= link_to admin_change_destination_requests_path , class: "nav-link #{@destination_link}" do%>
                <i class="fa fa-map-marker nav-icon"></i>
                <p>Change Destination Requests</p>
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to '/admin/reports' , class: "nav-link #{@reports_link}" do%>
                <i class="fa fa-file nav-icon"></i>
                <p>Reports</p>
            <%end%>
          </li>
          <% if current_user.superadmin? %>
            <li class="nav-item">
              <%= link_to activities_index_path , class: "nav-link #{@activities_link}" do%>
                <i class="fa fa-history nav-icon"></i>
                <p>User Activity Logs</p>
              <%end%>
            </li>
          <li class="nav-item">
            <%= link_to admin_blogs_path , class: "nav-link #{@blohs_link}" do%>
                <i class="fa fa-file nav-icon"></i>
                <p>Blog Manager</p>
            <%end%>
          </li>
          
          <li class="nav-item">
            <%= link_to admin_pages_path , class: "nav-link #{@activities_link}" do%>
                <i class="fa fa-file nav-icon"></i>
                <p>Pages</p>
            <%end%>
          </li>
          <%end %>
          

          <%# if current_user.superadmin? %>
<!--            <li class="nav-item">-->
              <%#= link_to admin_change_destination_requests_path , class: "nav-link #{@admins_link}" do%>
<!--                <i class="fa fa-user-secret nav-icon"></i>-->
<!--                <p>Admin Users</p>-->
              <%#end%>
<!--            </li>-->
          <%#end %>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <%= render partial: "layouts/flash" %>
  <%= yield %>
  <div class=" modal fade" id = "rate_shipment_modal" role="" ></div>
  <div class=" modal fade" id = "shipment_invoice_modal" role="" ></div>
  <div class= "modal fade"  id="assign_vehicle_modal" role=""  ></div>
  <div class= "modal fade"  id="assign_cost_modal" role=""  ></div>
    <div class= "modal fade"  id="change_password_modal" role=""  ></div>

</div>
</body>
</html>