<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.t 'title' %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'theme_application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="turbolinks-cache-control" content="no-cache">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1HWmKW_bjT7fYjh1wzVHmZ9C5JQFEaLw&libraries=places"></script>
  <%= favicon_link_tag('favicon-32x32.png') %>
</head>
<%link_to  "Logout",destroy_user_session_path  , method: :delete%>
<%link_to  "Log in",new_user_session_path %>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom navbar-fixed-top">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link openmenu" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <%= link_to "Home",root_path , class: "nav-link"%>
      </li>
     <!--  <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li> -->
<!--      <li class="nav-item d-none d-sm-inline-block">-->
        <%#= link_to "Logout", destroy_user_session_path,:method => :delete , class: "nav-link"%>
<!--      </li>-->
    </ul>
    <%= render partial: "/layouts/notifications" , locals: {notifications: Notification.from_last_week(current_user) }%>
    <%= render partial: "/layouts/profile_options"%>
  </nav>
  <%= render partial: "layouts/google_analytics"%>
  <%= render partial: "layouts/sidebar" %>
  <%= render partial: "layouts/flash" %>
  <%= yield %>
  <div class="modal fade" id="bid_modal" role="dialog"></div>
  <div class= "modal fade"  id="change_driver_modal" role=""  ></div>
  <div class= "modal fade"  id="assign_vehicle_modal" role=""  ></div>
  <div class=" modal fade" id = "rate_shipment_modal" role="" ></div>
  <div class=" modal fade" id = "fleet_cancel_shipment_modal" role="" ></div>
  <div class=" modal fade" id = "shipment_invoice_modal" role="" ></div>
</div>
</body>
</html>
