<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Edit <%= resource_name.to_s.humanize %></h3>
            </div>
            <div class = "card-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render 'layouts/error_messages', object: resource %>
              <%#= devise_error_messages! %>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :first_name%>
                <%= f.text_field :first_name, autofocus: true,required: true, autocomplete: "First name",class: "form-control", placeholder: "*First name" %>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :last_name%>
                <%= f.text_field :last_name, autofocus: true,required: true, autocomplete: "*Last name",class: "form-control", placeholder: "*Last name" %>
              </div>

              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :mobile, "Mobile No."%>
                <%= text_field_tag "mobile_number","#{resource.mobile}" , type: :tel,class: "form-control" ,placeholder:  "*Phone number" , required: true, disabled: true%>
              </div>

              <div class="form-group">
                <%= f.label :email%>
                <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" ,placeholder:  "Email" %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="form-group">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "new-password",class: "form-control" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control" %>
              </div>

              <div class="actions">
                <%= f.submit "Update" ,class: "btn btn-primary" %>
              </div>
            <% end %>
            </div>

<!--            <h3>Cancel my account</h3>-->

<!--            <p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

            <%#= link_to "Back", :back %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
